.general-form-modal {
  background-color: #fff;
  width: 734px;
  height: 553px;
  display: flex;

  .header-container {
    height: 90px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ddd;

    .header-title {
      font-size: 36px;
      font-weight: bold;
      font-family: 'Open Sans';
      display: inline;
    }
  }

  .form-content-container {
    padding: 30px;
    height: 373px;
    display: flex;
  }

  .footer-container {
    padding: 0 30px;
    border-top: 1px solid #ddd;
    height: 90px;
    display: flex;
    justify-content: flex-end;

    .dialog-action-btn {
      margin-left: 20px;
    }
  }
}
