.post-experiment-rule-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;

  mat-form-field {
    width: 45%;
    color: var(--grey-6);
    font-family: 'Open Sans';
    font-size: var(--text-size-small);
    font-weight: 600;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  .btn-back {
    margin-left: 0 !important;
  }
}
