.duplicate-segment-dialog {
  .name {
    width: 70%;
    line-height: 18px;

    &-input {
      line-height: 18px;
    }
  }

  .description {
    width: 100%;
    line-height: 18px;

    &-input {
      line-height: 18px;
    }
  }

  &-actions {
    justify-content: flex-end;
    margin: 0;

    .duplicate-btn {
      background-color: var(--blue) !important;
      width: 120px;
    }
  }
}
