$white-background: #f0f2f9;

mat-drawer-container {
  width: 100%;
  height: 100%;
}

mat-drawer {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  width: 243px;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .logo {
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    padding: 0 26px;
    height: 150px;

    &-link {
      margin-bottom: 22px;
      text-decoration: none;
      color: var(--blue);
    }
  }

  .list-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 43px;
    height: 100%;

    .list {
      padding: 0 26px;

      ::ng-deep .mat-list-item-content {
        padding: 0;
      }

      .nav-item {
        cursor: pointer;
        padding: 0.75rem 1rem;
        width: 100%;
        text-align: inherit;
        text-decoration: none;
        color: var(--black-2);
        user-select: none;

        .icon {
          margin-right: 5px;

          &--activated {
            margin-right: 5px;

            ::ng-deep #Logs--Error {
              fill: var(--white);
            }
          }
        }

        &.selected {
          border-radius: 7px;
          background-color: var(--blue);
          color: var(--white);

          ::ng-deep svg {
            fill: white;
          }
        }
      }
    }
  }

  .profile {
    text-decoration: none;
    color: var(--black-2);
  }

  .user {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    padding: 1rem;

    &-list {
      &--item {
        &-selected {
          border-radius: 7px;
          background-color: var(--blue);

          span {
            color: var(--white);
          }
        }
      }
    }

    &-pic {
      margin-right: 10px;
      border: 1px solid var(--blue);
      border-radius: 50%;
      width: 26px;
      height: 26px;
    }

    .logout-link {
      margin-top: 10px;

      &:hover {
        cursor: pointer;
      }

      ::ng-deep svg {
        transform: rotate(180deg);
        margin-right: 10px;
        width: 26px;
        height: 20px;
      }
    }
  }
}

.drawer__main-content {
  background-color: $white-background;

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-height: 50px;

    .theme-selector {
      display: flex;
      justify-content: flex-end;
      padding-right: 2.75rem;
    }
  }
}
