@import '~@angular/material/theming';

@mixin dashboard-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  mat-drawer {
    box-shadow: 0 0 8px 0 mat-color($background, shadow-color);
  }

  .drawer-container {
    .logo,
    .user {
      box-shadow: 0 0 8px 0 mat-color($background, shadow-color);
    }

    .list-item-container {
      .nav-item {
        color: mat-color($foreground, text);
      }
    }
  }

  .drawer__main-content {
    background-color: mat-color($background, background);

    .theme-selector {
      color: mat-color($foreground, text);
    }
  }
}
