<mat-drawer-container [class]="theme$ | async">
  <mat-drawer mode="side" opened>
    <div class="drawer-container">
      <div class="logo">
        <!-- TODO: Replace with actual logo -->
        <a class="logo-link" [routerLink]="['/home']">UpGrade</a>
      </div>
      <div class="list-item-container">
        <mat-list class="list">
          <mat-list-item *ngFor="let link of routeLinks">
            <a
              class="nav-item"
              routerLinkActive="selected"
              [routerLink]="link.path"
              #linkInfo="routerLinkActive"
            >
              <app-shared-icons
                [ngClass]="linkInfo.isActive ? 'icon--activated' : 'icon'"
                [iconType]="link.iconType"
              ></app-shared-icons>
              {{ link.text | translate }}
            </a>
          </mat-list-item>
        </mat-list>
        <div class="user">
          <ng-container *ngIf="currentUser$ | async as user">
            <img [src]="user.imageUrl" class="user-pic" />
            <span>{{ user.name }}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="drawer__main-content">
    <div class="drawer__main-content-header">
      <mat-form-field class="theme-selector">
        <mat-select [ngModel]="theme$ | async" (ngModelChange)="changeTheme($event)">
          <mat-option *ngFor="let theme of themeOptions" [value]="theme.value">
            {{ theme.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-shared-icons class="logout-btn" (click)="logout()" [iconType]="'logout'"></app-shared-icons>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
