<div class="import-segment-container">
  <span class="ft-24-700 title">{{ 'segments.import-segment.text' | translate | titlecase }}</span>

  <div class="import-segment-body">
    <ng-container>
      <mat-slide-toggle class="toggle-button" color="primary" [(ngModel)]="toggleValue" (change)="clearSegmentArray()">Import CSV</mat-slide-toggle>
      <div *ngIf="toggleValue">
        <a href="#" (click)="downloadSampleCSV()">
          <p class="ft-16-400">
            {{ 'segments.download-segmemt-csv-sample.message.text' | translate }}
          </p>
        </a>
        <p class="ft-16-400 import-message">
          {{ 'segments.import-segmemt-csv.message.text' | translate }}
        </p>
        <input accept=".csv" type="file" multiple class="ft-14-400 file-input" (change)="uploadFile($event)" />
      </div>
      <div *ngIf="!toggleValue">
        <p class="ft-16-400 import-message">
          {{ 'segments.import-segmemt.message.text' | translate }}
        </p>
        <input accept=".json" type="file" multiple class="ft-14-400 file-input" (change)="uploadFile($event)" />
      </div>
    </ng-container>
  </div>

  <div class="button-container">
    <button class="shared-modal--modal-btn" mat-raised-button (click)="onCancelClick()">
      {{ 'global.cancel.text' | translate }}
    </button>
    <button
      mat-raised-button
      class="shared-modal--modal-btn default-button"
      [ngClass]="{
        'default-button--disabled':
          uploadedFileCount === 0
      }"
      [disabled]="
        uploadedFileCount === 0
      "
      (click)="importSegments()"
    >
      {{ 'global.import.text' | translate }}
    </button>
  </div>
</div>
