<div class="import-segment-container">
  <span class="ft-24-700 title">{{ 'segments.import-segment.text' | translate | titlecase }}</span>

  <div class="import-segment-body">
    <ng-container>
      <p class="ft-16-400 import-message">
        {{ 'segments.import-segmemt.message.text' | translate }}
      </p>
      <input accept=".json" type="file" multiple class="ft-14-400 file-input" (change)="uploadFile($event)" />
    </ng-container>
  </div>

  <div class="button-container">
    <button class="shared-modal--modal-btn" mat-raised-button (click)="onCancelClick()">
      {{ 'global.cancel.text' | translate }}
    </button>
    <button
      mat-raised-button
      class="shared-modal--modal-btn default-button"
      [ngClass]="{
        'default-button--disabled':
          uploadedFileCount === 0
      }"
      [disabled]="
        uploadedFileCount === 0
      "
      (click)="importSegments()"
    >
      {{ 'global.import.text' | translate }}
    </button>
  </div>
</div>
