:host ::ng-deep simple-notifications .sn-content {
  font-size: 12px;
}

:host ::ng-deep simple-notifications .sn-title {
  font-size: 16px;
}

:host ::ng-deep simple-notifications .simple-notification.success {
  background-color: #3466ff;
}

:host ::ng-deep simple-notifications .simple-notification {
  width: 120%;
  border-radius: 5px;
}
