@import '../../styles/styles-variables.less';
@import '../../theme.less';

.apply-component-theme(@theme) {
  .get-theme-colors(@theme);

  &.layout {
    height: 100vh;

    .row {
      height: 100%;

      .sidebar {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 5px #808080;
        background-color: @primary-color;
        height: 100%;

        .logo {
          display: flex;
          align-items: flex-end;
          box-shadow: 0 5px 5px @light-grey;
          height: 150px;

          span {
            margin: 0 0 10px 20px;
            color: @blue;
            font-size: @text-size-xxxxx-large;
            font-weight: bold;
          }
        }

        .list-item-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 50px;
          padding: 10px;
          height: 100%;

          .list {
            border: 0;
            background-color: unset;

            li {
              height: auto;

              &.ant-menu-item-selected {
                background-color: unset;
              }

              a {
                padding: 5px 5px 5px 15px;

                &.selected {
                  border-radius: 10px;
                  background-color: @blue;
                  color: @white;
                }
              }
            }
          }

          .username {
            border-top: 2px solid @light-grey;
            padding: 0.875rem 0.375rem;
          }
        }
      }

      .content {
        padding-left: 10px;
        height: 100%;
      }
    }
  }
}
