<nz-layout class="layout" [ngClass]="theme$ | async">
  <div nz-row class="row">
    <div nz-col nzSpan="4" class="sidebar">
      <div class="logo">
        <span>LOGO</span>
      </div>

      <div class="list-item-container">
        <ul nz-menu class="list">
          <li nz-menu-item>
            <a routerLinkActive="selected" [routerLink]="['/home']">
              <i nz-icon nzType="file-done"></i>
              <span [innerHTML]="'global.experiment.title' | translate"></span>
            </a>
          </li>
          <li nz-menu-item>
            <a routerLinkActive="selected" [routerLink]="['/audit']">
              <i nz-icon nzType="menu"></i>
              <span [innerHTML]="'global.audit-logs.title' | translate"></span>
            </a>
          </li>
        </ul>
        <span class="username">{{ 'global.username.title' | translate }}</span>
      </div>
    </div>
    <div nz-col nzSpan="20" class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</nz-layout>
