<app-common-dialog
  [title]="data.title"
  [cancelBtnLabel]="data.cancelBtnLabel"
  [primaryActionBtnLabel]="data.primaryActionBtnLabel"
  [primaryActionBtnColor]="data.primaryActionBtnColor"
  [primaryActionBtnDisabled]="isImportActionBtnDisabled | async"
  (primaryActionBtnClicked)="importFiles()"
>
  <div class="drag-drop-container">
    <ng-container *ngIf="!(isLoadingImportFeatureFlag$ | async); else loadingSpinner">
      <ng-container *ngIf="(uploadedFileCount | async) < 1; else validationTable">
        <app-common-import-container
          fileType=".json"
          buttonLabel="Choose JSON"
          (filesSelected)="handleFilesSelected($event)"
        >
        </app-common-import-container>
        <p class="ft-12-400 import-message">
          <span *ngIf="data.title === 'Import Feature Flag'">
            {{ 'feature-flags.import-feature-flag.message.text' | translate }}
          </span>
          <span *ngIf="data.title === 'Import List'">
            {{ 'feature-flags.import-feature-flag-list.message.text' | translate }}
          </span>
          <a class="learn-more-link" href="https://www.upgradeplatform.org/" target="_blank" rel="noopener noreferrer"
            >Learn more</a
          >
        </p>
      </ng-container>
      <ng-template #validationTable>
        <div class="table-container">
          <table
            mat-table
            class="file-compatibility-table"
            [dataSource]="fileValidationErrorDataSource"
            multiTemplateDataRows
          >
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell class="ft-14-500 dense-2" *matCellDef="let element">
                <button
                  mat-icon-button
                  [ngClass]="{ 'expand-button--disabled': element.compatibilityType === 'compatible' }"
                  [disabled]="element.compatibilityType === 'compatible'"
                  (click)="toggleExpand()"
                >
                  <mat-icon>{{
                    element.compatibilityType === 'compatible' || !isDescriptionExpanded
                      ? 'chevron_right'
                      : 'expand_more'
                  }}</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- File Name Column -->
            <ng-container matColumnDef="fileName">
              <th mat-header-cell class="ft-14-600" *matHeaderCellDef>File Name</th>
              <td mat-cell class="ft-14-500" *matCellDef="let element">{{ element.fileName }}</td>
            </ng-container>

            <!-- Compatibility Type Column -->
            <ng-container matColumnDef="compatibilityType">
              <th mat-header-cell class="ft-14-600" *matHeaderCellDef>Compatibility Type</th>
              <td mat-cell class="ft-14-500" *matCellDef="let element">
                <app-common-status-indicator-chip
                  [chipClass]="element.compatibilityType"
                ></app-common-status-indicator-chip>
              </td>
            </ng-container>

            <!-- Expanded Detail Row -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell class="expandable-row" *matCellDef="let element; let fileIndex = dataIndex">
                <div class="ft-14-500" *ngIf="isDescriptionExpanded" class="compatibility-details-container">
                  <div *ngIf="element.compatibilityType === 'incompatible'">
                    <span *ngIf="data.title === 'Import Feature Flag'">
                      {{ 'feature-flags.import-flag-modal.compatibility-description.incompatible.text' | translate }}
                    </span>
                    <span *ngIf="data.title === 'Import List'">
                      {{
                        'feature-flags.import-flag-list-modal.compatibility-description.incompatible.text' | translate
                      }}
                    </span>
                  </div>
                  <div *ngIf="element.compatibilityType === 'warning'">
                    <span *ngIf="data.title === 'Import Feature Flag'">
                      {{ 'feature-flags.import-flag-modal.compatibility-description.warning.text' | translate }}
                    </span>
                    <span *ngIf="data.title === 'Import List'">
                      {{ 'feature-flags.import-flag-list-modal.compatibility-description.warning.text' | translate }}
                    </span>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Header and Rows -->
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-row class="expandable-row" *matRowDef="let row; columns: ['expandedDetail']"></mat-row>
          </table>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #loadingSpinner>
      <mat-spinner class="spinner" diameter="150"></mat-spinner>
    </ng-template>
  </div>
</app-common-dialog>
