@use '@angular/material' as mat;

@mixin queries-modal-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .queries-modal-container {
    .title {
      box-shadow: 0 0 8px 0 mat.get-color-from-palette($background, shadow-color);
    }

    .query-view {
      .icon {
        color: mat.get-color-from-palette($foreground, icon);
      }
    }
  }
}
