.query-result-container {
  .title {
    display: block;
    padding: 40px 40px 0;
    height: 108px;
  }

  .query-result-view {
    margin: 20px 0;
    padding: 0 40px;
    min-height: 200px;

    .table {
      max-height: 500px;
      overflow: auto;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
  }
}
