.content-section {
  padding: 16px 32px 20px;

  .item-key-value {
    height: 32px;
    display: flex;
    align-items: center;
    column-gap: 8px;

    .item-value {
      color: var(--dark-grey);
    }
  }
}
