.content-section {
  padding: 22px 32px 20px;

  .item-key-value {
    min-height: 32px;
    display: flex;
    align-items: flex-start;
    column-gap: 8px;

    .item-value {
      color: var(--dark-grey);
    }

    .chips-container {
      margin-top: -4px;
    }
  }
}
