<div class="content-section">
  <div *ngFor="let obj of data">
    <div *ngFor="let item of obj | keyvalue">
      <span style="font-weight: bold">{{ item.key }}:</span>
      <ng-container *ngIf="item.key !== 'tags'; else chipSection">
        <span>{{ item.value }}</span>
      </ng-container>

      <ng-template #chipSection>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of item.value">{{ tag }}</mat-chip>
        </mat-chip-list>
      </ng-template>
    </div>
  </div>
</div>
