:root {
  /* status variables */
  --status-inactive: #ff9933;
  --status-scheduled: #829bf8;
  --status-preview: #829bf8;
  --status-running: #3366ff;
  --status-paused: #6478c8;
  --status-completed: #33cc66;
  --status-archived: #999999;
  --status-disabled: #ff9933;
  --status-enabled: #3366ff;
  --status-excluded: #ff3333;
  --status-unused: #999999;
  --status-used: #3366ff;
  --status-incompatible: #ff3333;
  --status-warning: #ff9933;
  --status-compatible: #33cc66;
  --status-inactive-alpha: #ff99330c;
  --status-scheduled-alpha: #829bf80c;
  --status-preview-alpha: #829bf80c;
  --status-running-alpha: #3366ff0c;
  --status-paused-alpha: #6478c80c;
  --status-completed-alpha: #33cc660c;
  --status-archived-alpha: #9999990c;
  --status-disabled-alpha: #ff99330c;
  --status-enabled-alpha: #3366ff0c;
  --status-excluded-alpha: #ff33330c;
  --status-unused-alpha: #9999990c;
  --status-used-alpha: #3366ff0c;
  --status-incompatible-alpha: #ff33330c;
  --status-warning-alpha: #ff99330c;
  --status-compatible-alpha: #33cc660c;

  /* color variables */
  --blue: #3366ff;
  --light-blue: #7194ff;
  --black: #000;
  --black-2: #222b45;
  --white: #fff;
  --grey: #808080;
  --grey-2: #8992a3;
  --grey-3: #929fae;
  --grey-4: #959dac;
  --grey-5: #939bab;
  --grey-6: #6e6f72;
  --light-grey: #d3d3d3;
  --light-black: #222b45;
  --grey-message: #8f9bb3;
  --red: #ff0000;
  --red-2: #ff3333;
  --green: #008000;
  --green-2: #33cc66;
  --zircon: #f5f7fe;
  --water: #f0f2f9;
  --light-grey-2: #dce0e6;
  --disabled-text: #8b8b8b;
  --dark-grey: #646e7b;
  --darker-grey: #444e5b;

  /* font-size variables */
  --text-size-xxxxx-large: 2rem;
  --text-size-xxxx-large: 1.875rem;
  --text-size-xxx-large: 1.5rem;
  --text-size-xx-large: 1.375rem;
  --text-size-x-large: 1.25rem;
  --text-size-large: 1.125rem;
  --text-size-normal: 1rem;
  --text-size-small: 0.875rem;
  --text-size-x-small: 0.75rem;
}
