<mat-card class="experiments-container">
  <h1 class="title ft-32-700">{{ 'global.experiment.title' | translate }}</h1>
  <span class="subtitle ft-16-400" [innerHTML]="'home.experiment.text.subtitle' | translate"></span>

  <ng-container *ngIf="isLoadingExperiments$ | async; else loadingExperimentState">
    <mat-card class="experiment-table" *ngIf="(experiments$ | async).length; else noExperimentTemplate">
      <home-experiment-list></home-experiment-list>
    </mat-card>
    <ng-template #noExperimentTemplate>
      <mat-card class="no-experiment-container">
        <span class="text ft-24-600" [innerHTML]="'home.no-experiment.text' | translate"></span>
        <button
          mat-flat-button
          color="primary"
          class="ft-14-700"
          (click)="openImportExperimentDialog()"
          *ngIf="(permissions$ | async)?.experiments.create"
        >
          <mat-icon>add</mat-icon>
          <span>{{ 'home.experiment.import-experiment.text' | translate }}</span>
        </button>
        <button
          (click)="openNewExperimentDialog()"
          mat-flat-button
          color="primary"
          class="ft-14-700"
          *ngIf="(permissions$ | async)?.experiments.create"
        >
          <mat-icon>add</mat-icon>
          <span>{{ 'home.experiment.add-experiment.text' | translate }}</span>
        </button>
      </mat-card>
    </ng-template>
  </ng-container>
</mat-card>

<ng-template #loadingExperimentState>
  <div class="loading-container">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</ng-template>
