.experiment-status {
  .title {
    display: block;
    padding: 40px 40px 0;
    height: 108px;
  }

  &-form {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin: 20px 0;
    padding: 0 40px 10px;

    mat-form-field {
      width: calc(50% - 20px);

      .status-selection {
        line-height: 20px;
      }
    }
  }

  .info-msg,
  .error-msg {
    display: flex;
    flex-direction: column;
    padding: 0 40px 30px;
    margin-top: -35px;
  }

  .info-msg {
    color: var(--green);

    .mat-mdc-checkbox {
      margin-top: -3px;
      margin-left: -12px;
    }
  }

  .error-msg {
    color: var(--red);
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
  }
}
