<div class="segment-list-table-container" #tableContainer>
  <mat-progress-bar class="spinner" mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
  <table
    class="segment-list-table"
    mat-table
    [dataSource]="dataSource$"
    [ngClass]="{ 'no-data': !dataSource$?.data?.length }"
    matSort
    (matSortChange)="changeSorting($event)"
    [matSortActive]="segmentSortKey$ | async"
    [matSortDirection]="segmentSortAs$ | async | lowercase"
  >
    <!-- Name Column -->
    <ng-container [matColumnDef]="SEGMENT_ROOT_COLUMN_NAMES.NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="name-column ft-14-600">
        {{ SEGMENT_TRANSLATION_KEYS.NAME | translate }}
      </th>
      <td mat-cell *matCellDef="let segment" class="name-column ft-14-400">
        <a
          [routerLink]="['/segments', 'detail', segment.id]"
          [matTooltip]="segment.name.length > 24 ? segment.name : null"
          matTooltipPosition="right"
          class="segment-name"
        >
          {{ segment.name | truncate : 24 }}
        </a>
        <br />
        <span
          [matTooltip]="segment.description?.length > 35 ? segment.description : null"
          matTooltipPosition="right"
          class="segment-description ft-10-400"
        >
          {{ segment.description | truncate : 35 }}
        </span>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container [matColumnDef]="SEGMENT_ROOT_COLUMN_NAMES.STATUS">
      <th mat-header-cell *matHeaderCellDef class="status-column ft-14-600">
        {{ SEGMENT_TRANSLATION_KEYS.STATUS | translate }}
      </th>
      <td mat-cell *matCellDef="let segment" class="status-column ft-14-400">
        <app-common-status-indicator-chip [chipClass]="segment.status.toLowerCase()">
          <!-- TODO: Update the SEGMENT_STATUS enum to lowercase and remove toLowerCase() once the legacy Segments code is removed -->
        </app-common-status-indicator-chip>
      </td>
    </ng-container>

    <!-- Updated at Column -->
    <ng-container [matColumnDef]="SEGMENT_ROOT_COLUMN_NAMES.UPDATED_AT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="updated-at-column ft-14-600">
        {{ SEGMENT_TRANSLATION_KEYS.UPDATED_AT | translate }}
      </th>
      <td mat-cell *matCellDef="let segment" class="updated-at-column ft-14-400">
        <ng-container>
          {{ segment.updatedAt | date : 'MMM d, y, h:mm a' }}
        </ng-container>
      </td>
    </ng-container>

    <!-- App Context Column -->
    <ng-container [matColumnDef]="SEGMENT_ROOT_COLUMN_NAMES.APP_CONTEXT">
      <th mat-header-cell *matHeaderCellDef class="app-context-column ft-14-600">
        {{ SEGMENT_TRANSLATION_KEYS.APP_CONTEXT | translate }}
      </th>
      <td mat-cell *matCellDef="let segment" class="ft-14-400">
        {{ segment.context }}
      </td>
    </ng-container>

    <!-- Tags Column -->
    <ng-container [matColumnDef]="SEGMENT_ROOT_COLUMN_NAMES.TAGS">
      <th mat-header-cell *matHeaderCellDef class="tags-column ft-14-600">
        {{ SEGMENT_TRANSLATION_KEYS.TAGS | translate }}
      </th>
      <td mat-cell *matCellDef="let segment" class="tags-column ft-14-400 dense-2">
        <app-common-tag-list
          [tags]="segment.tags"
          [isExpanded]="isTagsExpanded(segment.id)"
          (expandedChange)="onTagExpandedChange(segment.id, $event)"
          (tagClick)="filterSegmentByChips($event, SegmentSearchKey.TAG)"
        ></app-common-tag-list>
      </td>
    </ng-container>

    <!-- Lists Column -->
    <ng-container [matColumnDef]="SEGMENT_ROOT_COLUMN_NAMES.LISTS">
      <th mat-header-cell *matHeaderCellDef class="lists-column ft-14-600">
        {{ SEGMENT_TRANSLATION_KEYS.LISTS | translate }}
      </th>
      <td mat-cell *matCellDef="let segment" class="lists-column ft-14-400">
        <span class="list-count">{{
          segment.groupForSegment?.length + segment.individualForSegment?.length + segment.subSegments?.length
        }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- No Data Row -->
    <tr *matNoDataRow>
      <td class="ft-14-400" [attr.colspan]="displayedColumns.length">
        <ng-container *ngIf="isSearchActive$ | async; else noSegments">
          {{ 'segments.no-matching-segments.text' | translate }}
        </ng-container>
        <ng-template #noSegments>
          {{ 'segments.no-segments-in-table.text' | translate }}
        </ng-template>
      </td>
    </tr>
  </table>
  <div #bottomTrigger></div>
</div>
