.key-value-bubble {
  position: fixed;
  // left: 10px;
  // top: 10px;
  // background-color: #B68F40;
  z-index: 1000;
  padding: 10px;
  border: 5px #545454 dashed;
  font-size: 12px;
  cursor: grab;
  border-radius: 10px;

  .key {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
  }
}