<mat-form-field class="input-container" subscriptSizing="dynamic" appearance="outline">
  <mat-label class="ft-14-400">
    {{ 'home.new-experiment.overview.tags.placeHolder' | translate }}
  </mat-label>
  <div class="container">
    <mat-chip-grid #tagsList aria-label="Tags" formControlName="tags">
      <mat-chip-row
        *ngFor="let componentTag of tags.value"
        [selectable]="isChipSelectable"
        [removable]="isChipRemovable"
        (removed)="removeChip(componentTag)"
      >
        <span class="ft-12-600 chip-label">
          {{ componentTag }}
        </span>
        <mat-icon matChipRemove *ngIf="isChipRemovable">cancel</mat-icon>
      </mat-chip-row>

      <input
        [matChipInputFor]="tagsList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addChipOnBlur"
        (matChipInputTokenEnd)="addChip($event)"
      />
    </mat-chip-grid>
    <div class="sharing-icon-buttons">
      <button *ngIf="showImportIcon" mat-icon-button class="icon-button" (click)="onActionButtonClick()">
        <mat-icon>file_upload</mat-icon>
      </button>
      <button *ngIf="showExportIcon" mat-icon-button class="icon-button" (click)="onActionButtonClick()">
        <mat-icon>file_download</mat-icon>
      </button>
    </div>
  </div>
</mat-form-field>
