.input-container {
  width: 100%;
  padding-bottom: 16px;

  ::ng-deep .mdc-text-field {
    padding-right: 5px;

    .mat-mdc-form-field-infix {
      padding: 6px 0;
    }
  }

  .chips-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 64px;
    overflow: auto;

    .mat-mdc-chip-grid {
      width: 100%;
    }

    .icon-button {
      width: 32px;
      height: 32px;
      background: none;
      border: none;
      border-radius: 20px;
      box-shadow: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--dark-grey);

      .material-symbols-outlined {
        font-size: 20px;
      }

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}
