.metrics-container {
  padding: 24px 34px 34px !important;
  border-radius: 10px;
  box-shadow: unset !important;
  padding: 0;
  height: 100%;

  .example-tree-invisible {
    display: none;
  }

  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .button-container {
    display: flex;
    align-items: center;
  }

  .button-container::before {
    content: ''; /* Empty content for pseudo-element */
    display: inline-block;
    width: 5px; /* Width of the square */
    height: 5px; /* Height of the square */
    margin-right: 12px; /* Space between square and button */
    background-color: black; /* Color of the square */
  }
  .example-tree .mat-nested-tree-node div[role='group'] {
    padding-left: 40px;
  }
  .example-tree div[role='group'] > .mat-tree-node {
    padding-left: 40px;
  }

  .example-tree-invisible {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .search-input {
      line-height: 20px;
    }

    .search-icon {
      margin-top: -6px;
      height: 16px;
    }
  }
  .input-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2.25rem;
  }
  .chip {
    background-color: #f2f2f2; /* Grey background color */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 10px; /* Border radius */
    margin-right: 5px;
  }
  .spinner {
    position: sticky;
    top: 0;
    z-index: 1111;
    margin-top: 8px;
  }

  .read-mode-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
  }

  .metrics-table-container {
    position: relative;
    margin-top: 8px;
    overflow: auto;

    table {
      width: 100%;

      .mat-mdc-cell {
        position: relative;

        &.mat-column-id {
          width: 40%;
        }

        &.mat-column-metric {
          width: 60%;
        }
      }

      .mat-mdc-header-cell {
        background-color: var(--white);
        color: var(--grey-2);

        &.mat-column-metric {
          padding-left: 20px;
        }
      }

      .node-tree {
        max-height: 400px;
        overflow: scroll;

        &-invisible {
          display: none;
        }

        ul,
        li {
          margin-top: 0;
          margin-bottom: 0;
          list-style-type: none;
        }

        .mat-tree-node {
          min-height: 40px;
        }

        .icon {
          position: relative;
          top: 4px;
          margin-left: 10px;
          font-size: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .zero-state {
    min-height: 250px;
  }
}
