.experiment-rule {
  .title {
    display: block;
    padding: 40px 40px 0;
    height: 108px;
  }

  &-form {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 40px;

    mat-form-field {
      width: 45%;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
  }
}
