.experiment-schedule-form {
  .mat-radio-button,
  .input {
    font-weight: 600;
  }

  .starts-on-title {
    &--disable {
      color: var(--grey-5);
    }
  }

  .date-picker-container {
    margin: 0 0 30px 25px;

    mat-form-field {
      margin-left: 16px;
      width: 200px;
    }
  }

  .experiment-end-criteria {
    margin-left: 25px;

    .end-criteria {
      margin-left: 30px;

      .group-type {
        margin-left: 30px;

        &-control {
          line-height: 18px;
        }

        &--disable {
          color: var(--grey-5);
        }
      }
    }
  }
}

::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: var(--blue);
}

::ng-deep .owl-dt-control .owl-dt-control-content {
  color: var(--blue);
}
