<div class="enrollment-over-time">
  <span class="enrollment-over-time__title">{{ 'home.view-experiment.enrollment-over-time.text' | translate }}</span>
  <div class="enrollment-filters">
    <div>
      <mat-form-field>
        <mat-select
          [disabled]="experiment.assignmentUnit === AssignmentUnit.INDIVIDUAL"
          [(ngModel)]="selectedGroupFilter"
          (selectionChange)="applyExperimentFilter(ExperimentFilter.GROUP_FILTER)"
        >
          <mat-option
            *ngFor="let groupValue of groupFiltersOptions"
            [value]="groupValue"
          >
            {{ groupValue | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          [(ngModel)]="selectedCondition"
          multiple
          (selectionChange)="applyExperimentFilter(ExperimentFilter.CONDITION_FILTER)"
        >
          <mat-option
            *ngFor="let condition of conditionsFilterOptions"
            [value]="condition"
          >
            {{ condition | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          [placeholder]="'home.view-experiment.enrollment-over-time.choose-date-range.text' | translate"
          [satDatepicker]="dateRangePicker"
          [disabled]="selectedDateFilter !== ExperimentDateFilterOptions.CUSTOM"
          [ngModel]="selectedDateRange"
          (ngModelChange)="selectedDateRange = $event;applyExperimentFilter(ExperimentFilter.DATE_FILTER)"
        >
        <sat-datepicker #dateRangePicker [rangeMode]="true"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="dateRangePicker"></sat-datepicker-toggle>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          [(ngModel)]="selectedDateFilter"
          (selectionChange)="applyExperimentFilter(ExperimentFilter.DATE_FILTER)"
        >
          <mat-option
            *ngFor="let dateFilterType of dateFilterOptions"
            [value]="dateFilterType"
          >
            {{ dateFilterType | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="chart-container">
    <div class="chart">
      <!-- Chart here -->
    </div>
    <div class="enrollment-statistic">
      <div class="enrollment-statistic__unique">
        <span class="title">{{ 'home.view-experiment.enrollment-over-time.unique-enrolled.text' | translate }}</span>
        <span class="numbers">67
          <span class="numbers--excluded">{{ 'home.view-experiment.enrollment-over-time.excluded.text' | translate: { numbers: 50 } }}</span>
        </span>
      </div>
      <div class="enrollment-statistic__class">
        <span class="title">{{ 'home.view-experiment.enrollment-over-time.classes-enrolled.text' | translate }}</span>
        <span class="numbers">12
          <span class="numbers--excluded">{{ 'home.view-experiment.enrollment-over-time.excluded.text' | translate: { numbers: 12 } }}</span>
        </span>
      </div>
    </div>

  </div>
</div>
