.import-experiment-container {
  .title {
    display: block;
    padding: 30px 40px 0;
    height: 88px;
  }

  .import-experiment-body {
    margin: 20px 0;
    padding: 0 40px;
    height: 265px;
    overflow-y: auto;

    .file-input {
      &:hover {
        cursor: pointer;
      }
    }

    .error-msg {
      display: block;
      padding-top: 10px;
    }

    .error-msg {
      color: var(--red);
    }

    .warn-msg {
      display: block;
      padding-top: 10px;
    }

    .warn-msg {
      color: var(--blue);
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
  }
}
