<mat-card class="segments-container">
  <h1 class="title ft-32-700">{{ 'segments.title.text' | translate }}</h1>
  <span class="subtitle ft-16-400" [innerHTML]="'segments.subtitle.text' | translate"></span>
  <ng-container *ngIf="isLoadingSegments$ | async; else loadingSegmentState">
    <mat-card class="segments-table" *ngIf="(segments$ | async).length; else noSegmentsTemplate">
      <segments-list></segments-list>
    </mat-card>
    <ng-template #noSegmentsTemplate>
      <mat-card class="no-segments-container">
        <span class="text ft-24-600" [innerHTML]="'segments.no-segments.text' | translate"></span>
        <button
          mat-flat-button
          color="primary"
          class="ft-14-700"
          (click)="openNewSegmentDialog()"
          *ngIf="(permissions$ | async)?.segments.create"
        >
          <mat-icon>add</mat-icon>
          <span>{{ 'segments.add-segments.text' | translate }}</span>
        </button>
      </mat-card>
    </ng-template>
  </ng-container>
</mat-card>

<ng-template #loadingSegmentState>
  <div class="loading-container">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</ng-template>
