.segments-list-container {
  border-radius: 10px;
  box-shadow: unset !important;
  padding: 0;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.25rem;
    height: 94px;

    .filter-options {
      margin-right: 20px;
      width: 120px;
    }

    .search-input {
      line-height: 20px;
    }

    .search-icon {
      margin-top: -6px;
      height: 16px;
    }

    button {
      background-color: var(--blue);
      height: 40px;
      color: var(--white);
    }

    .export-segments {
      margin-right: 20px;
    }

    .import-segments {
      margin-right: 20px;
    }
  }

  .segments-list-table-container {
    position: relative;
    margin-top: 8px;
    padding: 0 2.25rem;
    overflow: auto;

    .spinner {
      position: sticky;
      top: 0;
      z-index: 1111;
    }
  }

  .segments-list {
    width: 100%;

    th {
      color: var(--grey-2);
    }

    tr.mat-mdc-footer-row,
    tr.mat-mdc-row {
      height: 55px;
    }

    .mat-mdc-cell,
    .mat-mdc-header-cell {
      padding: 10px 5px;
      width: 20%;
      word-break: break-word;
    }

    .mat-mdc-header-cell {
      padding-left: 5px;
    }

    .cdk-column-name,
    .cdk-column-status,
    .cdk-column-lastUpdate,
    .cdk-column-context {
      width: 15%;
    }

    .cdk-column-description {
      width: 20;
    }
    .segment {
      &-name {
        text-decoration: underline;
      }

      &-status {
        display: flex;
        align-items: center;

        &-circle {
          display: inline-block;
          margin-right: 6px;
          border-radius: 50%;
          width: 12px;
          height: 12px;
        }

        .icons {
          display: inline-flex;
          margin-right: 6px;
        }
      }

      &-description {
        color: var(--grey-3);
      }
    }

    .mat-mdc-form-field {
      width: 40%;
    }
  }
}
