<mat-card class="segments-list-container">
  <div class="header">
    <div>
      <mat-form-field class="filter-options">
        <mat-select class="ft-16-600" [(ngModel)]="selectedExperimentFilterOption">
          <mat-option *ngFor="let filterOption of experimentFilterOptions" [value]="filterOption">
            {{ filterOption | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          class="search-input ft-16-400"
          matInput
          #searchInput
          [(ngModel)]="searchValue"
          [placeholder]="'global.search.text' | translate"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        class="ft-14-700 export-segments"
        (click)="openExportAllSegment()"
        *ngIf="(permissions$ | async)?.segments.create"
      >
        <mat-icon>download</mat-icon>
        <span>{{ 'segments.export-all-segments.text' | translate }}</span>
      </button>
      <button
        (click)="openImportSegmentsDialog()"
        mat-flat-button
        color="primary"
        class="ft-14-700 import-segments"
        *ngIf="(permissions$ | async)?.segments.create"
      >
        <mat-icon>add</mat-icon>
        <span>{{ 'segments.import-segments.text' | translate }}</span>
      </button>
      <button
        mat-flat-button
        color="primary"
        class="ft-14-700"
        (click)="openNewSegmentDialog()"
        *ngIf="(permissions$ | async)?.segments.create"
      >
        <mat-icon>add</mat-icon>
        <span>{{ 'segments.add-segments.text' | translate }}</span>
      </button>
    </div>
  </div>

  <div class="segments-list-table-container" #tableContainer>
    <mat-progress-bar class="spinner" mode="indeterminate" *ngIf="isLoadingSegments$ | async"></mat-progress-bar>
    <table class="segments-list" mat-table [dataSource]="allSegments" matSort>
      <ng-container matColumnDef="name">
        <th class="ft-12-700" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [matTooltip]="'segments.global-name.text' | translate" matTooltipPosition="above">
            {{ 'segments.global-name.text' | translate | uppercase }}
          </span>
        </th>
        <td class="ft-12-600" mat-cell *matCellDef="let segment">
          <a
            [routerLink]="['/segments', 'detail', segment.id]"
            *ngIf="segment.name?.length < 30; else segmentNameEllipsis"
            class="segment-name"
          >
            {{ segment.name }}
          </a>
          <ng-template #segmentNameEllipsis>
            <a
              [routerLink]="['/segments', 'detail', segment.id]"
              [matTooltip]="segment.name"
              class="segment-name"
              matTooltipPosition="above"
            >
              {{ segment.name | truncate: 30 }}
            </a>
          </ng-template>
          <br />
        </td>
      </ng-container>

      <!-- TODO THIS -->
      <ng-container matColumnDef="status">
        <th class="ft-12-700" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [matTooltip]="'segments.global-status.text.text' | translate" matTooltipPosition="above">
            {{ 'segments.global-status.text' | translate | uppercase }}
          </span>
        </th>
        <td class="ft-12-600" mat-cell *matCellDef="let segment">
          <div class="segment-status">
            <span
              class="segment-status-circle"
              [ngStyle]="{ backgroundColor: segment.status | segmentStatus: SegmentStatusPipeTypes.COLOR }"
            ></span>
            <span>
              {{ segment.status | segmentStatus }}
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastUpdate">
        <th class="ft-12-700" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [matTooltip]="'segments.global-last-update.text' | translate" matTooltipPosition="above">
            {{ 'segments.global-last-update.text' | translate | uppercase }}
          </span>
        </th>
        <td class="ft-12-600" mat-cell *matCellDef="let segment">
          <span> {{ segment.updatedAt | date: 'MMM d, y h:mm a' }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="context">
        <th class="ft-12-700" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [matTooltip]="'segments.global-context.text' | translate" matTooltipPosition="above">
            {{ 'segments.global-context.text' | translate | uppercase }}
          </span>
        </th>
        <td class="ft-12-600" mat-cell *matCellDef="let segment">
          <mat-chip class="ft-12-600" *ngIf="segment.context != 'ALL'"> {{ segment.context }} </mat-chip>
          <span class="ft-12-600" *ngIf="segment.context == 'ALL'" style="margin-left: 10px">
            {{ segment.context }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th class="ft-12-700" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span [matTooltip]="'segments.global-description.text' | translate" matTooltipPosition="above">
            {{ 'segments.global-description.text' | translate | uppercase }}
          </span>
        </th>
        <td class="ft-12-600" mat-cell *matCellDef="let segment">
          <span class="segment-description"> {{ segment.description }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="membersCount">
        <th class="ft-12-700" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span
            style="margin-left: 70px"
            [matTooltip]="'segments.global-members.text' | translate"
            matTooltipPosition="above"
          >
            {{ 'segments.global-members.text' | translate | uppercase }}
          </span>
        </th>
        <td class="ft-12-600" mat-cell *matCellDef="let segment">
          <span class="segment-description" style="margin-left: 70px">
            {{ segment.groupForSegment?.length + segment.individualForSegment?.length + segment.subSegments?.length }}
            {{ 'segments.global-member.text' | translate }}</span
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
