@use '@angular/material' as mat;

@mixin segments-list-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .segments-list-container {
    .header {
      box-shadow: 0 8px 8px -8px mat.get-color-from-palette($background, shadow-color);
    }

    .segments-list {
      .segment {
        &-name {
          color: mat.get-color-from-palette($foreground, text);
        }
      }
    }
  }
}
