.experiment-overview {
  display: flex;
  flex-direction: column;

  mat-form-field {
    line-height: 20px;
    font-family: 'Open Sans';
    font-size: var(--text-size-normal);
    font-weight: 400;
  }

  .name {
    width: 50%;
  }

  .description {
    width: 100%;
  }

  .property-container {
    .unit-of-assignment {
      width: 30%;
    }

    .group-type {
      margin-left: 10%;
      width: 25%;
    }
  }

  .consistency-rule,
  .context {
    width: 30%;
  }

  .chips {
    margin-top: 5px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 20px;
    }
  }

  ::ng-deep .mat-chip-list-wrapper {
    max-height: 60px;
    overflow: scroll;
  }
}
