@import '../../common/table-view.scss';

.stratification-factors-list-container {
  padding: 24px 34px 34px !important;
  border-radius: 10px;
  box-shadow: unset !important;
  padding: 0;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .import-stratifications-csv {
      background-color: var(--blue);
      height: 40px;
      margin-right: 20px;
      color: var(--white);
    }
  }

  .table-container {
    position: relative;
    margin-top: 16px;
    overflow: auto;
    max-height: 450px;

    .spinner {
      position: sticky;
      top: 0;
      z-index: 1111;
    }

    .stratification-factor-table {
      width: 100%;

      .mat-mdc-header-row {
        min-height: 56px;
        max-height: 56px;
        justify-content: space-between;
      }

      .mat-mdc-row {
        height: 46px;
        justify-content: space-between;
      }

      .mat-mdc-header-cell {
        justify-content: left;
        color: var(--grey-2);
      }

      .mat-mdc-cell {
        justify-content: left;
      }

      .cdk-column-factor {
        flex: 0 0 calc(30% - 15px);
        width: calc(30% - 15px);
      }

      .cdk-column-summary {
        flex: 0 0 calc(40% - 15px);
        width: calc(40% - 15px);
      }

      .cdk-column-status {
        .status-circle {
          display: inline-block;
          margin-right: 6px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
        }
      }

      .cdk-column-actions {
        margin-left: 15px;
        padding-right: 13px;
        justify-content: flex-end;

        .row-download-btn {
          border: none;
          background-color: transparent;

          .icon {
            margin-top: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--text-size-x-large);
            color: gray;
          }
        }

        .row-delete-btn {
          border: none;
          background-color: transparent;
          &--disabled {
            opacity: 0.7;
            pointer-events: none;
            color: var(--light-grey);
          }

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--text-size-x-large);
            color: gray;
          }
        }
      }
    }
  }
}
