@import '~@angular/material/theming';

@mixin experiment-query-result-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .experiment-queries-result {
    .ngx-charts {
      text {
        fill: mat-color($foreground, text);
      }
    }

    .ngx-charts .gridline-path {
      stroke: mat-color($foreground, chart-border);
    }

    .mat-expansion-panel:not([class*=mat-elevation-z]) {
      box-shadow: 0px 1px 5px 0px mat-color($background, shadow-color);
    }
  }
}
