<div class="participant-list-table-container" #tableContainer>
  <mat-progress-bar class="spinner" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <table
    class="participant-list-table"
    mat-table
    [dataSource]="dataSource"
    [ngClass]="{ 'no-data': !dataSource?.length, 'no-enable-column': displayedColumns.length < 5 }"
  >
    <!-- Type Column -->
    <ng-container [matColumnDef]="PARTICIPANT_LIST_COLUMN_NAMES.TYPE">
      <th mat-header-cell *matHeaderCellDef class="type-column ft-14-600">
        {{ PARTICIPANT_LIST_TRANSLATION_KEYS.TYPE | translate }}
      </th>
      <td mat-cell *matCellDef="let rowData" class="type-column ft-14-400">
        {{ rowData.listType }}
      </td>
    </ng-container>

    <!-- Values Column -->
    <ng-container [matColumnDef]="PARTICIPANT_LIST_COLUMN_NAMES.VALUES">
      <th mat-header-cell *matHeaderCellDef class="values-column ft-14-600">
        {{ PARTICIPANT_LIST_TRANSLATION_KEYS.VALUES | translate }}
      </th>
      <td mat-cell *matCellDef="let rowData" class="values-column ft-14-400">
        <ng-container *ngIf="rowData?.segment && rowData.listType !== memberTypes.SEGMENT"> {{ getValuesText(rowData) }} </ng-container>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container [matColumnDef]="PARTICIPANT_LIST_COLUMN_NAMES.NAME">
      <th mat-header-cell *matHeaderCellDef class="name-column ft-14-600">
        {{ PARTICIPANT_LIST_TRANSLATION_KEYS.NAME | translate }}
      </th>
      <td mat-cell *matCellDef="let rowData" class="name-column ft-14-400">
        <ng-container *ngIf="isPublicSegment(rowData); else plainText">
          <a
            [routerLink]="['/segments', 'detail', rowData.segment.subSegments[0].id]"
            class="segment-name"
            [matTooltip]="rowData.segment.name?.length > 24 ? rowData.segment.name : null"
            matTooltipPosition="right">
            {{ rowData.segment.name | truncate : 24 }}
          </a>
        </ng-container>
        <ng-template #plainText>
          <span
            [matTooltip]="rowData.segment?.name?.length > 24 ? rowData.segment?.name : null"
            matTooltipPosition="right">
            {{ rowData.segment?.name | truncate : 24 }}
          </span>
        </ng-template>
      </td>
    </ng-container>

    <!-- Enable Column -->
    <ng-container [matColumnDef]="PARTICIPANT_LIST_COLUMN_NAMES.ENABLE">
      <th mat-header-cell *matHeaderCellDef class="enable-column ft-14-600">
        {{ PARTICIPANT_LIST_TRANSLATION_KEYS.ENABLE | translate }}
      </th>
      <td mat-cell *matCellDef="let rowData" class="enable-column ft-14-400">
        <mat-slide-toggle
          color="primary"
          [checked]="rowData.enabled"
          [disabled]="slideToggleDisabled"
          (change)="onSlideToggleChange($event, rowData)"
        >
        </mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container [matColumnDef]="PARTICIPANT_LIST_COLUMN_NAMES.ACTIONS">
      <th mat-header-cell *matHeaderCellDef class="actions-column ft-14-600">
        {{ PARTICIPANT_LIST_TRANSLATION_KEYS.ACTIONS | translate }}
      </th>
      <td mat-cell *matCellDef="let rowData" class="actions-column ft-14-400 dense-2">
        <div class="button-wrapper">
          <button
            mat-icon-button
            class="action-button"
            [disabled]="actionsDisabled"
            (click)="onEditButtonClick(rowData)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="button-wrapper">
          <button
            mat-icon-button
            class="action-button"
            [disabled]="actionsDisabled"
            (click)="onDeleteButtonClick(rowData)"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let rowData; columns: displayedColumns"></tr>

    <!-- No Data Row -->
    <tr *matNoDataRow>
      <td class="ft-14-400" [attr.colspan]="displayedColumns.length">
        {{ noDataRowText | translate }}
      </td>
    </tr>
  </table>
</div>
