<div class="enable-feature-flag-modal-container">
  <ng-container *ngIf="selectedFlag$ | async as flag">
    <app-common-dialog
      [title]="config.title"
      [cancelBtnLabel]="config.cancelBtnLabel"
      [primaryActionBtnLabel]="config.primaryActionBtnLabel"
      [primaryActionBtnColor]="config.primaryActionBtnColor"
      [primaryActionBtnDisabled$]="isLoadingUpdateFeatureFlagStatus$"
      (primaryActionBtnClicked)="onPrimaryActionBtnClicked({ flagId: flag.id, status: FEATURE_FLAG_STATUS.ENABLED })"
    >
      <div class="modal-content">
        <p class="modal-content-text">
          {{ 'Are you sure you want to enable "' + flag.name + '"?' }}
        </p>
        <p class="modal-content-text info">
          {{ '* Only the enabled include lists will be affected' }}
        </p>
      </div>
    </app-common-dialog>
  </ng-container>
</div>
