<div class="enrollment-over-time">
  <span class="ft-18-700 title">{{ 'home.view-experiment.enrollments-by-decision-point.title.text' | translate }}</span>
  <div class="enrollment-filters">
    <mat-form-field class="sites">
      <mat-label class="ft-16-700 dropdown-label">{{
        'home.view-experiment.graph-decision-point.text' | translate
      }}</mat-label>
      <mat-select
        [(ngModel)]="selectedPartition"
        multiple
        (selectionChange)="applyExperimentFilter(ExperimentFilter.PARTITION_FILTER)"
      >
        <mat-checkbox
          color="primary"
          class="mat-option"
          [indeterminate]="isIndeterminate('partitions')"
          [checked]="isChecked('partitions')"
          (click)="$event.stopPropagation()"
          (change)="toggleSelection($event, 'partitions')"
        >
          {{ 'home.view-experiment.graph-select-all.text' | translate }}
        </mat-checkbox>
        <mat-option *ngFor="let partition of partitionsFilterOptions" [value]="partition.id">
          {{ partition.point + ' (' + partition.twoCharacterId + ')' }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="conditions">
      <mat-label class="ft-16-700 dropdown-label">{{
        'home.view-experiment.graph-conditions.text' | translate
      }}</mat-label>
      <mat-select
        [(ngModel)]="selectedCondition"
        multiple
        (selectionChange)="applyExperimentFilter(ExperimentFilter.CONDITION_FILTER)"
      >
        <mat-checkbox
          color="primary"
          class="mat-option"
          [indeterminate]="isIndeterminate('conditions')"
          [checked]="isChecked('conditions')"
          (click)="$event.stopPropagation()"
          (change)="toggleSelection($event, 'conditions')"
        >
          {{ 'home.view-experiment.graph-select-all.text' | translate }}
        </mat-checkbox>
        <mat-option *ngFor="let condition of conditionsFilterOptions" [value]="condition.id">
          {{ condition.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="ft-16-700 dropdown-label">{{ 'home.view-experiment.graph-type.text' | translate }}</mat-label>
      <mat-select
        [disabled]="experiment.assignmentUnit === AssignmentUnit.INDIVIDUAL"
        [(ngModel)]="selectedGroupFilter"
        (selectionChange)="applyExperimentFilter(ExperimentFilter.GROUP_FILTER)"
      >
        <mat-option *ngFor="let groupValue of groupFiltersOptions" [value]="groupValue">
          {{ groupValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="ft-16-700 dropdown-label">{{ 'home.view-experiment.graph-time.text' | translate }}</mat-label>
      <mat-select
        [(ngModel)]="selectedDateFilter"
        (selectionChange)="applyExperimentFilter(ExperimentFilter.DATE_FILTER)"
      >
        <mat-option *ngFor="let dateFilterType of dateFilterOptions" [value]="dateFilterType.value">
          {{ dateFilterType.viewValue | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="chart-container">
    <div class="condition-container">
      <div class="condition" *ngFor="let condition of experiment.conditions; let index = index">
        <span class="color-box" [ngStyle]="{ 'background-color': colors[index] }"></span>
        <span>{{ condition.conditionCode }}</span>
      </div>
    </div>
    <br />
    <div class="chart">
      <div class="chart-data">
        <ngx-charts-bar-vertical-stacked
          [scheme]="colorScheme"
          [results]="graphData"
          [xAxis]="showLabelOfxAxis"
          [yAxis]="true"
          [legend]="false"
          [barPadding]="8"
          [noBarWhenZero]="true"
          [xAxisTickFormatting]="formateXAxisLabel"
          [yAxisTickFormatting]="formateYAxisLabel"
        >
        </ngx-charts-bar-vertical-stacked>
        <div class="spinner" *ngIf="isGraphLoading$ | async">
          <mat-spinner diameter="60"></mat-spinner>
        </div>
      </div>

      <div class="enrollment-statistic">
        <div class="enrollment-statistic__unique">
          <span class="ft-16-600 title">
            {{ 'home.view-experiment.enrollment-over-time.user-enrollments-across-sites.text' | translate }}
          </span>
          <span class="ft-36-700 numbers">{{ totalMarkedUsers }}</span>
        </div>
        <div class="enrollment-statistic__class" [ngClass]="{ 'group-enabled': selectedGroupFilter !== 'individual' }">
          <span class="ft-16-600 title">
            {{ 'home.view-experiment.enrollment-over-time.group-enrollments-across-sites.text' | translate }}
          </span>
          <span class="ft-36-700 numbers">{{ totalMarkedGroups }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
