@use '@angular/material' as mat;

@mixin enrollment-over-time-component-theme($theme) {
  $foreground: map-get($theme, foreground);

  .enrollment-over-time {
    .ngx-charts {
      text {
        fill: mat.get-color-from-palette($foreground, text);
      }
    }

    .ngx-charts .gridline-path {
      stroke: mat.get-color-from-palette($foreground, chart-border);
    }
  }
}
