.exclude-entities,
.preview-users {
  margin-top: 20px;

  &--title {
    font-family: 'Open Sans';
    font-size: var(--text-size-xx-large);
    font-weight: 700;
  }

  .exclude-form,
  .preview-user-form {
    .form-control {
      margin-right: 20px;
    }
  }

  .entities-container,
  .preview-user-container {
    position: relative;

    .paginator {
      width: 690px;
    }

    table {
      width: 690px;

      .mat-cell {
        padding: 5px;
        width: 50%;
      }

      .mat-header-cell {
        padding: 5px;
        color: var(--grey-2);
        font-family: 'Open Sans';
        font-size: var(--text-size-x-small);
        font-weight: 700;
      }

      .mat-cell {
        font-family: 'Open Sans';
        font-weight: 600;
      }

      .remove-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
