.exclude-entities,
.preview-users {
  margin-top: 20px;

  &--title {
    font-family: OpenSans-Bold;
    font-size: var(--text-size-xx-large);
  }

  .exclude-form,
  .preview-user-form {
    .form-control {
      margin-right: 20px;

      ::ng-deep .mat-spinner circle {
        stroke: var(--white);
      }
    }
  }

  .entities-container,
  .preview-user-container {
    position: relative;

    .spin {
      display: flex;
      position: absolute;
      top: 0;
      align-items: center;
      justify-content: center;
      z-index: 111;
      width: 690px;
      height: 100%;
    }

    .paginator {
      width: 690px;
    }

    table {
      width: 690px;

      .mat-cell {
        padding: 5px;
        width: 50%;
      }

      .mat-header-cell {
        padding: 5px;
        color: var(--grey-2);
        font-family: OpenSans-Bold;
        font-size: var(--text-size-x-small);
      }

      .mat-cell {
        font-family: OpenSans-SemiBold;
      }

      .remove-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
