.experiment-design {
  .condition-table,
  .partition-table {
    max-height: 200px;
    overflow: scroll;

    mat-header-cell {
      justify-content: center;
      color: var(--grey-2);
      font-family: OpenSans-Bold;
    }

    mat-cell {
      justify-content: center;
      margin-right: 15px;

      &.cdk-column-removeCondition {
        margin-right: 0;
        padding-right: 0;
      }
    }

    .cdk-column-conditionNumber,
    .cdk-column-partitionNumber,
    .cdk-column-removeCondition {
      flex: 0 0 10%;
      width: 10%;
    }

    .remove-icon {
      position: relative;
      top: -3px;

      &:hover {
        cursor: pointer;
      }
    }

    mat-form-field {
      width: 100%;
      text-align: center;
    }

    .condition-description {
      padding: 10px 0;
    }
  }

  .add-condition,
  .add-partition {
    margin-top: 10px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: var(--blue);
    font-family: OpenSans-Bold;
    font-size: var(--text-size-x-small);

    &--disabled {
      opacity: 0.7;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .validation-message {
    display: block;
    padding: 5px 0 0 10px;
    color: var(--red);
    font-size: var(--text-size-small);
  }

  .partition-table {
    margin-top: 50px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    button {
      margin-left: 10px;
    }
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: unset;
    background-color: unset !important;
  }

  ::ng-deep
    .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused)
    .mat-form-field-ripple {
    display: none;
  }
}
