<app-common-section-card>
  <!-- header-left -->
  <app-common-section-card-title-header
    header-left
    [title]="'feature-flags.details.exclusions.card.title.text' | translate"
    [subtitle]="'feature-flags.details.exclusions.card.subtitle.text' | translate"
    [tableRowCount]="tableRowCount$ | async"
  ></app-common-section-card-title-header>

  <!-- header-right -->
  <app-common-section-card-action-buttons
    header-right
    [showPrimaryButton]="true"
    [primaryButtonText]="'feature-flags.details.add-exclude-list.button.text' | translate"
    [showMenuButton]="true"
    [menuButtonItems]="menuButtonItems"
    [isSectionCardExpanded]="isSectionCardExpanded"
    (primaryButtonClick)="addExcludeListClicked()"
    (menuButtonItemClick)="onMenuButtonItemClick($event)"
    (sectionCardExpandChange)="onSectionCardExpandChange($event)"
  >
  </app-common-section-card-action-buttons>

  <!-- content -->
  <app-feature-flag-exclusions-table content *ngIf="isSectionCardExpanded"></app-feature-flag-exclusions-table>
</app-common-section-card>
