@if (selectedFlag$ | async; as flag) {
  @let canShowSegmentActions = (permissions$ | async)?.segments.update;
  @let appContext = flag.context[0];

  <app-common-section-card>
    <!-- header-left -->
    <app-common-section-card-title-header
      header-left
      [title]="'feature-flags.details.exclusions.card.title.text' | translate"
      [subtitle]="'feature-flags.details.exclusions.card.subtitle.text' | translate"
      [tableRowCount]="tableRowCount$ | async"
    ></app-common-section-card-title-header>

    <!-- header-right -->
    <app-common-section-card-action-buttons
      header-right
      [showPrimaryButton]="canShowSegmentActions"
      [primaryButtonText]="'feature-flags.details.add-exclude-list.button.text' | translate"
      [showMenuButton]="true"
      [menuButtonItems]="menuButtonItems$ | async"
      [isSectionCardExpanded]="isSectionCardExpanded"
      (primaryButtonClick)="onAddExcludeListClick(appContext, flag.id)"
      (menuButtonItemClick)="onMenuButtonItemClick($event, flag)"
      (sectionCardExpandChange)="onSectionCardExpandChange($event)"
    >
    </app-common-section-card-action-buttons>

    <!-- content -->
    @if (isSectionCardExpanded) {
      <app-feature-flag-exclusions-table
        content
        [showActions]="canShowSegmentActions"
        (rowAction)="onRowAction($event, flag.id)"
      ></app-feature-flag-exclusions-table>
    }
  </app-common-section-card>
}
