.factorial-experiment-form {
  .factorial-experiment-factors-levels-view {
    height: 515px;
    overflow-y: auto;

    .title {
      font-size: 18px;
      font-weight: bold;
    }

    .no-decision-point-message-container,
    .no-factor-message-container {
      color: var(--grey-message);
    }

    .header-container,
    .factors-header-container {
      display: flex;
      justify-content: space-between;

      // .toggle-button {
      //   margin-top: -5px;
      //   .icon-bump-left {
      //     margin-left: -5px;
      //   }
      //   .toggle-text {
      //     margin-left: 5px;
      //   }
      // }
    }

    .decision-point-table {
      max-height: 135px;
      overflow: auto;
      mat-header-row {
        min-height: 35px;
        justify-content: space-between;
      }

      mat-row {
        min-height: 46px;
        max-height: 46px;
        justify-content: space-between;
      }

      mat-header-cell {
        justify-content: left;
        color: var(--grey-6);
      }

      mat-cell {
        justify-content: left;
        margin-bottom: -5px;
      }

      .cdk-column-site {
        width: 100%;
      }

      .cdk-column-target {
        margin-left: 30px;
        width: 100%;
      }

      .cdk-column-excludeIfReached {
        margin-left: 30px;
        width: 100%;
        max-width: 150px;
        justify-content: center;
        mat-checkbox {
          margin-top: -5px;
        }
      }

      .cdk-column-actions {
        margin-left: 30px;
        flex: 0 0 78px;
        width: 78px;
        .row-action-btn {
          border: none;
          background-color: transparent;
          .icon {
            margin-top: -5px;
            margin-left: -3px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--text-size-x-large);
            color: gray;
          }
        }
      }

      mat-form-field {
        width: 100%;
        text-align: left;
      }

      .align-right {
        text-align: right;
      }

      .row-is-locked {
        opacity: 0.4;
      }
    }

    .factor-table {
      max-height: 380px;
      overflow: auto;

      mat-header-row {
        min-height: 35px;
        justify-content: space-between;
      }

      mat-row {
        justify-content: space-between;
      }

      mat-header-cell {
        justify-content: left;
        color: var(--grey-6);
      }

      mat-cell {
        justify-content: left;
      }

      mat-icon {
        position: relative;
        cursor: pointer;

        &.active {
          transform: rotate(90deg);
        }
      }

      .cdk-column-expandIcon {
        flex: 0 0 60px;
        width: 30px;
        padding-left: 0px;
      }

      .cdk-column-factor {
        flex: 0 0 220px;
        width: 150px;
      }

      .cdk-column-description {
        flex: 0 0 220px;
        width: 170px;
        margin-left: 30px;
      }

      .cdk-column-expandedDetail {
        margin-left: 60px;
        border-width: 1px;
        border-radius: 10%;
        padding: 10px 0px;
      }

      .cdk-column-actions {
        margin-left: 15px;
        padding-right: 10px;
        justify-content: flex-end;

        .row-action-btn {
          border: none;
          background-color: transparent;

          .icon {
            margin-top: -5px;
            margin-left: -3px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--text-size-x-large);
            color: gray;
          }
        }
      }

      .expandable-row {
        min-height: 0;
        overflow: hidden;

        mat-cell,
        mat-header-cell {
          padding: 0px;
        }

        .mat-column-experimentPoint {
          padding-left: 20px;
        }
      }

      .remove-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -3px;
        min-width: 60px;
        height: 16px;
        font-size: var(--text-size-x-large);
        color: gray;

        &:hover {
          cursor: pointer;
        }
      }

      mat-form-field {
        width: 100%;
        text-align: left;
      }

      .row-is-locked {
        opacity: 0.4;
      }
    }

    .level-table {
      mat-header-row {
        min-height: 35px;
        justify-content: space-between;
      }

      mat-row {
        justify-content: space-between;
        border-bottom-style: none;
        border-top: 1px solid #d3d3d3;
      }

      mat-header-cell {
        justify-content: left;
        color: var(--grey-6);
      }

      mat-cell {
        justify-content: left;
        margin-bottom: -5px;
      }

      .cdk-column-level {
        margin-left: 20px;
        flex: 0 0 220px;
        width: 180px;
      }

      .cdk-column-payload {
        flex: 0 0 220px;
        width: 100%;
        min-width: 320px;
        margin-left: 30px;
      }

      .cdk-column-actions {
        margin-left: 15px;
        padding-right: 10px;
        justify-content: flex-end;

        .row-action-btn {
          border: none;
          background-color: transparent;

          .icon {
            margin-top: -5px;
            margin-left: -3px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--text-size-x-large);
            color: gray;
          }
        }
      }
    }

    .add-decision-point,
    .add-factor,
    .add-level {
      margin: 10px 0px;
      outline: 0;
      border: 0;
      background-color: transparent;
      color: var(--blue);
      &--disabled {
        color: var(--grey-6);
      }
    }
  }

  .level-container {
    width: 100%;
  }

  .level-table-container {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 10px 5px 0px;
  }

  .validation-container {
    min-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  // This rule is pretty invasive, we should reconsider how and why we are refusing underlines

  // ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  //   bottom: unset;
  //   background-color: unset !important;
  // }

  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    display: none;
  }

  /* Remove arrows/spinners from input type number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}
