<div class="add-metrics">
  <span class="ft-24-700 title">{{ 'metric.add-metrics.text' | translate | titlecase }}</span>

  <div class="json-editor-container">
    <json-editor
      #metricsEditor
      [options]="options"
    ></json-editor>
  </div>

  <div class="button-container">
    <button class="modal-btn" mat-raised-button (click)="onCancelClick()">
      {{ 'global.cancel.text' | translate }}
    </button>
    <button
      mat-raised-button
      class="modal-btn default-button"
      [ngClass]="{ 'default-button--disabled': metricsEditorError }"
      [disabled]="metricsEditorError"
      (click)="addMetrics()"
    >
      {{ 'global.save.text' | translate }}
    </button>
  </div>
</div>
