@use '@angular/material' as mat;

@mixin add-metrics-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .add-metrics {
    .title {
      box-shadow: 0 0 8px 0 mat.get-color-from-palette($background, shadow-color);
    }

    .ace-jsoneditor .ace_scroller {
      background-color: mat.get-color-from-palette($background, background);
    }

    .ace-jsoneditor .ace_gutter {
      background-color: mat.get-color-from-palette($background, background);
      color: mat.get-color-from-palette($foreground, text);
    }

    .ace-jsoneditor .ace_text-layer {
      color: mat.get-color-from-palette($foreground, text);
    }

    .ace-jsoneditor .ace_variable {
      color: mat.get-color-from-palette($foreground, text);
    }

    .ace-jsoneditor .ace_gutter-active-line {
      color: mat.get-color-from-palette($foreground, text);
    }

    .ace-jsoneditor .ace_marker-layer .ace_active-line {
      color: mat.get-color-from-palette($foreground, text);
    }

    .ace-jsoneditor .ace_string {
      color: mat.get-color-from-palette($foreground, text);
    }

  }
}
