.add-metrics {
  .title {
    display: block;
    padding: 40px 40px 0;
    height: 108px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  }

  .filter-container {
    margin: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .filter-options {
    flex-shrink: 0;
  }

  .explainer-box {
    flex: 1;
    font-size: 14px;
    line-height: 20px;
  }

  .json-editor-container {
    margin-top: 20px;
    padding: 0 36px 20px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
  }
}
