$tab-text-color: #8f9bb3;

.tabs-container {
  display: flex;
  flex-direction: column;
  box-shadow: unset !important;
  background: unset !important;
  padding: 0 2.75rem 2.75rem;

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    display: block;
    margin-bottom: 43px;
    color: var(--grey-3);
  }

  .tabs-wrapper {
    flex-grow: 1;
    border-radius: 10px;
    padding: 0;
  }

  ::ng-deep .logs-tabs .mat-tab-header {
    margin-bottom: 50px;
    border-bottom: none !important;
  }

  ::ng-deep .mat-tab-label-content {
    color: $tab-text-color;
    font-family: 'Open Sans';
    font-size: var(--text-size-xx-large);
    font-weight: 600;
  }

  ::ng-deep .mat-tab-label-active {
    opacity: 1;

    ::ng-deep .mat-tab-label-content {
      color: var(--blue);
    }
  }

  ::ng-deep .mat-tab-label-container {
    padding: 34px 34px 0;
    height: 94px;
  }

  ::ng-deep .mat-tab-header {
    border-bottom: 0 !important;
  }

  ::ng-deep .mat-tab-body-content {
    padding: 24px 34px 34px;
  }
}
