$tab-text-color: #8f9bb3;

.tabs-container {
  display: flex;
  flex-direction: column;
  box-shadow: unset !important;
  background: unset !important;
  padding: 0 2.75rem 2.75rem;

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    display: block;
    margin-bottom: 43px;
    color: var(--grey-3);
  }

  .tabs-wrapper {
    flex-grow: 1;
    border-radius: 10px;
    padding: 0;
  }

  ::ng-deep .logs-tabs .mat-mdc-tab-header {
    margin-bottom: 50px;
    border-bottom: none !important;
  }

  ::ng-deep .mat-mdc-tab-header {
    border-bottom: 0 !important;
  }
}
