.table-container {
  position: relative;
  overflow: auto;
  width: 100%;
  padding: 32px;

  .spinner {
    position: sticky;
    top: 0;
    z-index: 1111;
  }

  /* Add gap between header and body when no data exists */
  ::ng-deep .no-data tbody:before {
    display: block;
    line-height: 8px;
    content: '\200C';
  }

  .used-by-table {
    ::ng-deep thead {
      background-color: var(--zircon);

      tr.mat-mdc-header-row {
        height: 48px;
        border: 0;

        th {
          padding-left: 0;
          color: var(--darker-grey);

          &:first-child {
            border-top-left-radius: 4px;
          }

          &:last-child {
            border-top-right-radius: 4px;
          }
        }
      }
    }

    ::ng-deep tbody {
      tr.mat-mdc-row {
        height: 56px;

        td {
          min-width: 96px;
          padding-left: 0;
          color: var(--black-2);
        }
      }

      tr.mat-mdc-no-data-row {
        td {
          height: 48px;
          text-align: center;
          border: 1.5px dashed var(--light-grey-2);
          color: var(--dark-grey);
        }
      }
    }

    .name-column {
      width: 30%;
      padding-left: 32px;

      .item-name {
        color: var(--black-2);
      }
    }

    .type-column {
      width: 20%;
    }

    .status-column {
      width: 25%;
    }

    .updated-at-column {
      width: 25%;
    }
  }
}
