<div mat-dialog-content class="delete-flag-dialog">
  <p class="ft-16-600">
    {{ 'feature-flags.delete-flag.message.text' | translate }}
  </p>
  <mat-form-field class="ft-14-600 name">
    <input
      matInput
      class="ft-14-400 name-input"
      [placeholder]="'feature-flags.delete-flag.input-placeholder.text' | translate"
      [(ngModel)]="flagName"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions class="delete-flag-dialog-actions">
  <button class="shared-modal--modal-btn" mat-flat-button (click)="onCancelClick()">
    {{ 'global.cancel.text' | translate }}
  </button>
  <button
    class="shared-modal--modal-btn default-button delete-btn"
    mat-flat-button
    [ngClass]="{ 'default-button--disabled': flagName !== data.flagName }"
    [disabled]="flagName !== data.flagName"
    (click)="deleteFlag()"
  >
    {{ 'global.delete.text' | translate }}
  </button>
</div>
