@import '@angular/material/prebuilt-themes/indigo-pink.css';

:host ::ng-deep .upsert-feature-flag-list-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;

  form.full-width {
    width: 100%;
  }
}
