div {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;

  .inner-table-container {
    margin: 10px 5px 10px 23px;
  }

  .mat-mdc-table {
    mat-cell,
    mat-header-cell {
      display: flex;
      &:not(:first-child):not(:nth-child(2)) {
        justify-content: flex-end !important;
      }

      padding: 0px 16px !important;
      text-align: center;
      word-break: break-word;
      color: var(--black-2);
    }

    mat-header-cell {
      background-color: var(--zircon);
      color: var(--darker-grey);
    }

    .hidden-column {
      visibility: hidden;
    }

    mat-header-row {
      min-height: 48px;
      border-bottom: none;
    }

    .mat-column-expandIcon {
      flex: 0 0 60px;
      width: 32px;
      padding-left: 16px;
      justify-content: center !important;
      margin-right: -16px;
    }

    mat-cell:nth-child(2),
    mat-cell:nth-child(3),
    mat-header-cell:nth-child(2),
    mat-header-cell:nth-child(3) {
      flex: 0 0 25%;
      width: 25%;
    }

    .mat-icon {
      position: relative;
      cursor: pointer;

      &.active {
        transform: rotate(90deg);
      }
    }
  }

  .expandable-row {
    mat-cell,
    mat-header-cell {
      padding: 0px;

      .mat-column-experimentId {
        justify-content: flex-start !important;
      }
    }
  }
}
