.aliases-table-component {
  height: 515px;

  .aliases-header-container {
    display: flex;  
    justify-content: space-between;

    .icon-bump-left {
      margin-left: -5px;
    }
  }

  .alias-table {
    width: 100%;

  }
}