.aliases-table-component {
  height: 515px;

  .aliases-header-container {
    display: flex;  
    justify-content: space-between;

    .icon-bump-left {
      margin-left: -5px;
    }
  }

  .alias-table {
    width: 100%;
    height: 475px;
    overflow: auto;

    .mat-cell:last-of-type {
      justify-content: center;

      .row-action-btn {
        border: none;
        background-color: transparent;

        &:hover {
          border-radius: 5px;
          background-color: rgba(224, 224, 224);
        }
      }
    }
  }
}