::ng-deep .mat-optgroup.hideLabel .mat-optgroup-label {
  display: none;
}

.segment-members-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 415px;
  position: relative;

  &.scrollable {
      height: 425px;
      margin-top: -5px;
      padding-top: 5px;
      overflow: hidden;
  }
}

.segment-members {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .segment-members-header {
      &-title {
        display: flex;
        flex-direction: column;
      }

      &-subtitle {
        color: var(--grey-3);
      }
    }
  }

  .members-table {
    margin-top: 25px;
    overflow: auto;
    min-height: 88px;
    max-height: 190px;
  
    mat-header-row {
      min-height: 35px;
    }

    mat-row {
      height: 45px;
    }

    mat-header-cell {
      justify-content: left;
      margin-right: 15px;
      color: var(--grey-6);
    }

    mat-cell {
      justify-content: left;
      margin-right: 15px;
    }

    .cdk-column-removeMember {
      margin-right: 0;
      padding-right: 0;
      flex: 0 0 10%;
      justify-content: left;
    }


    .cdk-column-type {
      flex: 0 0 30%;
      justify-content: left;
    }
    .cdk-column-id {
      flex: 0 0 55%;
      justify-content: left;
    }
    .cdk-column-memberNumber {
      flex: 0 0 10%;
      justify-content: left;
    }

    .remove-icon {
      position: relative;
      top: -3px;
      width: 18px;
      height: 18px;
      font-size: var(--text-size-x-large);

      &:hover {
        cursor: pointer;
      }
    }

    mat-form-field {
      width: 100%;
      text-align: left;
    }
  }

  .add-member {
    margin-top: 20px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: var(--blue);
  }

  .button-container {
    display: flex;
    justify-content: space-between;

    .buttons-left {
        .btn-back {
            // TODO use parent container to position buttons
            margin-left: 0 !important;
        }
    }
    
    &.sticky {
        position: sticky;
        bottom: 0;
        width: 100%;
        padding-bottom: 5px;
    }
  }

  .warning-message {
      display: block;
      color: #f57c00;
  }

  ::ng-deep .form-control .mat-form-field-underline {
    bottom: unset;
    background-color: unset !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    display: none;
  }
}
