::ng-deep .mat-optgroup.hideLabel .mat-optgroup-label {
  display: none;
}

.segment-members {
  .members-table {
    height: 190px;
    overflow: auto;

    mat-header-row {
      min-height: 35px;
    }

    mat-row {
      min-height: 46px;
      max-height: 46px;
    }

    mat-header-cell {
      justify-content: left;
      margin-right: 15px;
      color: var(--grey-6);
    }

    mat-cell {
      justify-content: left;
      margin-right: 15px;
    }

    .cdk-column-removeMember {
      margin-right: 0;
      padding-right: 0;
      flex: 0 0 10%;
      justify-content: left;
    }

    .cdk-column-type {
      flex: 0 0 30%;
      justify-content: left;
    }
    .cdk-column-id {
      flex: 0 0 55%;
      justify-content: left;
    }
    .cdk-column-memberNumber {
      flex: 0 0 10%;
      justify-content: left;
    }

    .remove-icon {
      position: relative;
      top: -3px;
      width: 18px;
      height: 18px;
      font-size: var(--text-size-x-large);

      &:hover {
        cursor: pointer;
      }
    }

    mat-form-field {
      width: 100%;
      text-align: left;
    }
  }

  .add-member {
    margin-top: 20px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: var(--blue);
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .btn-back {
      margin-left: 0 !important;
    }
  }

  ::ng-deep .form-control .mat-form-field-underline {
    bottom: unset;
    background-color: unset !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    display: none;
  }
}
