<div class="import-members-container">
  <span class="ft-24-700 title">{{ 'segments.import-members.text' | translate | titlecase }}</span>

  <div class="import-members-body">
    <p class="ft-16-400">
      {{ 'segments.import-members.message.text' | translate }}
    </p>
    <input
        accept=".csv"
        type="file"
        class="ft-14-400 file-input"
        (change)="uploadFile($event)"
      />
      <span class="error-msg" *ngIf="!isMembersCSVValid">
        {{ 'segments.import-members.error.message.text' | translate }}
      </span>
  </div>

  <div class="button-container">
    <button class="shared-modal--modal-btn" mat-raised-button (click)="onCancelClick()">
      {{ 'global.cancel.text' | translate }}
    </button>
    <button
      mat-raised-button
      class="shared-modal--modal-btn default-button"
      [ngClass]="{ 'default-button--disabled': !isMembersCSVValid }"
      [disabled]="!isMembersCSVValid"
      (click)="importSegment()"
    >
      {{ 'global.import.text' | translate }}
    </button>
  </div>
</div>
