$role-background-color: #e6fce9;
$role-text-color: #0a7319;

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 0 2.75rem 2.75rem;

  .title {
    margin-bottom: 0;
    color: var(--black-2);
    font-family: 'Open Sans';
    font-size: var(--text-size-xxxxx-large);
    font-weight: 700;
  }

  .subtitle {
    display: block;
    margin-bottom: 43px;
    color: var(--grey-3);
    font-family: 'Open Sans';
    font-size: var(--text-size-normal);
    font-weight: 400;
  }

  .profile-wrapper {
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--white);

    .personal-information {
      display: flex;
      box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1);
      padding: 35px 34px 0;
      height: 148px;

      &.normal-user {
        margin-bottom: 0;
      }

      .profile-pic {
        margin-right: 20px;
        border: 1px solid var(--blue);
        border-radius: 50%;
        width: 46px;
        height: 46px;
      }

      .user-info {
        display: flex;
        flex-direction: column;

        .name {
          color: var(--black-2);
          font-family: 'Open Sans';
          font-size: var(--text-size-xx-large);
          font-weight: 700;
        }

        .email {
          color: var(--grey-5);
          font-family: 'Open Sans';
          font-size: var(--text-size-x-small);
          font-weight: 600;
        }

        .role {
          margin-top: 10px;
          border-radius: 4px;
          background-color: $role-background-color;
          padding: 2px;
          width: 100px;
          text-align: center;
          color: $role-text-color;
          font-family: 'Open Sans';
          font-size: var(--text-size-x-small);
          font-weight: 600;
        }
      }
    }

    .role-wrapper {
      padding: 24px 34px 34px;

      .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-title {
          font-size: var(--text-size-xx-large);
        }

        button {
          background-color: var(--blue);
          height: 40px;
          color: var(--white);
          font-family: 'Open Sans';
          font-weight: 700;

          .icon {
            margin-right: 5px;
            vertical-align: unset;
          }
        }
      }

      mat-form-field,
      .input {
        line-height: 18px;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 600;
      }

      .users-list {
        width: 100%;

        th,
        td {
          border-color: var(--light-grey);
          padding: 10px 5px;
          font-family: 'Open Sans';
          font-size: var(--text-size-x-small);
        }

        th {
          color: var(--grey-2);
          font-weight: 700;
        }

        tr.mat-footer-row,
        tr.mat-row {
          height: 55px;
        }

        td {
          color: var(--black);
          font-weight: 600;
        }

        .mat-cell {
          width: 20%;
          word-break: break-word;

          &.cdk-column-email,
          &.cdk-column-role {
            width: 25%;
          }
        }

        .paginator {
          width: 100%;
        }
      }
    }
  }

  .icon {
    &:hover {
      cursor: pointer;
    }
  }
}
