<mat-progress-bar mode="indeterminate" *ngIf="isAuditLoading$ | async"></mat-progress-bar>
<div scroll (scrolled)="fetchAuditLogOnScroll()" class="logs" #auditLogContainer>
  <ng-container *ngIf="(auditLogData | json) != '{}'; else zeroStateAudit">
    <div class="timeline-section" *ngFor="let logData of auditLogData | keyvalue: valueDescOrder">
      <div class="error-date">
        <span class="ft-24-700 date-info">{{ logData.key | logDateFormatPipe: LogDateFormatTypes.DATE_MONTH }}</span>
        <span class="ft-12-600 day-info">{{ logData.key | logDateFormatPipe: LogDateFormatTypes.YEAR_DAY }}</span>
      </div>

      <logs-timeline
        class="timeline"
        [logData]="logData.value"
        [logType]="LogType.AUDIT_LOG"
        [theme]="theme$ | async"
      ></logs-timeline>
    </div>
  </ng-container>
  <ng-template #zeroStateAudit>
    <span
      *ngIf="!(isAuditLoading$ | async)"
      class="zero-state"
      [innerHTML]="'logs-global.log-zero-state.text' | translate"
    ></span>
  </ng-template>
</div>
