<div class="experiments-container">
  <mat-form-field class="theme-selector">
    <mat-select [ngModel]="theme$ | async" (ngModelChange)="changeTheme($event)">
      <mat-option *ngFor="let theme of themeOptions" [value]="theme.value">
        {{ theme.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <h1 class="title">{{ 'global.experiment.title' | translate }}</h1>
  <span
    class="subtitle"
    [innerHTML]="'home.experiment.text.subtitle' | translate"
  ></span>

  <ng-container *ngIf="!(isLoadingExperiments$ | async); else loadingExperimentState">
    <div *ngIf="(experiments$ | async).length; else noExperimentTemplate">
      <home-experiment-list></home-experiment-list>
    </div>
    <ng-template #noExperimentTemplate>
      <div class="no-experiment-container">
        <span
          class="text"
          [innerHTML]="'home.no-experiment.text' | translate"
        ></span>
        <button (click)="openNewExperimentDialog()" mat-flat-button color="primary">
          <app-shared-icons class="icon" [iconType]="'plus'"></app-shared-icons>
          {{ 'home.experiment.add-experiment.text' | translate }}
        </button>
      </div>
    </ng-template>
  </ng-container>
</div>

<ng-template #loadingExperimentState>
  <div class="loading-container">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</ng-template>
