<div class="experiments-container">
  <nz-select
    class="theme-options"
    [ngModel]="theme$ | async"
    (ngModelChange)="changeTheme($event)"
    nzPlaceHolder="Choose Theme"
  >
    <nz-option
      *ngFor="let theme of themes"
      [nzValue]="theme.value"
      [nzLabel]="theme.label"
    ></nz-option>
  </nz-select>
  <h1 class="title">{{ 'global.experiment.title' | translate }}</h1>
  <span
    class="subtitle"
    [innerHTML]="'home.experiment.text.subtitle' | translate"
  ></span>

  <ng-container
    *ngIf="!(isLoadingExperiments$ | async); else loadingExperimentState"
  >
    <div *ngIf="(experiments$ | async).length; else noExperimentTemplate">
      <home-experiment-list></home-experiment-list>
    </div>
    <ng-template #noExperimentTemplate>
      <div class="no-experiment-container">
        <span
          class="text"
          [innerHTML]="'home.no-experiment.text' | translate"
        ></span>
        <button nz-button nzType="primary" [nzSize]="'default'">
          <i nz-icon nzType="plus"></i>
          {{ 'home.experiment.add-experiment.text' | translate }}
        </button>
      </div>
    </ng-template>
  </ng-container>
</div>

<ng-template #loadingExperimentState>
  <div class="loading-container">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>
