// File scope scss variables
$white-background: #f0f2f9;

.experiments-container {
  display: flex;
  flex-direction: column;
  background-color: $white-background;
  padding: 2rem 4.375rem;
  height: 100%;
  overflow: scroll;

  .theme-selector {
    display: flex;
    justify-content: flex-end;
  }

  .title {
    margin-bottom: 0;
    color: var(--black-2);
    font-family: OpenSans-Bold;
    font-size: var(--text-size-xxxxx-large);
  }

  .subtitle {
    display: block;
    margin-bottom: 40px;
    color: var(--grey-3);
    font-family: OpenSans-Regular;
    font-size: var(--text-size-normal);
  }

  .no-experiment-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 7px var(--grey);
    background-color: var(--white);

    .text {
      text-align: center;
      line-height: 60px;
      color: var(--black-2);
      font-family: OpenSans-SemiBold;
      font-size: var(--text-size-xxx-large);
    }

    button {
      margin-top: 30px;
      background-color: var(--blue);
      color: var(--white);
      font-family: OpenSans-Bold;

      .icon {
        margin-right: 5px;
        vertical-align: unset;
      }
    }
  }

  .loading-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}
