@import '../../common/logs-view.scss';

.zero-state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: var(--grey);
  font-family: OpenSans-Bold;
  font-size: var(--text-size-xxx-large);
}
