<div class="logs">
  <div class="logs__searching">
    <mat-form-field class="search-input">
      <input
        matInput
        [(ngModel)]="searchValue"
        (keyup)="searchLogs($event.target.value)"
        [placeholder]="'audit.audit-logs-search.text' | translate"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="theme-selector">
      <mat-select [ngModel]="selectedLogOption" (ngModelChange)="changeLogOption($event)">
        <mat-option *ngFor="let option of logsOptions" [value]="option.value">
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-container *ngIf="(auditLogData | json) != '{}'; else zeroStateAudit">
    <div class="timeline-container" *ngFor="let logData of auditLogData | keyvalue: valueDescOrder">
      <div class="error-date">
        <span class="date-info">{{ logData.key | logDateFormatPipe: LogDateFormatTypes.DATE_MONTH }}</span>
        <span class="day-info">{{ logData.key | logDateFormatPipe: LogDateFormatTypes.YEAR_DAY }}</span>
      </div>
      <audit-timeline
        class="timeline"
        [logData]="logData.value"
        [logType]="LogType.AUDIT_LOG"
      ></audit-timeline>
    </div>
  </ng-container>

  <ng-template #zeroStateAudit>
    <span class="zero-state" [innerHTML]="'audit.log-zero-state.text' | translate"></span>
  </ng-template>
</div>
