.experiment-analysis {
  border-radius: 10px;
  box-shadow: unset !important;
  padding: 34px;

  .form {
    margin-top: 20px;
  }

  .form-control {
    margin-right: 30px;
    line-height: 18px;
  }

  .node-tree {
    min-height: 65px;
    max-height: 400px;
    overflow: scroll;

    &-invisible {
      display: none;
    }

    ul,
    li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }

    .mat-tree-node {
      .key-name {
        margin-right: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .node-selected {
    display: block;
    border-radius: 5px;
    background: var(--grey-2);
    padding: 5px 10px;
    min-width: 50px;
    height: 30px;
  }
}
