.dialog {
  &-message {
    font-family: 'Open Sans';
    font-size: var(--text-size-normal);
    font-weight: 400;
  }

  &-actions {
    justify-content: flex-end;

    button {
      font-family: 'Open Sans';
      font-size: var(--text-size-normal);
      font-weight: 600;
    }
  }
}
