.content {
  .user-form {
    display: flex;
    flex-direction: column;

    .validation-message {
      display: block;
      margin-bottom: 10px;
      color: var(--red);
      font-size: var(--text-size-small);
    }
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
  margin-bottom: -8px;
}
