<h1 mat-dialog-title>{{ 'profile.new-user.title' | translate }}</h1>
<div mat-dialog-content class="content">
  <form class="user-form" [formGroup]="newUserForm">
    <mat-form-field>
      <input matInput [placeholder]="'profile.global.email.text' | translate" formControlName="email" />
      <mat-error *ngIf="newUserForm.controls.email.hasError('required')">
        {{ 'profile.new-user.email-required-error.text' | translate }}
      </mat-error>
    </mat-form-field>
    <span class="validation-message" *ngIf="isUserExist">
      {{ 'profile.new-user.email-exist-error.text' | translate }}
    </span>

    <mat-form-field>
      <mat-label>{{ 'profile.global.role.text' | translate }}</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of userRole" [value]="role">
          {{ role | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="newUserForm.controls.role.hasError('required')">
        {{ 'profile.new-user.role-required-error.text' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ 'global.cancel.text' | translate | titlecase }}</button>
  <button
    mat-raised-button
    class="default-button"
    [ngClass]="{ 'default-button--disabled': !this.newUserForm.valid }"
    [disabled]="!this.newUserForm.valid"
    (click)="addNewUser()"
  >
    {{ 'profile.new-user.add-btn.text' | translate }}
  </button>
</div>
