<span class="title">{{ 'profile.new-user.title' | translate }}</span>
<div class="content">
  <form class="user-form" [formGroup]="newUserForm">
    <mat-form-field>
      <input
        matInput
        class="input"
        [placeholder]="'profile.global.email.text' | translate"
        formControlName="email"
      />
      <mat-error *ngIf="newUserForm.controls.email.hasError('required')">
        {{ 'profile.new-user.email-required-error.text' | translate }}
      </mat-error>
    </mat-form-field>
    <span class="validation-message" *ngIf="isUserExist">
      {{ 'profile.new-user.email-exist-error.text' | translate }}
    </span>

    <mat-form-field>
      <mat-label>{{ 'profile.global.role.text' | translate }}</mat-label>
      <mat-select class="input" formControlName="role">
        <mat-option *ngFor="let role of userRole" [value]="role">
          {{ role | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="newUserForm.controls.role.hasError('required')">
        {{ 'profile.new-user.role-required-error.text' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div class="action-buttons">
  <button
    class="modal-btn"
    mat-button
    (click)="onNoClick()"
  >
    {{ 'global.cancel.text' | translate }}
  </button>
  <button
    mat-raised-button
    class="modal-btn default-button"
    [ngClass]="{ 'default-button--disabled': !this.newUserForm.valid }"
    [disabled]="!this.newUserForm.valid"
    (click)="addNewUser()"
  >
    {{ 'profile.new-user.add-btn.text' | translate }}
  </button>
</div>
