.metric-delete-dialog {
  .name {
    width: 100%;
    line-height: 18px;
    margin-top: -10px;
    padding-bottom: 20px;

    &-input {
      line-height: 18px;
    }
  }

  &-actions {
    justify-content: flex-end;
    margin: 0;

    .delete-btn {
      background-color: var(--red) !important;
    }
  }
}
