.state-time-logs-modal {
  .title {
    display: block;
    padding: 40px 40px 0;
    height: 108px;
  }

  .state-time-logs-view {
    margin: 20px;
    padding: 0 40px;

    .stateTimeLogs-table-container {
      min-height: 250px;
      max-height: 500px;

      .table {
        max-height: 500px;
        overflow: auto;

        mat-header-row {
          min-height: 35px;
        }

        mat-row {
          height: 46px;
        }

        mat-header-cell {
          justify-content: center;
          margin-right: 13px;
          color: var(--grey-6);
        }

        mat-cell {
          justify-content: center;
          margin-right: 13px;
        }

        .cdk-column-timeLogNumber {
          flex: 0 0 20%;
        }

        .cdk-column-startTime,
        .cdk-column-endTime {
          flex: 0% 0% 40%;
          width: 40%;
          justify-content: left;
        }
      }
    }

    .zero-state {
      min-height: 250px;
    }
  }
}
