.content-container {
  margin: 40px;

  .close-confirm-msg-container {
    padding: 0px 0px 30px;
    color: var(--black-2);
  }

  .shared-modal--buttons-container {
    justify-content: flex-end;
  }
}
