::ng-deep .mat-optgroup.hideLabel .mat-optgroup-label {
  display: none;
}

.experiment-participants {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .member-table {
    margin-top: 5px;
    max-height: 135px;
    overflow: auto;

    mat-header-row {
      min-height: 35px;
      justify-content: space-between;
    }

    mat-row {
      min-height: 46px;
      max-height: 46px;
      justify-content: space-between;
    }

    mat-header-cell {
      justify-content: left;
      color: var(--grey-6);
    }

    mat-cell {
      justify-content: left;
      margin-bottom: -5px;
    }

    .cdk-column-removeMember {
      flex: 0 0 60px;
      width: 60px;
    }

    .mat-column-type {
      flex: 0 0 180px;
      width: 180px;
    }

    .mat-column-id {
      margin-left: 30px;
      width: 100%;
      max-width: 400px;
    }

    .remove-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -3px;
      min-width: 60px;
      height: 16px;
      font-size: var(--text-size-x-large);
      color: gray;

      &:hover {
        cursor: pointer;
      }
    }

    mat-form-field {
      width: 100%;
      text-align: left;
    }
  }

  .add-member {
    margin-top: 10px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: var(--blue);
    &--disabled {
      color: var(--light-blue);
    }
  }

  .property-container {
    .inclusion-criteria {
      width: 30%;
    }

    .except {
      margin-left: 10%;
      width: 25%;
    }

    .no-include-message-container,
    .no-exclude-message-container {
      color: var(--grey-message);
    }
  }

  .validation-container {
    min-height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  ::ng-deep .mat-form-field-label {
    color: var(--grey-6);
  }

  ::ng-deep .form-control .mat-form-field-underline {
    bottom: unset;
    background-color: unset !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    display: none;
  }
}
