::ng-deep .mat-optgroup.hideLabel .mat-optgroup-label {
  display: none;
}

.experiment-participants {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .member-table {
    max-height: 140px;
    overflow: auto;

    mat-header-row {
      min-height: 35px;
    }

    mat-row {
      min-height: 66px;
      max-height: 66px;
    }

    mat-header-cell {
      justify-content: left;
      margin-right: 15px;
      color: var(--grey-6);
    }

    mat-cell {
      justify-content: left;
      margin-right: 15px;
    }

    .cdk-column-removeMember {
      flex: 0 0 15%;

    }

    .mat-column-id,
    .mat-column-type {
      flex: 0 0 40%;
    }

    .remove-icon {
      position: right;
      top: -3px;
      width: 18px;
      height: 18px;
      font-size: var(--text-size-x-large);

      &:hover {
        cursor: pointer;
      }
    }

    mat-form-field {
      width: 100%;
      text-align: left;
    }
  }

  .add-member {
    // margin-top: 10px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: var(--blue);
  }


  .property-container {
    .inclusion-criteria {
      width: 30%;
    }

    .except {
      margin-left: 10%;
      width: 25%;
    }
  }
  
  .member-table {
    margin-top: 30px;
  }


  ::ng-deep .mat-form-field-label {
    color: var(--grey-6);
  }
}
