.table-container {
  position: relative;
  overflow: auto;
  width: 100%;
  padding: 32px;

  .spinner {
    position: sticky;
    top: 0;
    z-index: 1111;
  }

  /* Add gap between header and body when no data exists */
  ::ng-deep .no-data tbody:before {
    display: block;
    line-height: 8px;
    content: '\200C';
  }

  .conditions-table {
    ::ng-deep thead {
      background-color: var(--zircon);

      tr.mat-mdc-header-row {
        height: 48px;
        border: 0;

        th {
          padding-left: 0;
          color: var(--darker-grey);

          &:first-child {
            border-top-left-radius: 4px;
          }

          &:last-child {
            border-top-right-radius: 4px;
          }
        }
      }
    }

    ::ng-deep tbody {
      tr.mat-mdc-row {
        height: 56px;

        td {
          min-width: 96px;
          padding-left: 0;
          color: var(--black-2);
        }
      }

      tr.mat-mdc-no-data-row {
        td {
          height: 48px;
          text-align: center;
          border: 1.5px dashed var(--light-grey-2);
          color: var(--dark-grey);
        }
      }
    }

    .condition-column {
      width: 35%;
      padding-left: 32px;
    }

    .payload-column {
      width: 30%;
    }

    .weight-column {
      width: 20%;
      text-align: right;
    }

    .weight-edit-column {
      width: 5%;
      text-align: left;

      .weight-edit-button {
        color: var(--dark-grey);

        &[disabled] {
          .mat-icon {
            opacity: 0.5;
          }
        }

        &:has(.weight-edit-button:disabled) {
          cursor: not-allowed;
        }
      }
    }

    .actions-column {
      width: 10%;
      min-width: 96px;
      text-align: center;
      padding-right: 16px;

      .button-wrapper {
        display: inline-block;
        .action-button {
          color: var(--dark-grey);

          &[disabled] {
            .mat-icon {
              opacity: 0.5;
            }
          }
        }
        &:has(.action-button:disabled) {
          cursor: not-allowed;
        }
      }
    }
  }
}
