<div class="create-query-container">
  <mat-tab-group disableRipple="true" (selectedIndexChange)="selectedIndexChange($event)">
    <mat-tab [label]="'monitor.simple-metric.text' | translate">
      <ng-container *ngTemplateOutlet="queryTemplate; context: { tabIndex: 0 }"></ng-container>
    </mat-tab>
    <mat-tab [label]="'monitor.grouped-metric.text' | translate">
      <ng-container *ngTemplateOutlet="queryTemplate"></ng-container>
    </mat-tab>
  </mat-tab-group>

  <ng-template #queryTemplate let-tabIndex="tabIndex">
    <ng-container *ngIf="options[0]?.length; else zeroState">
      <form class="key-selection-form" [formGroup]="queryForm">
        <div class="auto-complete-container">
          <ng-container formArrayName="keys">
            <div *ngFor="let key of keys.controls; let formIndex = index">
              <ng-container [formGroupName]="formIndex">
                <span [matTooltip]="queryForm.getRawValue().keys[formIndex]?.metricKey?.key" matTooltipPosition="above">
                  <mat-form-field class="auto-complete">
                    <input
                      type="text"
                      [placeholder]="tabIndex === 0 ? 'Metric' : controlTitles[formIndex] || 'Metric'"
                      matInput
                      formControlName="metricKey"
                      [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                      (optionSelected)="selectedOption($event)"
                      #auto="matAutocomplete"
                      [displayWith]="displayFn"
                      panelWidth="fit-content"
                    >
                      <mat-option *ngFor="let option of filteredOptions[formIndex] | async" [value]="option">
                        {{ option.key }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </span>
              </ng-container>
              <mat-icon *ngIf="formIndex + 1 !== keys.controls.length" class="icon">arrow_right_alt</mat-icon>
            </div>
          </ng-container>
        </div>
        <button mat-flat-button color="primary" class="ft-12-600 btn" (click)="resetForm()" type="button">
          <span>{{ 'query.clear-btn.text' | translate }}</span>
        </button>
        <div class="secondary-form" *ngIf="selectedNode">
          <mat-form-field class="ft-14-600 form-control">
            <input
              matInput
              class="ft-14-400"
              [placeholder]="'query.query-name.text' | translate"
              formControlName="queryName"
            />
          </mat-form-field>

          <mat-form-field class="ft-14-600 form-control">
            <mat-label>{{ 'monitor.statistic.text' | translate | titlecase }}</mat-label>
            <mat-select class="ft-14-400" formControlName="operationType">
              <mat-option *ngFor="let operation of queryOperations" [value]="operation.value">
                {{ operation.viewValue | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            class="ft-14-600 form-control"
            *ngIf="selectedNode?.metadata?.type !== IMetricMetadata.CONTINUOUS"
          >
            <mat-label>{{ 'query.form-comparison-function.text' | translate | titlecase }}</mat-label>
            <mat-select class="ft-14-400" formControlName="compareFn">
              <mat-option>{{ 'query.none-option.text' | translate }}</mat-option>
              <mat-option *ngFor="let fn of comparisonFns" [value]="fn.value">
                {{ fn.viewValue | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            class="ft-14-600 form-control"
            *ngIf="selectedNode?.metadata?.type !== IMetricMetadata.CONTINUOUS"
          >
            <mat-label>{{ 'query.form-compare-value.text' | translate | titlecase }}</mat-label>
            <mat-select class="ft-14-400" formControlName="compareValue">
              <mat-option *ngFor="let value of selectedNode?.allowedData" [value]="value">
                {{ value | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="selectedNode && tabIndex !== 0">
          <label>{{ 'monitor.metric-repeated-measure.text' | translate }}</label>
          <br />
          <mat-radio-group class="radio-group" formControlName="repeatedMeasure">
            <mat-radio-button class="ft-14-600 repeated-measure" [value]="RepeatedMeasure.mean" color="primary">
              {{ 'monitor.metric-mean.text' | translate }}
            </mat-radio-button>
            <br />
            <mat-radio-button class="ft-14-600 repeated-measure" [value]="RepeatedMeasure.earliest" color="primary">
              {{ 'monitor.metric-earliest.text' | translate }}
            </mat-radio-button>
            <br />
            <mat-radio-button class="ft-14-600 repeated-measure" [value]="RepeatedMeasure.mostRecent" color="primary">
              {{ 'monitor.metric-most-recent.text' | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <button
          *ngIf="selectedNode"
          type="button"
          mat-flat-button
          color="primary"
          class="ft-12-600 default-button btn btn--save"
          [ngClass]="{ 'default-button--disabled': !this.queryForm.valid }"
          [disabled]="!this.queryForm.valid"
          (click)="saveQuery()"
        >
          <span>{{ 'global.save.text' | translate }}</span>
        </button>
      </form>
    </ng-container>
  </ng-template>
</div>

<ng-template #zeroState>
  <span
    *ngIf="!(isAnalysisMetricsLoading$ | async)"
    class="zero-state"
    [innerHTML]="'global.no-metrics.text' | translate"
  >
  </span>
</ng-template>
