@use '@angular/material' as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

mat.$blue-palette: (
  50: #e7edff,
  100: #c2d1ff,
  200: #99b3ff,
  300: #7094ff,
  400: #527dff,
  500: #3366ff,
  600: #2e5eff,
  700: #2753ff,
  800: #2049ff,
  900: #1438ff,
  A100: #ffffff,
  A200: #fbfbff,
  A400: #c8ceff,
  A700: #aeb8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

mat.$red-palette: (
  50: #ffe0e0,
  100: #ffb3b3,
  200: #ff8080,
  300: #ff4d4d,
  400: #ff2626,
  500: #ff0000,
  600: #ff0000,
  700: #ff0000,
  800: #ff0000,
  900: #ff0000,
  A100: #ffffff,
  A200: #fff2f2,
  A400: #ffbfbf,
  A700: #ffa6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

// Background colors for light themes.
$background-color: #f0f2f9;
$shadow-color: rgba(0, 0, 0, 0.12);
$table-shading: #f5f5f5;
$chart-border: #ddd;

// Foreground colors for light themes.
$icon-color: #646e7b;
$text-color: #222b45;

$primary: mat.define-palette(mat.$blue-palette);
$accent: mat.define-palette(mat.$light-blue-palette);
$warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme($primary, $accent, $warn);

// Insert and bind custom background and foreground colors
$background: map-get($light-theme, background);
$foreground: map-get($light-theme, foreground);
$background: map_merge(
  $background,
  (
    background: $background-color,
    shadow-color: $shadow-color,
    table-shading: $table-shading
  )
);
$foreground: map_merge(
  $foreground,
  (
    text: $text-color,
    icon: $icon-color,
    icons: $icon-color,
    chart-border: $chart-border,
  )
);
$light-theme: map_merge(
  $light-theme,
  (
    background: $background,
  )
);
$light-theme: map_merge(
  $light-theme,
  (
    foreground: $foreground,
  )
);
