$dark-grey-text-color: #646e7b;
$font-size-small: 15px;

.experiment-container {
  padding: 0 2.75rem 2.75rem;

  .experiment-link {
    text-decoration: none;
  }

  .experiment {
    margin-top: 25px;
    border-radius: 10px;
    padding: 0;

    &-info {
      padding: 34px 34px 0;

      .experiment-overview {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-title {
          display: flex;
          flex-direction: column;
        }

        &-partitions {
          color: var(--grey-3);
        }

        .action-buttons {
          flex-shrink: 0;
          align-self: flex-start;
          margin-top: 0.5rem;

          .button {
            margin-left: 24px !important;
            border: 1px solid var(--blue);
            width: 85px;
            height: 40px;
            color: var(--blue);

            &--query {
              width: auto;
            }

            .icon {
              margin-right: 3px;
              vertical-align: unset;
            }
          }
        }
      }
    }

    &-description {
      display: block;
      margin: 14px 0 10px;
      color: var(--grey-3);
    }

    &-assign {
      word-break: break-word;
      color: var(--grey-3);
    }

    &-create-date {
      display: block;
      padding-bottom: 23px;
      color: var(--grey-5);
    }

    &-secondary-info {
      padding: 34px 34px 24px;

      &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .experiment-info-section {
          display: flex;
          flex: 0 1 33.33%;
          flex-direction: column;

          .section-data {
            margin-bottom: 20px;

            .experiment-state-container {
              display: flex;
              align-items: center;

              .state-circle {
                display: inline-block;
                margin-right: 6px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
              }

              .icons {
                display: inline-flex;
                margin-right: 6px;

                ::ng-deep svg {
                  width: 15px;
                  height: 15px;
                }
              }

              .edit-icon {
                width: 18px;
                height: 18px;
                font-size: var(--text-size-x-large);
              }

              &.post-experiment-rule-container {
                flex-direction: column;
                align-items: flex-start;
              }
            }

            &.end-criteria-container {
              .end-criteria-underline {
                &--blue {
                  text-decoration: underline;
                  text-decoration-color: var(--blue);
                }

                &--grey {
                  text-decoration: underline;
                }

                &--blue,
                &--grey {
                  cursor: pointer;
                }
              }

              .end-criteria {
                color: $dark-grey-text-color;

                &--text {
                  display: unset;
                }

                &--data {
                  color: var(--blue);
                }
              }

              .edit-icon {
                position: relative;
                top: 5px;
                margin-left: 5px;
                width: 18px;
                height: 18px;
                font-size: var(--text-size-x-large);
              }
            }

            &--fixed {
              height: 66px;
            }

            &-title {
              display: block;
              color: var(--grey-5);
              font-size: $font-size-small !important;
            }

            &-value {
              color: $dark-grey-text-color;

              &--editable {
                margin-right: 8px;
                text-decoration: underline;

                &:hover {
                  cursor: pointer;
                }
              }

              &--editablediv{
                display: flex;
                align-items: center;

              }
            }

            &-group {
              color: var(--grey-2);
            }
          }
        }
      }

      .experiment-chips {
        display: flex;
        flex-direction: row;

        &-title {
          flex-shrink: 0;
          padding-top: 12px;
          width: 90px;
          color: var(--grey-5);
          font-size: $font-size-small !important;
        }

        &-values {
          display: flex;
          flex-wrap: wrap;

          span {
            margin: 5px;
            border-radius: 14px;
            background-color: rgba(216, 216, 216, 0.6);
            padding: 7px 10px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

  }

  .table-container {
    padding: 24px 34px;

    &-partition {
      margin-bottom: 24px;
    }

    .table {
      mat-cell,
      mat-header-cell {
        display: flex;
        justify-content: center;
        padding: 10px;
        word-break: break-word;
      }

      mat-header-cell {
        color: var(--grey-2);
      }
    }
  }

  .box-shadow {
    margin-bottom: 24px;
    padding: 10px;
  }
}

::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: var(--blue);
}

::ng-deep .owl-dt-container-info .owl-dt-container-info-active,
::ng-deep .owl-dt-container-control-button .owl-dt-control-button-content {
  color: var(--blue);
}

::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-disabled>.owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected) {
  color: var(--grey-2);
}
