body {
  font-family: 'Open Sans';
  font-weight: 400;
}

button:focus {
  outline: none;
}

.zero-state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: var(--grey);
  font-family: 'Open Sans';
  font-size: var(--text-size-xxx-large);
  font-weight: 700;
}

// Styles for Fonts

// For Open Sans Regular Font
//   font-family: 'Open Sans';
//   font-weight: 400;

// For Open Sans SemiBold Font
//   font-family: 'Open Sans';
//   font-weight: 600;

// For Open Sans Bold Font
//   font-family: 'Open Sans';
//   font-weight: 700;

// For Open Sans ExtraBold Font
//   font-family: 'Open Sans';
//   font-weight: 800;
