:root {

  /* color variables */
  --blue: #3366ff;
  --black: #000;
  --black-2: #222b45;
  --white: #fff;
  --grey: #808080;
  --grey-2: #8992a3;
  --grey-3: #929FAE;
  --grey-4: #959DAC;
  --light-grey: #d3d3d3;

  /* font-size variables */
  --text-size-xxxxx-large: 2rem;
  --text-size-xxxx-large: 1.875rem;
  --text-size-xxx-large: 1.5rem;
  --text-size-xx-large: 1.375rem;
  --text-size-x-large: 1.25rem;
  --text-size-large: 1.125rem;
  --text-size-normal: 1rem;
  --text-size-small: 0.875rem;
  --text-size-x-small: 0.75rem;
}
