@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import '~@angular/material/theming';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~ng-pick-datetime/assets/style/picker.min.css';

@include mat-core();

@import './styles/styles-variables';
@import './styles/variables.css';
@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/black-theme';
@import './themes/nature-theme';
@import './app/features/dashboard/dashboard-root/dashboard.component.scss-theme';
@import './styles/utility.scss';

@mixin custom-components-theme($theme) {
  @include dashboard-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($theme);
  @include custom-components-theme($theme);
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

.black-theme {
  @include angular-material-theme($black-theme);
  @include custom-components-theme($black-theme);
}

.nature-theme {
  @include angular-material-theme($nature-theme);
  @include custom-components-theme($nature-theme);
}

// TODO material specific style which cannot be changed by scope
.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.default-button {
  background-color: var(--blue) !important;
  padding: 0 1rem;
  color: var(--white) !important;

  &--disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.delete-modal,
.experiment-general-modal {
  border-radius: 7px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.12);

  .mat-dialog-container {
    padding: 40px;
  }
}

.delete-modal {
  width: 350px;
  min-height: 192px;
}

.experiment-general-modal {
  width: 804px;
  min-height: 294px;

  .mat-dialog-container {
    padding: 0;
  }
}

// Common style for modal button
.modal-btn {
  margin-left: 20px !important;
  border-radius: 3px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
  width: 87px;
  height: 36px;
  font-family: 'Open Sans';
  font-size: var(--text-size-normal);
  font-weight: 600;
}
