$text-size-largest: 50px;
$selected-range-color: #c2d1ff;

.enrollment-over-time {
  margin-top: 20px;

  &__title {
    color: var(--black-2);
    font-family: 'Open Sans';
    font-size: var(--text-size-xxx-large);
    font-weight: 600;
  }

  .enrollment-filters {
    display: flex;
    justify-content: space-between;

    mat-form-field {
      margin-right: 20px;
    }
  }

  .chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;

    .condition-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      padding-left: 15px;

      .condition {
        display: flex;
        align-items: center;
        margin-right: 30px;

        .color-box {
          display: inline-block;
          margin-right: 12px;
          border-radius: 4px;
          width: 20px;
          height: 20px;
        }
      }
    }

    .chart {
      display: flex;

      &-data {
        flex-grow: 1;
      }
    }

    .enrollment-statistic {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      width: 225px;

      &__unique {
        border-bottom: 1px solid var(--grey);
        padding-bottom: 30px;
      }

      &__class {
        padding-top: 30px;
      }

      .title {
        display: block;
        margin-bottom: 10px;
        color: var(--grey-4);
        font-family: 'Open Sans';
        font-size: var(--text-size-normal);
        font-weight: 600;
      }

      .numbers {
        color: var(--blue);
        font-family: 'Open Sans';
        font-size: $text-size-largest;
        font-weight: 600;

        &--excluded {
          color: var(--grey-4);
          font-family: 'Open Sans';
          font-size: var(--text-size-normal);
          font-weight: 400;
        }
      }
    }
  }
}

::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: var(--blue);
}

::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
  background-color: $selected-range-color;
}

::ng-deep .owl-dt-container-info .owl-dt-container-info-active,
::ng-deep .owl-dt-container-info .owl-dt-container-range:last-child {
  color: var(--blue);
}
