.header {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .breadcrumb {
    display: flex;
    column-gap: 8px;

    .root-link {
      text-decoration: none;
      color: var(--light-black);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
