.logs {
  padding-top: 10px;
  overflow: auto;

  .timeline-container {
    display: flex;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.12);
    padding: 16px 34px;

    .error-date {
      width: 203px;
      max-width: 203px;

      .date-info {
        display: block;
        color: var(--black-2);
      }

      .day-info {
        color: var(--grey-2);
      }
    }

    .timeline {
      flex-grow: 1;
      width: calc(100% - 203px); // subtract error-date width
    }
  }
}
