$text-color: #8f9bb3;

.logs {
  overflow: auto;

  &__searching {
    display: flex;
    justify-content: flex-end;

    .search-input {
      width: 250px;
      line-height: 20px;
      font-family: 'Open Sans';
      font-weight: 400;
    }

    ::ng-deep .mat-form-field-suffix {
      top: 5px;
    }
  }

  .timeline-container {
    display: flex;
    margin-top: 40px;

    .error-date {
      width: 150px;
      min-width: 150px;

      .date-info {
        display: block;
        color: var(--black-2);
        font-family: 'Open Sans';
        font-size: 24px;
        font-weight: 600;
      }

      .day-info {
        color: $text-color;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
      }
    }

    .timeline {
      flex-grow: 1;
      width: calc(100% - 150px);
    }
  }

  .zero-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: var(--grey);
    font-family: 'Open Sans';
    font-size: var(--text-size-xxx-large);
    font-weight: 700;
  }

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
}
