div {
  width: 100%;

  .inner-table-container {
    div {
      border-bottom: 2px solid var(--grey-2);
    }
  }

  .mat-table {
    mat-cell,
    mat-header-cell {
      display: flex;
      justify-content: center;
      padding: 10px;
      text-align: center;
      word-break: break-word;
    }

    mat-header-cell {
      border-color: var(--light-grey);
      color: var(--grey-2);
      font-family: 'Open Sans';
      font-size: var(--text-size-x-small);
      font-weight: 700;
    }

    .mat-column-expandIcon {
      flex-grow: 0;
    }

    .mat-icon {
      position: relative;
      top: 4px;
      cursor: pointer;

      &.active {
        transform: rotate(90deg);
        margin-left: -8px;
      }
    }
  }

  .expandable-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    min-height: 0;
    overflow: hidden;

    mat-cell,
    mat-header-cell {
      padding: 0px;
    }
  }
}
