div {
  width: 100%;

  .inner-table-container {
    div {
      margin-bottom: 5px;
    }
  }

  .mat-table {
    mat-cell,
    mat-header-cell {
      display: flex;
      justify-content: center;
      padding: 10px;
      text-align: center;
      word-break: break-word;
      font-family: 'Open Sans';
      font-size: var(--text-size-x-small);
      font-weight: 600;
    }

    mat-header-cell {
      border-color: var(--light-grey);
      color: var(--grey-2);
      font-weight: 700;
    }

    .mat-column-condition {
      justify-content: flex-start;
    }

    .mat-column-expandIcon {
      flex-grow: 0;
    }

    .mat-icon {
      position: relative;
      cursor: pointer;

      &.active {
        transform: rotate(90deg);
        margin-left: -8px;
      }
    }
  }

  .expandable-row {
    background-color: #fafafa;
    min-height: 0;
    overflow: hidden;

    mat-cell,
    mat-header-cell {
      padding: 0px;
    }

    .mat-column-experimentPoint {
      justify-content: flex-start;
      padding-left: 30px;
    }

    .mat-column-experimentId {
      justify-content: flex-start;

      &.mat-header-cell {
        justify-content: center;
      }
    }
  }
}
