<mat-card class="feature-flags-container">
  <h1 class="title ft-32-700">{{ 'feature-flags.title.text' | translate }}</h1>
  <span class="subtitle ft-16-400" [innerHTML]="'feature-flags.subtitle.text' | translate"></span>

  <ng-container *ngIf="isLoadingFeatureFlags$ | async; else loadingFeatureFlagState">
    <mat-card class="flags-table" *ngIf="(featureFlags$ | async).length; else noFeatureFlagsTemplate">
      <feature-flags-list></feature-flags-list>
    </mat-card>
    <ng-template #noFeatureFlagsTemplate>
      <mat-card class="no-flags-container">
        <span class="text ft-24-600" [innerHTML]="'feature-flags.no-flags.text' | translate"></span>
        <button
          mat-flat-button
          color="primary"
          class="ft-14-700"
          (click)="openNewFlagDialog()"
          *ngIf="(permissions$ | async)?.featureFlags.create"
        >
          <mat-icon>add</mat-icon>
          <span>{{ 'feature-flags.add-flag.text' | translate }}</span>
        </button>
      </mat-card>
    </ng-template>
  </ng-container>
</mat-card>

<ng-template #loadingFeatureFlagState>
  <div class="loading-container">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</ng-template>
