$tab-text-color: #8f9bb3;

.tabs-container {
  display: flex;
  flex-direction: column;
  padding: 0 4.375rem 2rem;

  .title {
    margin-bottom: 0;
    color: var(--black-2);
    font-family: OpenSans-Bold;
    font-size: var(--text-size-xxxxx-large);
  }

  .subtitle {
    display: block;
    margin-bottom: 40px;
    color: var(--grey-3);
    font-family: OpenSans-Regular;
    font-size: var(--text-size-normal);
  }

  .tabs-wrapper {
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--white);
    padding: 2rem;
  }

  .tabs-tabs {
    margin-bottom: 30px;
  }

  ::ng-deep .logs-tabs .mat-tab-header {
    margin-bottom: 50px;
    border-bottom: none !important;
  }

  ::ng-deep .mat-tab-label-content {
    color: $tab-text-color;
    font-family: OpenSans-Regular;
    font-size: var(--text-size-xx-large);
    font-weight: bold;
  }

  ::ng-deep .mat-tab-label-active {
    opacity: 1;

    ::ng-deep .mat-tab-label-content {
      color: var(--blue);
    }
  }
}
