.experiment-design {
  .condition-table,
  .partition-table {
    max-height: 180px;
    overflow: auto;

    mat-header-row {
      min-height: 35px;
    }

    mat-row {
      min-height: 46px;
      max-height: 46px;
    }

    mat-header-cell {
      justify-content: center;
      margin-right: 15px;
      color: var(--grey-6);
    }

    mat-cell {
      justify-content: center;
      margin-right: 15px;
    }

    .cdk-column-removeCondition,
    .cdk-column-removePartition {
      flex: 0 0 10%;
      width: 10%;
    }

    .cdk-column-expId,
    .cdk-column-expPoint {
      flex: 0 0 30%;
      width: 30%;
    }

    .remove-icon {
      position: relative;
      top: -3px;
      width: 18px;
      height: 18px;
      font-size: var(--text-size-x-large);

      &:hover {
        cursor: pointer;
      }
    }

    mat-form-field {
      width: 100%;
      text-align: center;
    }

    .condition-description {
      padding: 10px 0;
    }
  }

  .add-condition,
  .add-partition {
    margin-top: 10px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: var(--blue);
  }

  mat-checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    &.mat-checkbox-checked {
      color: var(--blue);
    }
  }

  .partition-table {
    margin-top: 30px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .btn-back {
      margin-left: 0 !important;
    }
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: unset;
    background-color: unset !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    display: none;
  }
}

.header-group {
  display: grid;
  margin-left: -80px;
  justify-content: center;
}
