.experiment-queries-result {
  padding: 0 34px 34px;

  .metric-data-text {
    display: block;
  }

  .main-effect-data-text {
    display: block;
  }

  .interaction-effect-data-text {
    display: block;
  }

  .metric-data-detail-text {
    color: var(--grey-3);
    margin-bottom: 10px;
  }

  .factor-name-main {
    color: var(--grey-3);
    margin-top: 10px;
    padding-left: 150px;
  }

  .factor-name1 {
    color: var(--grey-3);
    margin-top: 10px;
    padding-left: 150px;
    padding-right: 330px;
  }

  .factor-name2 {
    color: var(--grey-3);
    margin-bottom: -50px;
    padding-left: 150px;
    padding-right: 330px;
  }

  .table-container {
    padding: 24px 34px;

    .table {
      mat-cell,
      mat-header-cell {
        justify-content: flex-start !important;
      }
    }

    &-query .query-table {
      justify-content: space-between;

      .mat-header-cell {
        justify-content: left;
      }

      .mat-cell {
        justify-content: left;
      }
    }
  }

  ::ng-deep .ngx-charts {
    ::ng-deep text {
      font-family: 'Open Sans';
      font-weight: 600;
      display: flex;
      flex-grow: 1;
    }
  }

  ::ng-deep .ngx-charts g.line-chart > g:last-of-type > g:nth-child(n) g.line-series > path {
    stroke-width: 5px;
  }

  ::ng-deep {
    .legend-labels {
      background: none !important;
      margin-left: 50px;
    }
  }

  // ::ng-deep{
  //   .legend-label-text{
  //     color: white;
  //   }
  // }

  .loading-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 0 16px;
  }
}
