.experiment-queries-result {
  padding: 0 34px 34px;

  .metric-data-text {
    display: block;
  }

  .main-effect-data-text {
    display: block;
  }

  .interaction-effect-data-text {
    display: block;
  }

  .metric-data-detail-text {
    color: var(--grey-3);
    margin-bottom: 10px;
  }

  .factor-name1 {
    color: var(--grey-3);
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 380px;
  }

  .factor-name2 {
    color: var(--grey-3);
    margin-bottom: -50px;
    padding-left: 100px;
    padding-right: 400px;
  }

  ::ng-deep .ngx-charts {
    ::ng-deep text {
      font-family: 'Open Sans';
      font-weight: 600;
      display: flex;
      flex-grow: 1;
    }
    /* Make lines in line chart thick, with rounded ends */
    // ::ng-deep .ngx-charts g.line-chart > g:last-of-type > g:nth-child(n) g.line-series > path {
    //   stroke-width: 40;
    //   stroke-linecap: round;
    // }
  }

  // ::ng-deep .ngx-charts .bar {
  //   transform: scale(1,1);
  // }

  ::ng-deep{
    .legend-labels{
      background: none !important;
      margin-left: 50px;
    }
  }

  ::ng-deep{
    .legend-label-text{
      color: black;
    }
  }

  .loading-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 0 16px;
  }
}
