@use '@angular/material' as mat;

@mixin experiment-query-result-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .experiment-queries-result {
    .ngx-charts {
      text {
        fill: mat.get-color-from-palette($foreground, text);
      }
    }

    .ngx-charts .gridline-path {
      stroke: mat.get-color-from-palette($foreground, chart-border);
    }

    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: 0px 1px 5px 0px mat.get-color-from-palette($background, shadow-color);
    }

    .legend-label-text {
      color: mat.get-color-from-palette($foreground, text);
    }
  }
}
