.metric-common {
  .action-container {
    display: flex;
    justify-content: space-between;
  }

  .node-tree {
    min-height: 65px;
    max-height: 400px;
    overflow: scroll;

    &-invisible {
      display: none;
    }

    ul,
    li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }

    .mat-tree-node {
      .key-name {
        margin-right: 20px;
      }

      .icon {
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
