@use '@angular/material' as mat;

@mixin profile-info-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .profile-wrapper {
    .personal-information {
      box-shadow: 0 8px 8px -8px mat.get-color-from-palette($background, shadow-color);
    }

    .icon {
      color: mat.get-color-from-palette($foreground, icon);
    }
  }
}
