<div class="audit-container">
  <h1 class="title">{{ 'audit.main-heading.text' | translate }}</h1>
  <span
    class="subtitle"
    [innerHTML]="'audit.sub-heading.text' | translate"
  ></span>

  <div class="audit-wrapper">
    <mat-tab-group class="audit-tabs" disableRipple="true">
      <mat-tab [label]="'audit.error-logs-tab.text' | translate">
        <error-logs></error-logs>
      </mat-tab>
      <mat-tab [label]="'audit.audit-logs-tab.text' | translate">
        <audit-logs [auditLogData]="logs"></audit-logs>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
