$dark-grey-text-color: #646e7b;
$font-size-small: 15px;

.experiment-container {
  padding: 0 2.75rem 2.75rem;
  box-shadow: 0px 0px #888888 !important;

  .experiment-link {
    text-decoration: none;
  }

  .experiment {
    margin-top: 25px;
    border-radius: 10px;
    padding: 0 0 20px 0;

    &-info {
      padding: 34px 34px 0;

      .experiment-overview {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-title {
          display: flex;
          flex-direction: column;
        }

        &-partitions {
          color: var(--grey-3);
        }

        .action-buttons {
          flex-shrink: 0;
          align-self: flex-start;
          margin-top: 0.5rem;

          .button {
            background-color: #efeff0;
            border-radius: 4px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.26);
            color: black;
            height: 39px;
            margin-left: 24px !important;
            mix-blend-mode: normal;
            width: 105px;

            &--query {
              width: auto;
            }

            .icon {
              margin-right: 3px;
              vertical-align: unset;
            }
          }

          .button-long {
            margin-left: 24px !important;
            border: 1px solid var(--blue);
            width: 140px;
            height: 39px;
            background-color: var(--blue);
            color: var(--white);

            &--query {
              width: auto;
            }

            .icon {
              margin-right: 3px;
              vertical-align: center;
            }
          }
        }
        &-dates {
          display: inline-block;
          padding: 10px 0px 20px;
          color: var(--grey-5);
        }

        &-create-date {
          display: block;
        }

        &-last-update-date {
          display: block;
        }
      }
    }

    &-description {
      display: block;
      margin: 14px 0 10px;
      color: var(--grey-3);
    }

    &-assign {
      word-break: break-word;
      color: var(--grey-3);
    }

    &-secondary-info {
      padding: 34px 34px 24px !important;

      &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .experiment-info-section {
          display: flex;
          flex: 0 1 33.33%;
          flex-direction: column;

          .section-data {
            margin-bottom: 20px;

            .experiment-state-container {
              display: flex;
              align-items: center;

              .state-circle {
                display: inline-block;
                margin-right: 6px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
              }

              .icons {
                display: inline-flex;
                margin-right: 6px;

                ::ng-deep svg {
                  width: 15px;
                  height: 15px;
                }
              }

              .edit-icon {
                width: 18px;
                height: 18px;
                font-size: var(--text-size-x-large);
              }

              &.post-experiment-rule-container {
                flex-direction: column;
                align-items: flex-start;
              }
            }

            &.end-criteria-container {
              .end-criteria-underline {
                &--blue {
                  text-decoration: underline;
                  text-decoration-color: var(--blue);
                }

                &--grey {
                  text-decoration: underline;
                }

                &--blue,
                &--grey {
                  cursor: pointer;
                }
              }

              .end-criteria {
                color: $dark-grey-text-color;

                &--text {
                  display: unset;
                }

                &--data {
                  color: var(--blue);
                }
              }

              .edit-icon {
                position: relative;
                top: 5px;
                margin-left: 5px;
                width: 18px;
                height: 18px;
                font-size: var(--text-size-x-large);
              }
            }

            &--fixed {
              height: 66px;
            }

            &-title {
              display: block;
              color: var(--grey-5);
              font-size: $font-size-small !important;
            }

            &-value {
              color: $dark-grey-text-color;

              &--editable {
                margin-right: 8px;
                text-decoration: underline;

                &:hover {
                  cursor: pointer;
                }
              }

              &--editablediv {
                display: flex;
                align-items: center;
              }
            }

            &-group {
              color: var(--grey-2);
            }
          }
        }
      }

      .experiment-chips {
        display: flex;
        flex-direction: row;

        &-title {
          flex-shrink: 0;
          padding-top: 12px;
          width: 90px;
          color: var(--grey-5);
          font-size: $font-size-small !important;
        }

        &-values {
          display: flex;
          flex-wrap: wrap;

          span {
            margin: 5px;
            border-radius: 14px;
            background-color: rgba(216, 216, 216, 0.6);
            padding: 7px 10px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .logging {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        padding-top: 15px;
        width: 90px;
        color: var(--grey-5);
        font-size: $font-size-small !important;
      }
    }
  }

  .enrollment-text {
    padding: 0px 34px 5px 34px;
  }

  .enrollment-details-text {
    color: var(--grey-3);
    margin-bottom: 10px;
    padding: 0px 34px;
  }

  .mat-tab-label {
    background-color: transparent;
    color: #8992a3;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 48px;
    margin: 28px 0px 21px 0px;
    padding: 0px;

    &:first-of-type {
      margin-left: 34px;
    }
  }

  .mat-tab-label-active {
    color: #3366ff;
    opacity: 1;
  }

  .tab-body-container {
    padding: 24px 0px;
  }

  .tab-table-body-container {
    padding: 0px !important;
  }

  .table-container {
    padding: 24px 34px;

    &-partition {
      margin-bottom: 24px;

      .factor-table {
        overflow: auto;

        mat-header-row,
        mat-row {
          justify-content: space-between;
        }

        mat-header-cell,
        mat-cell {
          justify-content: left;
        }

        mat-icon {
          position: relative;
          cursor: pointer;

          &.active {
            transform: rotate(90deg);
          }
        }

        .cdk-column-expandIcon {
          flex: 0 0 60px;
          width: 30px;
          padding-left: 10px;
        }

        .expandable-row {
          min-height: 0px !important;
          overflow: hidden;

          mat-cell,
          mat-header-cell {
            padding-left: 30px;
            justify-content: left;
          }
        }
      }

      .level-table-container {
        width: 100%;
      }

      .level-table {
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        margin: 10px 5px 10px 25px;
      }
    }

    &-participants,
    &-metrics {
      margin-bottom: 24px;

      .table {
        mat-cell,
        mat-header-cell {
          justify-content: flex-start !important;
          padding-left: 10.5% !important;
        }
      }
    }

    &-payloads .payload-table-overview {
      justify-content: space-between;

      .mat-header-cell {
        justify-content: left;
      }

      .mat-cell {
        justify-content: left;
      }
    }

    &-metrics {
      mat-row {
        align-items: flex-start;
      }
      mat-cell {
        align-items: flex-start;
        flex-direction: column !important;
      }
    }

    .table {
      mat-cell,
      mat-header-cell {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-left: 25px;
        word-break: break-word;
      }

      mat-header-cell {
        color: var(--grey-2);
      }
    }
  }

  .metric-key,
  .metric-Operation {
    padding-bottom: 5px;
  }

  .box-shadow {
    margin-bottom: 24px;
    padding: 10px;
  }
}

::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: var(--blue);
}

::ng-deep .owl-dt-container-info .owl-dt-container-info-active,
::ng-deep .owl-dt-container-control-button .owl-dt-control-button-content {
  color: var(--blue);
}

::ng-deep
  .owl-dt-calendar-table
  .owl-dt-calendar-cell-disabled
  > .owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected) {
  color: var(--grey-2);
}
