<div mat-dialog-content class="delete-flag-dialog">
  <p class="ft-16-600">
    {{ 'feature-flags.delete-flag.message.text' | translate: { flagName: data.flagName } }}
  </p>
</div>
<div mat-dialog-actions class="delete-flag-dialog-actions">
  <button
    class="modal-btn"
    mat-flat-button
    (click)="onCancelClick()"
  >
    {{ 'global.cancel.text' | translate }}
  </button>
  <button
    class="modal-btn default-button delete-btn"
    mat-flat-button
    cdkFocusInitial
    (click)="deleteFlag()"
  >
    {{ 'global.delete.text' | translate }}
  </button>
</div>
