<form class="flag-overview" [formGroup]="overviewForm">
  <mat-form-field class="ft-14-600 name">
    <input
      matInput
      class="ft-14-400"
      [placeholder]="'feature-flags.global-name.text' | translate"
      formControlName="name"
      cdkFocusInitial
    />
  </mat-form-field>

  <mat-form-field class="ft-14-600 key">
    <input
      matInput
      class="ft-14-400"
      [placeholder]="'feature-flags.global-key.text' | translate"
      formControlName="key"
    />
  </mat-form-field>
  <mat-error class="ft-14-600 validation-message" *ngIf="keyError">
    {{ keyError }}
  </mat-error>

  <mat-form-field class="ft-14-600 variationType">
    <mat-label>{{ 'feature-flags.overview.flag-variation-type.text' | translate }}</mat-label>
    <mat-select class="ft-14-400" formControlName="variationType">
      <mat-option *ngFor="let type of variationTypes" [value]="type">
        {{ type | titlecase }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="overviewForm.controls.variationType.hasError('required')">
      {{ 'feature-flags.overview.flag-variation-type-error.text' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="ft-14-600 description">
    <input
      class="ft-14-400"
      matInput
      [placeholder]="'feature-flags.overview.flag-description.text' | translate"
      formControlName="description"
    />
  </mat-form-field>

  <div class="button-container">
    <button class="shared-modal--modal-btn" mat-raised-button (click)="emitEvent(NewFlagDialogEvents.CLOSE_DIALOG)">
      {{ 'global.cancel.text' | translate }}
    </button>
    <button
      mat-raised-button
      class="shared-modal--modal-btn default-button"
      (click)="emitEvent(NewFlagDialogEvents.SEND_FORM_DATA)"
    >
      {{ 'global.next.text' | translate }}
    </button>
  </div>
</form>
