@import '~@angular/material/theming';

@mixin view-experiment-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .experiment-container {
    background-color: mat-color($background, background);

    .experiment-link {
      color: mat-color($foreground, text)
    }

    .experiment {
      box-shadow: 0 0 8px 0 mat-color($background, shadow-color);

      &-info {
        box-shadow: 0 8px 8px -8px mat-color($background, shadow-color);

        .action-buttons {
          .button {
            background-color: mat-color($background, background);
          }
        }
      }

      &-secondary-info {
        box-shadow: 0 8px 8px -8px mat-color($background, shadow-color);

        &-container {
          .section-data {
            .edit-icon {
              color: mat-color($foreground, icon);
            }
          }
        }

        .experiment-chips {
          &-values {
            span {
              color: mat-color($foreground, text);
            }
          }
        }
      }
    }

    .table-container {
      &-partition {
        box-shadow: 0 8px 8px -8px mat-color($background, shadow-color);
      }
    }
  }
}
