$white-background: #f0f2f9;
$dark-grey-text-color: #707a85;

.experiment-container {
  background-color: $white-background;
  padding: 0 70px 40px;

  .experiment-title,
  .experiment-link {
    color: var(--black-2);
    font-family: 'Open Sans';
    font-size: var(--text-size-large);
    font-weight: 400;
  }

  .experiment-link {
    text-decoration: none;
  }

  .experiment {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px var(--light-grey);
    background-color: var(--white);
    padding: 30px;

    &-overview {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-title {
        display: flex;
        flex-direction: column;
        color: var(--black-2);
        font-family: 'Open Sans';
        font-size: var(--text-size-xxxxx-large);
        font-weight: 700;
      }

      &-partitions {
        color: var(--grey-3);
        font-family: 'Open Sans';
        font-size: var(--text-size-large);
        font-weight: 400;
      }

      .action-buttons {
        flex-shrink: 0;
        align-self: flex-start;

        .edit-button,
        .delete-button {
          margin-left: 15px !important;
          border: 1px solid var(--blue);
          background: $white-background;
          color: var(--blue);
          font-size: var(--text-size-small);

          .icon {
            margin-right: 3px;
            vertical-align: unset;
          }
        }
      }
    }

    &-description {
      margin: 15px 0 15px;
      color: var(--grey-3);
      font-family: 'Open Sans';
      font-size: var(--text-size-small);
      font-weight: 400;
    }

    &-create-date {
      display: block;
      margin-bottom: 20px;
      color: var(--grey-2);
      font-family: 'Open Sans';
      font-size: var(--text-size-x-small);
      font-weight: 400;
    }

    &-state {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 25px;

      &-container {
        display: flex;
        flex-direction: column;

        .state-data {
          margin-bottom: 20px;

          &.end-criteria-container {
            width: 200px;

            .end-criteria {
              color: $dark-grey-text-color;
              font-family: 'Open Sans';
              font-size: var(--text-size-normal);
              font-weight: 600;

              &--text {
                display: unset;
              }

              &--data {
                color: var(--blue);
              }
            }
          }

          &--fixed {
            height: 66px;
          }

          &-value {
            color: $dark-grey-text-color;
            font-family: 'Open Sans';
            font-size: var(--text-size-large);
            font-weight: 600;
          }

          span {
            display: block;

            &:first-of-type {
              margin-bottom: 5px;
              color: var(--grey-3);
              font-family: 'Open Sans';
              font-size: var(--text-size-small);
              font-weight: 600;
            }
          }

          button {
            padding: 0;
            height: 40px;
            color: var(--blue);
            font-family: 'Open Sans';
            font-size: var(--text-size-large);
            font-weight: 600;

            .icon {
              margin-left: 5px;
              vertical-align: unset;
            }
          }
        }
      }
    }
  }

  .table-container {
    margin-top: 30px;

    .title {
      color: var(--black-2);
      font-family: 'Open Sans';
      font-size: var(--text-size-xxx-large);
      font-weight: 600;
    }

    .table {
      mat-cell,
      mat-header-cell {
        display: flex;
        justify-content: center;
        padding: 10px;
        word-break: break-word;
      }

      mat-header-cell {
        border-color: var(--light-grey);
        color: var(--grey-2);
        font-family: 'Open Sans';
        font-size: var(--text-size-x-small);
        font-weight: 700;
      }
    }
  }
}

