.chip-container {
  display: flex;
  align-items: center;

  .status-indicator {
    pointer-events: none;
    --mat-chip-container-shape-radius: 4px;

    // experiment statuses
    &.inactive {
      --mat-chip-label-text-color: var(--status-inactive);
      border: 1px solid var(--status-inactive);
      background-color: var(--status-inactive-alpha);
    }

    &.scheduled {
      --mat-chip-label-text-color: var(--status-scheduled);
      border: 1px solid var(--status-scheduled);
      background-color: var(--status-scheduled-alpha);
    }

    &.preview {
      --mat-chip-label-text-color: var(--status-preview);
      border: 1px solid var(--status-preview);
      background-color: var(--status-preview-alpha);
    }

    &.enrolling,
    &.running {
      --mat-chip-label-text-color: var(--status-running);
      border: 1px solid var(--status-running);
      background-color: var(--status-running-alpha);
    }

    &.enrollmentComplete,
    &.paused {
      --mat-chip-label-text-color: var(--status-paused);
      border: 1px solid var(--status-paused);
      background-color: var(--status-paused-alpha);
    }

    &.cancelled,
    &.completed {
      --mat-chip-label-text-color: var(--status-completed);
      border: 1px solid var(--status-completed);
      background-color: var(--status-completed-alpha);
    }

    &.archived {
      --mat-chip-label-text-color: var(--status-archived);
      border: 1px solid var(--status-archived);
      background-color: var(--status-archived-alpha);
    }

    // feature flag statuses
    &.disabled {
      --mat-chip-label-text-color: var(--status-disabled);
      border: 1px solid var(--status-disabled);
      background-color: var(--status-disabled-alpha);
    }

    &.enabled {
      --mat-chip-label-text-color: var(--status-enabled);
      border: 1px solid var(--status-enabled);
      background-color: var(--status-enabled-alpha);
    }

    // segment statuses
    &.excluded {
      --mat-chip-label-text-color: var(--status-excluded);
      border: 1px solid var(--status-excluded);
      background-color: var(--status-excluded-alpha);
    }

    &.unused {
      --mat-chip-label-text-color: var(--status-unused);
      border: 1px solid var(--status-unused);
      background-color: var(--status-unused-alpha);
    }

    &.used {
      --mat-chip-label-text-color: var(--status-used);
      border: 1px solid var(--status-used);
      background-color: var(--status-used-alpha);
    }

    // import compatibility statuses
    &.incompatible {
      --mat-chip-label-text-color: var(--status-incompatible);
      border: 1px solid var(--status-incompatible);
      background-color: var(--status-incompatible-alpha);
    }

    &.warning {
      --mat-chip-label-text-color: var(--status-warning);
      border: 1px solid var(--status-warning);
      background-color: var(--status-warning-alpha);
    }

    &.compatible {
      --mat-chip-label-text-color: var(--status-compatible);
      border: 1px solid var(--status-compatible);
      background-color: var(--status-compatible-alpha);
    }
  }

  .warning-icon {
    margin-top: 6px;
    margin-left: 6px;
  }
}
