.chip-container {
  display: flex;
  align-items: center;

  .status-indicator {
    pointer-events: none;
    --mdc-chip-container-shape-radius: 4px;

    &.disabled {
      --mdc-chip-label-text-color: var(--status-disabled);
      border: 1px solid var(--status-disabled);
      background-color: var(--status-disabled-alpha);
    }

    &.enabled {
      --mdc-chip-label-text-color: var(--status-enabled);
      border: 1px solid var(--status-enabled);
      background-color: var(--status-enabled-alpha);
    }

    &.draft {
      --mdc-chip-label-text-color: var(--status-draft);
      border: 1px solid var(--status-draft);
      background-color: var(--status-draft-alpha);
    }

    &.inactive,
    &.warning {
      --mdc-chip-label-text-color: var(--status-inactive);
      border: 1px solid var(--status-inactive);
      background-color: var(--status-inactive-alpha);
    }

    &.enrolling {
      --mdc-chip-label-text-color: var(--status-enrolling);
      border: 1px solid var(--status-enrolling);
      background-color: var(--status-enrolling-alpha);
    }

    &.scheduled {
      --mdc-chip-label-text-color: var(--status-scheduled);
      border: 1px solid var(--status-scheduled);
      background-color: var(--status-scheduled-alpha);
    }

    &.preview {
      --mdc-chip-label-text-color: var(--status-preview);
      border: 1px solid var(--status-preview);
      background-color: var(--status-preview-alpha);
    }

    &.enrollmentComplete,
    &.compatible {
      --mdc-chip-label-text-color: var(--status-enrollment-complete);
      border: 1px solid var(--status-enrollment-complete);
      background-color: var(--status-enrollment-complete-alpha);
    }

    &.cancelled,
    &.incompatible {
      --mdc-chip-label-text-color: var(--status-cancelled);
      border: 1px solid var(--status-cancelled);
      background-color: var(--status-cancelled-alpha);
    }

    &.archived {
      --mdc-chip-label-text-color: var(--status-archived);
      border: 1px solid var(--status-archived);
      background-color: var(--status-archived-alpha);
    }

    &.excluded {
      --mdc-chip-label-text-color: var(--status-excluded);
      border: 1px solid var(--status-excluded);
      background-color: var(--status-excluded-alpha);
    }

    &.unused {
      --mdc-chip-label-text-color: var(--status-unused);
      border: 1px solid var(--status-unused);
      background-color: var(--status-unused-alpha);
    }

    &.used {
      --mdc-chip-label-text-color: var(--status-used);
      border: 1px solid var(--status-used);
      background-color: var(--status-used-alpha);
    }
  }

  .warning-icon {
    margin-left: 6px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: var(--status-disabled);
  }
}
