<div class="new-user">
  <span class="ft-24-700 title">{{ 'profile.new-user.title' | translate }}</span>
  <div class="content">
    <form class="user-form" [formGroup]="newUserForm">
      <mat-form-field class="ft-14-600">
        <input
          matInput
          class="ft-14-600 input"
          [placeholder]="'profile.table.firstName.text' | translate"
          formControlName="firstName"
        />
        <mat-error *ngIf="newUserForm.controls.firstName.hasError('required')">
          {{ 'profile.new-user.firstName-required-error.text' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="ft-14-600">
        <input
          matInput
          class="ft-14-600 input"
          [placeholder]="'profile.table.lastName.text' | translate"
          formControlName="lastName"
        />
        <mat-error *ngIf="newUserForm.controls.lastName.hasError('required')">
          {{ 'profile.new-user.lastName-required-error.text' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="ft-14-600">
        <input
          matInput
          class="ft-14-600 input"
          [placeholder]="'profile.global.email.text' | translate"
          formControlName="email"
        />
        <mat-error *ngIf="newUserForm.controls.email.hasError('required')">
          {{ 'profile.new-user.email-required-error.text' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="ft-14-600">
        <mat-label>{{ 'profile.global.role.text' | translate }}</mat-label>
        <mat-select class="ft-14-600 input" formControlName="role">
          <mat-option *ngFor="let role of userRole" [value]="role">
            {{ role | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="newUserForm.controls.role.hasError('required')">
          {{ 'profile.new-user.role-required-error.text' | translate }}
        </mat-error>
      </mat-form-field>
    </form>
    <span class="ft-14-600 validation-message" *ngIf="isUserExist">
      {{ 'profile.new-user.email-exist-error.text' | translate }}
    </span>
  </div>
  <div class="action-buttons">
    <button class="shared-modal--modal-btn" mat-raised-button (click)="onNoClick()">
      {{ 'global.cancel.text' | translate }}
    </button>
    <button
      mat-raised-button
      class="shared-modal--modal-btn default-button"
      [ngClass]="{ 'default-button--disabled': !this.newUserForm.valid }"
      [disabled]="!this.newUserForm.valid"
      (click)="addNewUser()"
    >
      {{ 'profile.new-user.add-btn.text' | translate }}
    </button>
  </div>
</div>
