.new-user {
  .title {
    display: block;
    padding: 40px 40px 0;
    height: 108px;
  }

  .content {
    .user-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 40px 10px;

      mat-form-field {
        width: calc(25% - 10px);
      }

      .input {
        line-height: 18px;
      }
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 14px 40px 34px;
  }

  mat-error {
    margin-top: 10px;
    margin-left: -20px;
  }

  .validation-message {
    margin-left: 40px;
  }
}
