@use '@angular/material' as mat;

@mixin new-user-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .new-user {
    .title {
      box-shadow: 0 0 8px 0 mat.get-color-from-palette($background, shadow-color);
    }

    .content {
      .user-form {
        .input {
          color: mat.get-color-from-palette($foreground, text);
        }
      }
    }
  }
}
