.experiment-ending-criteria {
  .title {
    display: block;
    padding: 40px 40px 0;
    height: 108px;
  }

  .experiment-end-form {
    margin: 20px 0;
    padding: 0 40px;

    mat-checkbox {
      &.mat-checkbox-checked {
        color: var(--blue);
      }
    }

    .mat-radio-button,
    .input {
      font-weight: 600;
    }

    .starts-on-title {
      &--disable {
        color: var(--grey-5);
      }
    }

    .date-picker-container {
      margin: 0 0 30px 25px;

      mat-form-field {
        margin-left: 16px;
        width: 200px;
      }
    }

    .experiment-end-criteria {
      margin-left: 25px;

      .end-criteria {
        margin-left: 30px;

        .group-type {
          margin-left: 30px;

          &-control {
            line-height: 18px;
          }

          &--disable {
            color: var(--grey-5);
          }
        }
      }
    }
  }

  .validation-message {
    padding: 0 40px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
  }

  ::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: var(--blue);
  }

  ::ng-deep .owl-dt-control .owl-dt-control-content {
    color: var(--blue);
  }

  .groupsatisfied-status {
    display: flex;
    justify-content: flex-start;
    padding: 0 30px 30px;
    color: var(--grey-3);
    font-size: small;
  }
}
