.experiment-status {
  .title {
    display: block;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    padding: 40px 40px 0;
    height: 108px;
    color: var(--black-2);
  }

  &-form {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 40px;

    mat-form-field {
      margin-right: 10px;
      width: 45%;
    }
  }

  .info-msg,
  .error-msg {
    display: block;
    margin-bottom: 10px;
    padding: 0 40px;
    color: var(--green);
  }

  .error-msg {
    color: var(--red);
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
  }
}
