<mat-drawer-container [class]="theme$ | async">
  <mat-drawer mode="side" opened>
    <div class="drawer-container">
      <div class="logo">
        <a class="logo-link ft-36-800" [routerLink]="['/home']">UpGrade</a>
        <div class="version">
          <span>Version: {{ serverVersion }}</span>
        </div>
      </div>
      <div class="list-item-container">
        <mat-list class="list">
          <mat-list-item *ngFor="let link of routeLinks">
            <a
              class="nav-item ft-16-600"
              routerLinkActive="selected"
              [routerLink]="link.path"
              #linkInfo="routerLinkActive"
            >
              <mat-icon class="icon">{{ link.iconType }}</mat-icon>
              <span>{{ link.text | translate }}</span>
            </a>
          </mat-list-item>
        </mat-list>
        <div class="user">
          <mat-list class="user-list">
            <a class="profile" [routerLink]="['/profile']">
              <mat-list-item
                class="user-list--item ft-16-600"
                *ngIf="currentUser$ | async as user"
                routerLinkActive="user-list--item-selected"
              >
                <img src="{{ user?.imageUrl }}" class="user-pic" />
                <span>{{ (user?.firstName || '') + ' ' + (user?.lastName || '') }}</span>
              </mat-list-item>
            </a>
            <mat-list-item class="user-list--item ft-16-600">
              <a role="presentation" class="logout-link" (click)="logout()">
                <mat-icon class="icon">exit_to_app</mat-icon>
                <span>{{ 'home-global.sign-out.text' | translate }}</span>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="drawer__main-content">
    <div class="drawer__main-content-header"></div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
