mat-drawer-container {
  width: 100%;
  height: 100%;
}

mat-drawer {
  width: 243px;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .logo {
    display: flex;
    align-items: center;
    padding: 20px 26px 0 26px;
    height: 125px;
    flex-direction: column;

    &-link {
      text-decoration: none;
      color: var(--blue);
    }
  }

  .list-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 43px;
    height: 100%;

    .list {
      padding: 0 26px;

      ::ng-deep .mat-list-item-content {
        padding: 0;
      }

      .nav-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0.75rem 1rem;
        width: 100%;
        text-align: inherit;
        text-decoration: none;
        user-select: none;

        .icon {
          margin-right: 5px;
        }

        &.selected {
          border-radius: 7px;
          background-color: var(--blue);
          color: var(--white);
        }
      }
    }
  }

  .profile {
    text-decoration: none;
  }

  .user {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &-list {
      &--item {
        &-selected {
          border-radius: 7px;
          background-color: var(--blue);

          span {
            color: var(--white);
          }
        }
      }
    }

    &-pic {
      margin-right: 10px;
      border: 1px solid var(--blue);
      border-radius: 50%;
      width: 26px;
      height: 26px;
    }

    .logout-link {
      display: flex;
      align-items: center;
      margin-top: 10px;

      &:hover {
        cursor: pointer;
      }

      .icon {
        transform: rotate(180deg);
        margin-right: 10px;
      }
    }
  }
}

.drawer__main-content {
  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 25px;
  }
}

.version {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
