<app-common-section-card>
  <app-common-section-card-search-header
    header-left
    [filterOptions]="['All', 'Name', 'Status', 'Context']"
    [initialFilterOption]="'All'"
    [initialSearchValue]=""
    (search)="onSearch($event)"
  ></app-common-section-card-search-header>
  <app-common-section-card-action-buttons
    header-right
    [showPrimaryButton]="true"
    [primaryButtonText]="'feature-flags.add-feature-flag.text' | translate"
    [menuButtonItems]="menuButtonItems"
    (primaryButtonClick)="onAddFeatureFlagButtonClick()"
    (menuButtonItemClick)="onMenuButtonItemClick($event)"
    (sectionCardExpandChange)="onSectionCardExpandChange($event)"
    ></app-common-section-card-action-buttons>
  <div content *ngIf="!(isLoadingFeatureFlags$ | async); else loading"><pre>{{( allFeatureFlags$ | async) | json }}</pre></div>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</app-common-section-card>
