<mat-progress-bar mode="indeterminate" *ngIf="isAuditLoading$ | async"></mat-progress-bar>
<div class="logs" #auditLogContainer>

  <ng-container *ngIf="(auditLogData | json) != '{}'; else zeroStateAudit">
    <div class="timeline-container" *ngFor="let logData of auditLogData | keyvalue: valueDescOrder">
      <div class="error-date">
        <span class="date-info">{{ logData.key | logDateFormatPipe: LogDateFormatTypes.DATE_MONTH }}</span>
        <span class="day-info">{{ logData.key | logDateFormatPipe: LogDateFormatTypes.YEAR_DAY }}</span>
      </div>

      <logs-timeline class="timeline" [logData]="logData.value" [logType]="LogType.AUDIT_LOG"></logs-timeline>
    </div>
  </ng-container>
  <ng-template #zeroStateAudit>
    <span
      *ngIf="!(isAuditLoading$ | async)"
      class="zero-state"
      [innerHTML]="'logs-global.log-zero-state.text' | translate"
    ></span>
  </ng-template>
</div>
