.experiment-schedule-form {
  margin: 20px 0 0 20px;

  mat-checkbox,
  mat-radio-button,
  mat-form-field {
    font-family: 'Open Sans';
    font-size: var(--text-size-normal);
    font-weight: 600;
  }

  .starts-on-title {
    font-family: 'Open Sans';
    font-size: var(--text-size-normal);
    font-weight: 600;

    &--disable {
      color: rgba(0, 0, 0, 0.38);
    }
  }

  .date-picker-container {
    margin: 0 0 30px 20px;

    mat-form-field {
      margin-left: 30px;
      width: 200px;
    }
  }

  .experiment-end-criteria {
    margin-left: 20px;

    .end-criteria {
      margin-left: 30px;

      .group-type {
        margin-left: 30px;

        &--enable {
          color: var(--black);
        }

        &--disable {
          color: rgba(0, 0, 0, 0.38);
        }
      }
    }
  }
}

.validation-message {
  display: block;
  padding: 5px 0 0 10px;
  color: var(--red);
  font-size: var(--text-size-small);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  button {
    margin-left: 10px;
  }
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: var(--blue) !important;
}

::ng-deep .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--blue) !important;
}

::ng-deep .mat-radio-button.mat-primary .mat-radio-inner-circle {
  background-color: var(--blue) !important;
}

::ng-deep .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: var(--blue);
}

::ng-deep .owl-dt-control .owl-dt-control-content {
  color: var(--blue);
}
