@if (selectedSegment$ | async; as segment) { @let canShowSegmentActions = (permissions$ | async)?.segments.update; @let
appContext = segment.context;

<app-common-section-card>
  <!-- header-left -->
  <app-common-section-card-title-header
    header-left
    [title]="title | translate"
    [subtitle]="subtitle | translate"
    [tableRowCount]="tableRowCount$ | async"
  ></app-common-section-card-title-header>

  <!-- header-right -->
  <app-common-section-card-action-buttons
    header-right
    [showPrimaryButton]="canShowSegmentActions"
    [primaryButtonText]="buttonText | translate"
    [showMenuButton]="true"
    [menuButtonItems]="menuButtonItems$ | async"
    [isSectionCardExpanded]="isSectionCardExpanded"
    (primaryButtonClick)="onAddListClick(appContext, segment.id, segment.type)"
    (menuButtonItemClick)="onMenuButtonItemClick($event, segment)"
    (sectionCardExpandChange)="onSectionCardExpandChange($event)"
  >
  </app-common-section-card-action-buttons>

  <!-- content -->
  @if (isSectionCardExpanded) {
  <app-segment-lists-table
    content
    [showActions]="canShowSegmentActions"
    (rowAction)="onRowAction($event, segment.id)"
  ></app-segment-lists-table>
  }
</app-common-section-card>
}
