div {
  width: 100%;

  .inner-table-container {
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    margin: 10px 5px 10px 25px;
  }

  .mat-table {
    mat-cell,
    mat-header-cell {
      display: flex;
      justify-content: center;
      padding: 0px 15px !important;
      text-align: center;
      word-break: break-word;
    }

    mat-header-cell {
      color: var(--grey-2);
    }

    .mat-column-expandIcon {
      flex-grow: 0;
    }

    .mat-icon {
      position: relative;
      cursor: pointer;

      &.active {
        transform: rotate(90deg);
      }
    }
  }

  .expandable-row {
    min-height: 0;
    overflow: hidden;

    mat-cell,
    mat-header-cell {
      padding: 0px;
    }

    .mat-column-experimentPoint {
      padding-left: 20px;
    }
  }
}
