@import '../../../../../../styles/styles-variables.scss';

$step-label-color: #A0A7B5;

::ng-deep .mat-horizontal-stepper-header {
  box-sizing: border-box;
  flex-direction: column-reverse !important;
  padding: 24px;
  height: auto;
}

::ng-deep .mat-horizontal-stepper-header .mat-step-label {
  padding: 0px 0px 16px !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after{
  top: 68px !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  top: 68px !important;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}


::ng-deep .mat-step-header .mat-step-icon-selected, ::ng-deep .mat-step-header .mat-step-icon-state-done, ::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: $blue !important;
}

.step-label {
  color: $step-label-color;
  font-family: OpenSans-Regular;

  &--selected {
    color: $black;
  }
}
