<div class="shared-modal--step-container">
  <section class="shared-modal--form-container">
    <form class="metric-design" [formGroup]="queryForm">
      <span class="title">{{ 'home.new-experiment.metrics.text' | translate }}</span>
      <ng-container *ngIf="allMetrics?.length; else noAvailableMetricsMessage">
        <!-- Metric Table -->
        <ng-container>
          <mat-table class="metric-table" [dataSource]="metricsDataSource" formArrayName="queries" #metricTable>
            <!-- Metric Column -->
            <ng-container matColumnDef="keys">
              <mat-header-cell class="ft-14-700" *matHeaderCellDef>
                {{ 'query.metric.text' | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let queryIndex = index" [formGroupName]="queryIndex">
                <ng-container formArrayName="keys">
                  <div class="metric-keys">
                    <mat-form-field
                      class="dense-2 form-control auto-complete"
                      appearance="outline"
                      subscriptSizing="dynamic"
                      *ngFor="let key of getKeys(queryIndex).controls; let keyIndex = index"
                    >
                      <ng-container [formGroupName]="keyIndex">
                        <input
                          class="ft-14-400"
                          type="text"
                          matInput
                          [placeholder]="getMetricPlaceHolder(keyIndex)"
                          formControlName="metricKey"
                          [matAutocomplete]="auto"
                        />
                        <mat-autocomplete
                          (optionSelected)="selectedOption($event, null, null, queryIndex, keyIndex)"
                          #auto="matAutocomplete"
                          [displayWith]="displayFn"
                          panelWidth="fit-content"
                        >
                          <div *ngIf="keyIndex == 0">
                            <mat-option
                              class="ft-14-400"
                              *ngFor="let option of filteredMetrics1$[queryIndex] | async"
                              [value]="option"
                            >
                              {{ option.key }}
                            </mat-option>
                          </div>
                          <div *ngIf="keyIndex == 1">
                            <mat-option
                              class="ft-14-400"
                              *ngFor="let option of filteredMetrics2$[queryIndex] | async"
                              [value]="option"
                            >
                              {{ option.key }}
                            </mat-option>
                          </div>
                          <div *ngIf="keyIndex == 2">
                            <mat-option
                              class="ft-14-400"
                              *ngFor="let option of filteredMetrics3$[queryIndex] | async"
                              [value]="option"
                            >
                              {{ option.key }}
                            </mat-option>
                          </div>
                        </mat-autocomplete>
                      </ng-container>
                    </mat-form-field>
                  </div>
                </ng-container>
              </mat-cell>
            </ng-container>
            <!-- Statistic Column -->
            <ng-container matColumnDef="operationType">
              <mat-header-cell class="ft-14-700" *matHeaderCellDef>
                {{ 'monitor.statistic.text' | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let queryIndex = index" [formGroupName]="queryIndex">
                <div class="secondary-form">
                  <!-- repeated measure -->
                  <mat-form-field
                    class="dense-2 form-control"
                    appearance="outline"
                    subscriptSizing="dynamic"
                    *ngIf="
                      firstSelectedNode[queryIndex] &&
                      isMetricRepeated(firstSelectedNode[queryIndex], queryIndex, editMode)
                    "
                  >
                    <mat-select
                      class="ft-14-400"
                      [placeholder]="
                        'home.new-experiment.metrics.repeated-measure.placeholder.text' | translate | titlecase
                      "
                      formControlName="repeatedMeasure"
                    >
                      <div
                        *ngIf="
                          selectedNode[queryIndex] &&
                          selectedNode[queryIndex]?.metadata?.type === IMetricMetadata.CONTINUOUS
                        "
                      >
                        <mat-option
                          class="ft-14-400"
                          *ngFor="let measure of ContinuousRepeatedMeasure"
                          [value]="measure"
                        >
                          {{ measure | titlecase }}
                        </mat-option>
                      </div>
                      <div
                        *ngIf="
                          selectedNode[queryIndex] &&
                          selectedNode[queryIndex]?.metadata?.type === IMetricMetadata.CATEGORICAL
                        "
                      >
                        <mat-option
                          class="ft-14-400"
                          *ngFor="let measure of CategoricalRepeatedMeasure"
                          [value]="measure"
                        >
                          {{ measure | titlecase }}
                        </mat-option>
                      </div>
                    </mat-select>
                  </mat-form-field>
                  <!-- statistic -->
                  <mat-form-field class="dense-2 form-control" appearance="outline" subscriptSizing="dynamic">
                    <mat-select
                      class="ft-14-400"
                      [placeholder]="'home.new-experiment.metrics.statistics.placeholder.text' | translate | titlecase"
                      formControlName="operationType"
                    >
                      <mat-option
                        class="ft-14-400"
                        *ngFor="let operation of filteredStatistic$[queryIndex]"
                        [value]="operation.value"
                      >
                        {{ operation.viewValue | titlecase }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- comparison function -->
                  <mat-form-field
                    class="dense-2 form-control"
                    appearance="outline"
                    subscriptSizing="dynamic"
                    *ngIf="
                      selectedNode[queryIndex] &&
                      selectedNode[queryIndex]?.metadata?.type !== IMetricMetadata.CONTINUOUS
                    "
                  >
                    <mat-select
                      class="ft-14-400"
                      [placeholder]="'query.form-comparison-function.text' | translate | titlecase"
                      formControlName="compareFn"
                    >
                      <mat-option class="ft-14-400">{{ 'query.none-option.text' | translate }}</mat-option>
                      <mat-option class="ft-14-400" *ngFor="let fn of comparisonFns" [value]="fn.value">
                        {{ fn.viewValue | titlecase }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- compare value -->
                  <mat-form-field
                    class="dense-2 form-control"
                    appearance="outline"
                    subscriptSizing="dynamic"
                    *ngIf="
                      selectedNode[queryIndex] &&
                      selectedNode[queryIndex]?.metadata?.type !== IMetricMetadata.CONTINUOUS
                    "
                  >
                    <mat-select
                      class="ft-14-400"
                      [placeholder]="'query.form-compare-value.text' | translate | titlecase"
                      formControlName="compareValue"
                    >
                      <mat-option
                        class="ft-14-400"
                        *ngFor="let value of selectedNode[queryIndex]?.allowedData"
                        [value]="value"
                      >
                        {{ value | titlecase }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-cell>
            </ng-container>
            <!-- Description Column -->
            <ng-container matColumnDef="queryName">
              <mat-header-cell class="ft-14-700" *matHeaderCellDef>
                {{ 'home.new-experiment.metrics.description-header.placeholder.text' | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let queryIndex = index" [formGroupName]="queryIndex">
                <mat-form-field class="dense-2" appearance="outline" subscriptSizing="dynamic">
                  <input
                    class="ft-14-400"
                    matInput
                    [placeholder]="'home.new-experiment.metrics.description.placeholder.text' | translate"
                    formControlName="queryName"
                    autocomplete="off"
                  />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="removeMetric">
              <mat-header-cell class="ft-14-700" *matHeaderCellDef></mat-header-cell>
              <mat-cell
                *matCellDef="let element; let queryIndex = index"
                [formGroupName]="queryIndex"
                style="justify-content: flex-start"
              >
                <mat-icon class="remove-icon" (click)="removeMetric(queryIndex)"> delete_outline </mat-icon>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="metricsDisplayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: metricsDisplayedColumns"></mat-row>
          </mat-table>

          <button type="button" class="ft-12-700 add-metric" (click)="addMetrics()">
            +
            {{ 'home.new-experiment.design.add-metric.text' | translate }}
          </button>
        </ng-container>
        <br />
        <div class="validation-messages-container">
          <span
            class="ft-14-600 validation-message"
            *ngIf="queryMetricKeyError.length > 0"
            [innerHTML]="'home.new-experiment.metrics.metrics-key-exist.validation.text' | translate"
          ></span>
          <span
            class="ft-14-600 validation-message"
            *ngIf="queryStatisticError.length > 0"
            [innerHTML]="'home.new-experiment.metrics.statistics-exist.validation.text' | translate"
          ></span>
          <span
            class="ft-14-600 validation-message"
            *ngIf="queryComparisonStatisticError.length > 0"
            [innerHTML]="'home.new-experiment.metrics.comparison-statistics-exist.validation.text' | translate"
          ></span>
          <span
            class="ft-14-600 validation-message"
            *ngIf="queryNameError.length > 0"
            [innerHTML]="'home.new-experiment.metrics.description-exist.validation.text' | translate"
          ></span>
          <span
            class="ft-14-600 validation-message"
            *ngIf="queryMetricDropDownError.length > 0"
            [innerHTML]="'home.new-experiment.metrics.metric-name-exist.validation.text' | translate"
          ></span>
        </div>
      </ng-container>
      <ng-template #noAvailableMetricsMessage>
        <br />
        <br />
        <div class="no-metrics-message-container">
          <span
            class="ft-14-600 no-metrics-message"
            [innerHTML]="'home.new-experiment.metrics.no-available-metrics.text' | translate"
          ></span>
        </div>
      </ng-template>

      <!-- Reward Metric Section -->
      <div class="reward-metric-container" *ngIf="isMoocletExperimentDesign$ | async">
        <span class="title">{{ 'home.new-experiment.metrics.reward-metric.text' | translate }}</span>
        <mat-table class="reward-metric-table" [dataSource]="rewardMetricDataSource">
          <!-- Metric Column -->
          <ng-container matColumnDef="metricsKey">
            <mat-header-cell class="ft-14-700" *matHeaderCellDef>
              {{ 'query.metric.text' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.metric_Key }}
            </mat-cell>
          </ng-container>

          <!-- Statistic Column -->
          <ng-container matColumnDef="metricsOperation">
            <mat-header-cell class="ft-14-700" *matHeaderCellDef>
              {{ 'monitor.statistic.text' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.metric_Operation }}
            </mat-cell>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="metricsName">
            <mat-header-cell class="ft-14-700" *matHeaderCellDef>
              {{ 'home.new-experiment.metrics.description-header.placeholder.text' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.metric_Name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="removeMetric">
            <mat-header-cell class="ft-14-700" *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="rewardMetricDisplayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: rewardMetricDisplayedColumns"></mat-row>
        </mat-table>

        <p class="form-hint ft-12-400">
          A reward metric is required for adaptive experiments.
          <a class="learn-more-link" href="https://www.upgradeplatform.org/" target="_blank" rel="noopener noreferrer"
            >Learn more</a
          >
        </p>
      </div>
    </form>
  </section>

  <section class="shared-modal--buttons-container">
    <span class="shared-modal--buttons-left">
      <button
        matStepperPrevious
        mat-raised-button
        class="shared-modal--modal-btn btn-back default-button"
        (click)="handleBackBtnClick()"
      >
        {{ 'global.back.text' | translate }}
      </button>
    </span>
    <span class="shared-modal--buttons-right">
      <button
        type="button"
        mat-raised-button
        class="shared-modal--modal-btn"
        (click)="emitEvent(NewExperimentDialogEvents.CLOSE_DIALOG)"
      >
        {{ 'global.cancel.text' | translate }}
      </button>
      <button
        type="button"
        mat-raised-button
        class="shared-modal--modal-btn default-button"
        (click)="emitEvent(NewExperimentDialogEvents.SEND_FORM_DATA)"
      >
        {{ 'global.next.text' | translate }}
      </button>
      <button
        type="button"
        *ngIf="experimentInfo"
        mat-raised-button
        class="shared-modal--modal-btn default-button"
        (click)="emitEvent(NewExperimentDialogEvents.SAVE_DATA)"
      >
        {{ 'global.save.text' | translate }}
      </button>
    </span>
  </section>
</div>
