
.metric-design {
  .metric-table {
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;

    mat-header-row {
      min-height: 35px;
    }

    mat-row {
      min-height: 80px;
      max-height: 200px;
    }

    mat-header-cell {
      justify-content: left;
      margin-right: 10px;
      color: var(--grey-6);
    }

    mat-cell {
      margin-top: -20px;
      justify-content: left;
      margin-right: 10px;
      margin-bottom: -20px;
      width: 100%;
    }

    .metric-keys {
      display: grid;
      flex-direction: row;
      flex-wrap: wrap;

      .dropdown {
        position: absolute;
        right: 0;
        top: 0; 
      }
    }

    .secondary-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:left;
      margin-top: -35px;
  
      .form-control {
        flex: 0 0 10%;
        line-height: 20px;
        min-height: 16px;
        max-height: 20px;
      }

      mat-form-field {
        width: 130%;
        margin-bottom: 4px;
        text-align: left;
      }
    }

    .cdk-column-removeMetric {
      flex: 0 0 10%;
      width: 10%;
    }

    .cdk-column-keys {
      flex: 0 0 35%;
      width: 35%;
    }

    .cdk-column-operationType {
      flex: 0 0 25%;
      width: 25%;
    }

    .cdk-column-queryName {
      flex: 0 0 30%;
      width: 30%;
    }
    .remove-icon {
      position: center;
      top: -3px;
      width: 18px;
      height: 18px;
      font-size: var(--text-size-x-large);

      &:hover {
        cursor: pointer;
      }
    }

    .auto-complete {
      margin-top: -10px;
      margin-bottom: -10px;
    }

    mat-form-field {
      width: 130%;
      margin-bottom: 5px;
      text-align: left;
    }
  }

  .add-metric {
    margin-top: 10px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: var(--blue);
  }

  .metrics-table {
    margin-top: 30px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: unset;
    background-color: unset !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    display: none;
  }
}

.header-group {
  display: grid;
  margin-left: -80px;
  justify-content: center;
}
