<div mat-dialog-content class="metric-delete-dialog">
  <p class="ft-16-600">
    {{ 'metric.delete-metric.message.text' | translate: { metricName: data.key.join(' ') } }}
  </p>
</div>
<div mat-dialog-actions class="metric-delete-dialog-actions">
  <button
    class="modal-btn"
    mat-flat-button
    (click)="onCancelClick()"
  >
    {{ 'global.cancel.text' | translate }}
  </button>
  <button
    class="modal-btn default-button delete-btn"
    mat-flat-button
    cdkFocusInitial
    (click)="deleteMetric()"
  >
    {{ 'global.delete.text' | translate }}
  </button>
</div>
