<div class="timeline">
  <ng-container *ngFor="let log of logData; let index = index">
    <div class="timeline-container">
      <img [src]="log.user.imageUrl" class="icon" *ngIf="log.user?.imageUrl; else errorLogIconTemplate"/>

      <ng-template #errorLogIconTemplate>
        <app-shared-icons
          class="{{ 'icon icon--' + (log.value | errorLog: 'class') }}"
          [iconType]="log.value | errorLog: 'icon'"
        ></app-shared-icons>
      </ng-template>

      <div class="content" *ngIf="logType === LogType.AUDIT_LOG; else errorLogTemplate">
        <span class="user-name"><u>{{ log['user']['firstName'] + ' ' + log['user']['lastName'] }}</u></span>

        <span
          *ngIf="!log.data.isExperimentExist; else experimentExistTemplate"
          matTooltipClass="experiment-tooltip"
          [matTooltip]="'audit.log-experiment-deleted-tooltip.text' | translate: { experimentName: log.data.experimentName }"
          matTooltipPosition="above"
        > {{ (log.type | experimentActionMessage | translate) + ' ' + log.data.experimentName }} </span>

        <ng-template #experimentExistTemplate>
          <span> {{ log.type | experimentActionMessage | translate }} </span>
          <a
            class="link"
            [routerLink]="['/home', 'detail', log.data.experimentId]"
          >{{ log.data.experimentName }}</a>
        </ng-template>
      </div>

      <ng-template #errorLogTemplate>
        <span class="error-type"><u>{{ log.value }}</u></span>
        <span> :</span>
        <span class="error-message">{{ log.message }}</span>
      </ng-template>

    </div>
  </ng-container>
</div>
