:host ::ng-deep .flags-list-container {
  height: 100%;
  width: 100%;

  .flags-list-table-container {
    position: relative;
    margin-top: 8px;
    overflow: auto;
    width: 100%;

    .spinner {
      position: sticky;
      top: 0;
      z-index: 1111;
    }
  }

  .flags-list {
    width: 100%;

    th {
      color: var(--grey-2);
    }

    tr.mat-mdc-footer-row,
    tr.mat-mdc-row {
      height: 55px;
    }

    .mat-mdc-cell,
    .mat-mdc-header-cell {
      padding: 10px 5px;
      padding-left: 20px;
      width: 10%;
      word-break: break-word;
    }

    .mat-mdc-header-cell {
      background-color: var(--zircon);
      margin-bottom: 10px;
    }

    .flag {
      &-name {
        text-decoration: underline;
        cursor: pointer;
      }

      &-description {
        color: var(--grey-3);
      }
    }

    .mat-mdc-form-field {
      width: 40%;
    }
  }

  .no-data-row {
    text-align: center;
    font-size: 16px;
    color: var(--dark-grey);
    padding: 16px;
  }
}