<div scroll (scrolled)="fetchFlagsOnScroll()" class="flag-list-table-container" #tableContainer>
  <mat-progress-bar class="spinner" mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
  <table
    class="flag-list-table"
    mat-table
    [dataSource]="dataSource$"
    [ngClass]="{ 'no-data': !dataSource$?.data?.length }"
    matSort
    (matSortChange)="changeSorting($event)"
    [matSortActive]="flagSortKey$ | async"
    [matSortDirection]="flagSortAs$ | async | lowercase"
  >
    <!-- Name Column -->
    <ng-container [matColumnDef]="FLAG_ROOT_COLUMN_NAMES.NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="name-column ft-14-600">
        {{ FLAG_TRANSLATION_KEYS.NAME | translate }}
      </th>
      <td mat-cell *matCellDef="let flag" class="name-column ft-14-400">
        <a
          [routerLink]="['/featureflags', 'detail', flag.id]"
          [matTooltip]="flag.name.length >= 30 ? flag.name : null"
          matTooltipPosition="above"
          class="flag-name"
        >
          {{ flag.name | truncate: 30 }}
        </a>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container [matColumnDef]="FLAG_ROOT_COLUMN_NAMES.STATUS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="status-column ft-14-600">
        {{ FLAG_TRANSLATION_KEYS.STATUS | translate }}
      </th>
      <td mat-cell *matCellDef="let flag" class="status-column ft-14-400">
        <app-common-status-indicator-chip
          [chipClass]="flag.status"
          [showWarning]="(warningStatusForAllFlags$ | async)[flag.id]"
        ></app-common-status-indicator-chip>
      </td>
    </ng-container>

    <!-- Updated at Column -->
    <ng-container [matColumnDef]="FLAG_ROOT_COLUMN_NAMES.UPDATED_AT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="updated-at-column ft-14-600">
        {{ FLAG_TRANSLATION_KEYS.UPDATED_AT | translate }}
      </th>
      <td mat-cell *matCellDef="let flag" class="updated-at-column ft-14-400">
        {{ flag.updatedAt | date: 'MMM d, y h:mm a' }}
      </td>
    </ng-container>

    <!-- App Context Column -->
    <ng-container [matColumnDef]="FLAG_ROOT_COLUMN_NAMES.APP_CONTEXT">
      <th mat-header-cell *matHeaderCellDef class="app-context-column ft-14-600">
        {{ FLAG_TRANSLATION_KEYS.APP_CONTEXT | translate }}
      </th>
      <td mat-cell *matCellDef="let flag" class="ft-14-400">
        {{ flag.context[0] }}
      </td>
    </ng-container>

    <!-- Tags Column -->
    <ng-container [matColumnDef]="FLAG_ROOT_COLUMN_NAMES.TAGS">
      <th mat-header-cell *matHeaderCellDef class="tags-column ft-14-600">
        {{ FLAG_TRANSLATION_KEYS.TAGS | translate }}
      </th>
      <td mat-cell *matCellDef="let flag" class="tags-column ft-14-400 dense-2">
        <mat-chip-listbox>
          <mat-chip *ngFor="let tag of flag.tags" class="tag">
            <span class="chip-label">
              {{ tag }}
            </span>
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>

    <!-- Exposures Column -->
    <ng-container [matColumnDef]="FLAG_ROOT_COLUMN_NAMES.EXPOSURES">
      <th mat-header-cell *matHeaderCellDef class="exposures-column ft-14-600">
        {{ FLAG_TRANSLATION_KEYS.EXPOSURES | translate }}
      </th>
      <td mat-cell *matCellDef="let flag" class="exposures-column ft-14-400">
        <span class="exposure">{{ flag.exposures }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- No Data Row -->
    <tr *matNoDataRow>
      <td class="ft-14-400" [attr.colspan]="displayedColumns.length">
        {{ 'feature-flags.no-flags-in-table.text' | translate }}
      </td>
    </tr>
  </table>
</div>
