$experiment-state-light-color: #8f9bb3;

.experiments-list-container {
  border-radius: 10px;
  box-shadow: unset !important;
  padding: 0;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.25rem;
    height: 94px;

    .filter-options {
      margin-right: 10px;
      width: 80px;

      ::ng-deep .mat-form-field-underline,
      ::ng-deep .mat-form-field-ripple {
        background-color: unset;
      }
    }

    .search-input {
      line-height: 20px;
    }

    button {
      background-color: var(--blue);
      height: 40px;
      color: var(--white);
    }

    .export-experiments {
      margin-right: 20px;
    }

    .import-experiment {
      margin-right: 20px;
    }
  }

  ::ng-deep .mat-form-field-suffix {
    top: 5px;
  }

  .experiment-list-table-container {
    position: relative;
    margin-top: 8px;
    padding: 0 2.25rem;
    overflow: auto;

    .spinner {
      position: sticky;
      top: 0;
      z-index: 1111;
    }
  }

  .experiment-list {
    width: 100%;

    th {
      color: var(--grey-2);
    }

    tr.mat-footer-row,
    tr.mat-row {
      height: 55px;
    }

    td {
      .enrollment-info {
        display: block;
      }
    }

    .mat-cell,
    .mat-header-cell {
      padding: 10px 5px;
      word-break: break-word;

      &.cdk-column-name {
        width: 15%;
      }

      &.cdk-column-postExperimentRule {
        width: 16%;
      }

      &.cdk-column-enrollment {
        width: 9%;
      }

      &.cdk-column-createdAt {
        width: 13%;
      }

      &.cdk-column-context,
      &.cdk-column-tags,
      &.cdk-column-state {
        width: 14%;
      }
    }

    .mat-header-cell {
      &.cdk-column-state,
      &.cdk-column-context,
      &.cdk-column-createdAt {
        padding-left: 5px;
      }
    }

    .experiment {
      &-name {
        text-decoration: underline;
      }

      &-state {
        display: flex;
        align-items: center;

        &--light {
          color: $experiment-state-light-color;
        }

        &-circle {
          display: inline-block;
          margin-right: 6px;
          border-radius: 50%;
          width: 12px;
          height: 12px;
        }

        .icons {
          display: inline-flex;
          margin-right: 6px;
        }
      }

      &-description,
      &-schedule,
      &-revertTo {
        color: var(--grey-3);
      }
    }

    .chip {
      height: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
