$black-primary: mat-palette($mat-grey, 700, 300, 900);
$black-accent: mat-palette($mat-blue-grey, 400);
$black-warn: mat-palette($mat-red, 500);

$black-theme: mat-dark-theme($black-primary, $black-accent, $black-warn);
