<mat-card class="common-modal">
  <!-- top part of the dialog -->
  <header class="header-container">
    <h4 class="header-title">{{ title }}</h4>
    <button mat-icon-button mat-dialog-close class="close-btn">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
  </header>

  <section class="content-container">
    <ng-content></ng-content>
  </section>

  <!-- bottom part of the dialog -->
  <section *ngIf="!hideFooter" class="footer-container">
    <mat-dialog-actions style="align-self: end">
      <button class="dialog-action-btn cancel-btn" mat-flat-button [mat-dialog-close]="'goodbye'">
        {{ cancelBtnLabel }}
      </button>
      <button
        class="dialog-action-btn primary-btn"
        mat-flat-button
        [color]="primaryActionBtnColor"
        [disabled]="primaryActionBtnDisabled"
        (click)="onPrimaryActionBtnClicked()"
      >
        {{ primaryActionBtnLabel }}
      </button>
    </mat-dialog-actions>
  </section>
</mat-card>
