<mat-card class="common-modal">
  <!-- top part of the dialog -->
  <header class="header-container dense-2">
    <h4 class="ft-22-700 header-title">{{ title }}</h4>
    <button mat-icon-button mat-dialog-close class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <section class="content-container">
    <ng-content></ng-content>
  </section>

  <!-- bottom part of the dialog -->
  <section *ngIf="!hideFooter" class="footer-container">
    <button mat-flat-button mat-dialog-close class="dialog-action-btn cancel-btn">
      {{ cancelBtnLabel }}
    </button>
    <button
      class="dialog-action-btn"
      mat-flat-button
      [color]="primaryActionBtnColor"
      [disabled]="primaryActionBtnDisabled"
      (click)="onPrimaryActionBtnClicked()"
    >
      {{ primaryActionBtnLabel }}
    </button>
  </section>
</mat-card>
