:host ::ng-deep .common-section-card {
  width: 100%;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  background-color: var(--white);

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    border-radius: 4px;
    padding: 30px;

    .header-left {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 48%;
      height: 50px; //placeholder remove me when i have content
    }
  
    .header-right {
      background-color: beige;
      width: 48%;
      height: 50px; //placeholder remove me when i have content
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
  }

  .footer {
    // placeholder
  }
}
