.form-standard {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .form-hint {
    color: var(--dark-grey);
  }

  .learn-more-link {
    color: var(--blue);
    text-decoration: underline;
  }
}
