.section-card-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 96px;
  border-bottom: 1px solid #e0e0e0;
}