.experiment-overview {
  display: flex;
  flex-direction: column;

  mat-form-field {
    line-height: 20px;
  }

  .name {
    width: 230px;
  }
  .description {
    width: 100%;
  }

  .property-container {
    .unit-of-assignment {
      width: 230px;
    }

    .group-type {
      margin-left: 50px;
      width: 230px;
    }
  }

  .condition-order,
  .consistency-rule,
  .chips {
    width: 230px;
  }

  .tags {
    width: 100%;
  }

  .logging {
    margin-top: 5px;
  }

  ::ng-deep .mat-chip-list-wrapper {
    max-height: 60px;
    overflow: auto;
  }

  ::ng-deep .mat-form-field-label {
    color: var(--grey-6);
  }
}

.loading-container {
  display: flex;
  height: 500px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
