.experiment-overview {
  display: flex;
  flex-direction: column;

  mat-form-field {
    line-height: 20px;
  }

  .name {
    width: 30%;
  }
  .description {
    width: 100%;
  }

  .property-container {
    .unit-of-assignment {
      width: 30%;
    }

    .group-type {
      margin-left: 10%;
      width: 25%;
    }
  }

  .consistency-rule,
  .context {
    width: 30%;
  }

  .chips {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30%;
  }

  .tags {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  ::ng-deep .mat-chip-list-wrapper {
    max-height: 60px;
    overflow: auto;
  }

  ::ng-deep .mat-form-field-label {
    color: var(--grey-6);
  }
}
