.experiment-overview {
  display: flex;
  flex-direction: column;
  row-gap: 18px;

  .name {
    width: 230px;
  }
  .description {
    width: 100%;
  }

  .property-container {
    .unit-of-assignment {
      width: 230px;
    }

    .group-type {
      margin-left: 50px;
      width: 230px;
    }
  }

  .stratification-container {
    .assignment-algorithm {
      width: 230px;
    }

    .stratification-factor {
      margin-left: 50px;
      width: 230px;
    }
  }

  .condition-order,
  .consistency-rule,
  .chips {
    width: 230px;
  }

  .chip-grid {
    max-height: 70px;
    overflow-y: auto;
  }

  .tags {
    width: 100%;
  }

  .mat-mdc-checkbox {
    z-index: 1;
    margin-top: -6px;
    margin-left: -8px;
  }
}

.loading-container {
  display: flex;
  height: 500px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
