::ng-deep .header {
  margin-top: -25px; // drawer__main-content-header pushes the header down by 25px
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .breadcrumb {
    display: flex;
    column-gap: 8px;

    .root-link, .details-name {
      color: var(--light-black);
    }
  }
}
