::ng-deep .header {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .breadcrumb {
    display: flex;
    column-gap: 8px;
    color: var(--light-black);

    .root-link {
      text-decoration: none;
    }
  }
}
