.condition-table-container {
  display: flex;
  flex-direction: column;
  padding: 0 34px 14px 34px;
  width: 100%;
  min-height: 150px;

  .spinner {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
  }

  .data {
    display: flex;

    .enrollment-condition-table-container {
      flex-grow: 1;
    }

    .enrollment-statistic {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      padding-top: 16px;
      width: 200px;

      &__unique {
        padding-bottom: 25px;
        text-align: center;
      }

      &__class {
        border-top: 1px solid var(--grey);
        padding: 25px 0;
        text-align: center;
      }

      .title {
        display: block;
        color: var(--grey-5);
      }

      .numbers {
        align-self: center;
        color: var(--blue);
      }
    }
  }
}
