.action-buttons {
  display: flex;
  align-items: center;
  column-gap: 4px;

  .main-container {
    padding: 0 16px;

    ::ng-deep .mat-mdc-slide-toggle .mdc-label {
      color: var(--dark-grey);
    }

    .primary-button-text {
      padding: 0 8px;
    }
  }

  .options-container {
    display: flex;
    column-gap: 4px;

    ::ng-deep .mat-mdc-icon-button .mat-icon {
      color: var(--dark-grey);
    }
  }
}
