// TODO: Make a common style with new experiment modal

::ng-deep .mat-horizontal-stepper-header-container {
  display: flex;
  align-items: center !important;
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.12);
  padding: 0 65px;
  height: 162px;
}

::ng-deep .mat-horizontal-stepper-header {
  box-sizing: border-box;
  flex-direction: column-reverse !important;
  padding: 24px;
  height: auto;
}

::ng-deep .mat-horizontal-content-container {
  padding: 40px 65px !important;
}

::ng-deep .mat-horizontal-stepper-header .mat-step-label {
  padding: 0px 0px 16px !important;
  font-size: var(--text-size-large);

  &-selected span {
    color: var(--blue);
  }
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after {
  top: 82px !important;
  border-top-color: var(--grey-5);
}

::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  top: 25px !important;
  border-top-color: var(--grey-5);
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--blue) !important;
}

.step-label {
  color: var(--grey-5);
  font-family: 'Open Sans';
  font-weight: 400;
}
