.export-experiment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;

  .spinner {
    width: 100%;
    margin: auto;
  }
  
  .title {
    display: block;
    padding: 40px 40px 0;
    height: 108px;
    border-bottom: 1px solid var(--light-grey);
  }

  &-form {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 40px 30px;

    mat-form-field {
      width: 100%;
    }
  }

  .info-msg {
    display: flex;
    flex-direction: column;
    padding: 0 40px 30px;
    margin-top: -35px;
    line-height: 32px;
    color: var(--blue);
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 40px;
  }
}
