@import '@angular/material/theming';

@mixin export-experiment-component-theme($theme) {
  $background: map-get($theme, background);

  .export-experiment-container {
    .title {
      box-shadow: 0 0 8px 0 mat-color($background, shadow-color);
    }
  }
}
