.segment-overview {
  display: flex;
  flex-direction: column;

  mat-form-field {
    line-height: 20px;
  }

  .name,
  .key,
  .variationType {
    width: 30%;
  }

  .description {
    width: 100%;
  }
  .chips {
    width: 30%;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 46px;
  }
}
