.experiments-container {
  display: flex;
  flex-direction: column;
  padding: 0 4.375rem 2rem;
  height: calc(100% - 66px); // Subtract theme selector's height

  .title {
    margin-bottom: 0;
    color: var(--black-2);
    font-family: 'Open Sans';
    font-size: var(--text-size-xxxxx-large);
    font-weight: 700;
  }

  .subtitle {
    display: block;
    margin-bottom: 40px;
    color: var(--grey-3);
    font-family: 'Open Sans';
    font-size: var(--text-size-normal);
    font-weight: 400;
  }

  .no-experiment-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--white);

    .text {
      text-align: center;
      line-height: 60px;
      color: var(--black-2);
      font-family: 'Open Sans';
      font-size: var(--text-size-xxx-large);
      font-weight: 600;
    }

    button {
      margin-top: 30px;
      background-color: var(--blue);
      color: var(--white);
      font-family: 'Open Sans';
      font-weight: 700;

      .icon {
        margin-right: 5px;
        vertical-align: unset;
      }
    }
  }

  .loading-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}
