$login-info-text-color: #6e6f72;

.login-theme {
  height: 100%;

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 6px;
      padding: 0;
      width: 653px;
      height: 664px;

      &-info-container {
        display: flex;
        position: relative;
        justify-content: center;
        height: 489px;

        .login-info {
          position: absolute;
          top: 40px;
          text-align: center;

          &__title {
            display: block;
            color: var(--white);
          }

          &__description {
            display: block;
            margin-top: 8px;
            color: var(--white);
          }
        }
      }

      .google-sign-in-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 49px 0 12px;
        border: solid 1px var(--blue);
        border-radius: 4px;
        background-color: var(--blue);
        padding: 0;
        width: 400px;
        height: 48px;
        color: var(--white);

        ::ng-deep svg {
          margin-right: 11px;
        }
      }

      .info {
        color: $login-info-text-color;

        &--terms {
          color: var(--blue);
        }
      }
    }
  }
}
