<div class="light-theme login-theme">
  <div class="login-container">
    <mat-card appearance="raised" class="login">
      <div class="login-info-container">
        <app-shared-icons [iconType]="'login-light'"></app-shared-icons>
        <div class="login-info">
          <span class="login-info__title ft-36-800">{{ 'global.app.name' | translate }}</span>
          <span class="login-info__description ft-16-700">{{ 'global.app.description' | translate }}</span>
        </div>
      </div>
      <div #googleSignInButtonRef class="google-sign-in-btn"></div>
      <span class="info ft-12-700">
        {{ 'login.info.text' | translate }}
        <a href="https://www.upgradeplatform.org/" target="_blank" class="info--link">www.upgradeplatform.org</a>
      </span>
    </mat-card>
  </div>
</div>
