::ng-deep .header-container {
  // TODO: Remove the drawer__main-content-header element from dashboard-root.component.html and update the existing root page styles (e.g., height and margin in home.component.scss)
  margin-top: -25px; // drawer__main-content-header pushes the header down by 25px
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    margin-bottom: 0;
    color: var(--grey-3);
  }
}
