@import '../../common/table-view.scss';

.preview-users {
  .preview-user-container {
    margin-top: 30px;

    table {
      width: 350px;

      .mat-cell {
        width: 50%;

        &.mat-column-id {
          width: 75%;
        }
      }

      .remove-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .paginator {
      width: 350px;
    }
  }
}
