$text-color: #8f9bb3;

.logs {
  &__searching {
    display: flex;
    justify-content: space-between;

    .search-input {
      width: 250px;
      line-height: 20px;
      font-family: OpenSans-Regular;
    }

    ::ng-deep .mat-form-field-suffix {
      top: 5px;
    }
  }

  .timeline-container {
    display: flex;
    margin-top: 40px;

    .error-date {
      width: 150px;
      min-width: 150px;

      .date-info {
        display: block;
        color: var(--black-2);
        font-family: OpenSans-Semibold;
        font-size: 24px;
      }

      .day-info {
        color: $text-color;
        font-family: OpenSans-Regular;
        font-size: 14px;
      }
    }

    .timeline {
      flex-grow: 1;
    }
  }
}
