<div class="table-container">
  <span class="title">{{ 'home.view-experiment.marked-experiment-point-by-condition.title.text' | translate }}</span>
  <div class="data">
    <div class="enrollment-condition-table-container">
      <app-table-row
        [dataSource]="experimentData"
        [displayedColumns]="displayedColumns"
        [referenceId]="'condition'"
        [experiment]="experiment"
      >
      </app-table-row>
    </div>

    <div class="enrollment-statistic">
      <div class="enrollment-statistic__unique">
        <span class="title">
          {{ 'home.view-experiment.global.users-excluded.text' | translate }}
        </span>
        <span class="numbers">{{ experiment.stat.userExcluded }}</span>
      </div>
      <div class="enrollment-statistic__class" *ngIf="experiment.assignmentUnit === AssignmentUnit.GROUP">
        <span class="title">
          {{ 'home.view-experiment.global.group-excluded.text' | translate }}
        </span>
        <span class="numbers">{{ experiment.stat.groupExcluded }}</span>
      </div>
    </div>
  </div>
</div>
