# General variables
current_directory       = "production"
aws_region              = "us-east-1"
environment             = "production"
prefix                  = "cli-upgrade" 
app_version             = "1.0.0"
aws_profile             = "upgrade-terraform"

# RDS related details 
allocated_storage       = 100
engine_version          = "11.5"
identifier              = "dev-postgres" 
instance_class          = "db.t2.small"
storage_type            = "gp2"
multi_az                = "false"

# EBS instance details
app_instance_type       = "t2.micro"
ebs_app_name            = "upgrade-experiment-app"
autoscaling_min_size    =  1 
autoscaling_max_size    =  4 

# APP environment variables
GOOGLE_CLIENT_ID        = "google-project-id"
MONITOR_PASSWORD        = "password"
SWAGGER_PASSWORD        = "password"
TYPEORM_SYNCHRONIZE     = true
TOKEN_SECRET_KEY        = "carnegielearning"
AUTH_CHECK              = true


# CICD variables
repository_name         = "educational-experiment-service"
branch_name             = "production"
build_image             = "aws/codebuild/standard:1.0"
build_compute_type      =  "BUILD_GENERAL1_LARGE"
privileged_mode         =  true

# Real values for secrets for this environment are stored in vault at
#   internal/upgrade-experiment-service/environments/production

# Create the keyfiles:
# vault kv get -field=id-rsa secret/internal/upgrade-experiment-service/environments/production > id_rsa
# vault kv get -field=id-rsa.pub secret/internal/upgrade-experiment-service/environments/production > id_rsa.pub

# Export the secrets into environment variables
# export TF_VAR_GOOGLE_CLIENT_ID=$(vault kv get -field=GOOGLE_CLIENT_ID secret/internal/upgrade-experiment-service/environments/production)
# export TF_VAR_MONITOR_PASSWORD=$(vault kv get -field=MONITOR_PASSWORD secret/internal/upgrade-experiment-service/environments/production)
# export TF_VAR_SWAGGER_PASSWORD=$(vault kv get -field=SWAGGER_PASSWORD secret/internal/upgrade-experiment-service/environments/production)
