aws_profile                   = "upgrade-terraform"
aws_region                    = "us-east-1"
environment                   = "production"
prefix                        = "cli-upgrade-frontend"
repository_name               = "experiment-service-client"
repository_branch             = "production"
