<div class="playground">
  <!-- when popping the dialog, need to be able to paramatarize the title, primary action button label, and the form fields -->
  <section class="button-section">
    <button
      mat-button
      (click)="openDialog()"
    >Open Dialog</button>
  </section>

  <!-- to view the template without needing to click the button -->
  <section class="component-section">


    <!-- <app-general-form-modal
      title="Add Feature Flag"
      primaryActionBtnLabel="Create"
      (primaryActionBtnClicked)="consoleLog($event)"
      (cancelBtnClicked)="consoleLog($event)"
    ></app-general-form-modal> -->
  </section>
</div>