<!-- TODO: Analysis query -->
<div class="queries-container">
  <mat-form-field>
    <input
      class="ft-16-400 search-input"
      matInput
      (keyup)="applyFilter($event.target.value)"
      [placeholder]="'global.search.text' | translate"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isAnalysisQueriesLoading$ | async"
  ></mat-progress-bar>
  <div
    #queriesTable
    class="queries-table-container"
  >
    <ng-container  *ngIf="allQueries.data?.length; else zeroState">
        <table mat-table [dataSource]="allQueries">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="ft-12-700">
              {{ 'query.table-id.text' | translate }}
            </th>
            <td class="ft-12-600" mat-cell *matCellDef="let element; let index = index">{{ index + 1 }}</td>
          </ng-container>

          <!-- Query Name Column -->
          <ng-container matColumnDef="queryName">
            <th mat-header-cell *matHeaderCellDef class="ft-12-700">
              {{ 'query.table-name.text' | translate }}
            </th>
            <td class="ft-12-600" mat-cell *matCellDef="let element; let index = index">
              {{ element?.name || '' }}
            </td>
          </ng-container>

          <!-- ExperimentName Column -->
          <ng-container matColumnDef="experimentName">
            <th mat-header-cell *matHeaderCellDef class="ft-12-700">
              {{ 'query.table-experiment.text' | translate }}
            </th>
            <td class="ft-12-600" mat-cell *matCellDef="let element; let index = index">
              {{ element.experiment?.name || '' }}
            </td>
          </ng-container>

          <!-- Metric Column -->
          <ng-container matColumnDef="metric">
            <th mat-header-cell *matHeaderCellDef class="ft-12-700">
              {{ 'query.table-metric.text' | translate }}
            </th>
            <td class="ft-12-600" mat-cell *matCellDef="let element; let index = index">
              <span>{{ element.metric.key?.split(METRICS_JOIN_TEXT).join(' ') }}</span>
            </td>
          </ng-container>

          <!-- operation Column -->
          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef class="ft-12-700">
              {{ 'query.table-operation.text' | translate }}
            </th>
            <td class="ft-12-600" mat-cell *matCellDef="let element; let index = index">
              <span>{{ element.query?.operationType | operationType }}</span>
            </td>
          </ng-container>

          <!-- Execute Column -->
          <ng-container matColumnDef="execute">
            <th mat-header-cell *matHeaderCellDef class="ft-12-700">
              {{ 'query.table-execute.text' | translate }}
            </th>
            <td class="ft-12-600" mat-cell *matCellDef="let element; let index = index">
              <mat-icon
                class="icon"
                (click)="executeQuery(element)"
              >send</mat-icon>
            </td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="ft-12-700">
            </th>
            <td class="ft-12-600" mat-cell *matCellDef="let element; let index = index">
              <mat-icon
                class="icon"
                (click)="editQuery(element)"
              >create</mat-icon>
            </td>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="ft-12-700">
            </th>
            <td class="ft-12-600" mat-cell *matCellDef="let element; let index = index">
              <mat-icon
                class="icon"
                (click)="deleteQuery(element)"
              >delete_outline</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </ng-container>
  </div>

  <ng-template #zeroState>
    <span
      *ngIf="!(isAnalysisQueriesLoading$ | async)"
      class="zero-state"
      [innerHTML]="'global.no-queries-tabs.text' | translate"
    >
    </span>
  </ng-template>
</div>
