.queries-container {
  .search-input {
    line-height: 20px;
  }

  .queries-table-container {
    overflow: auto;

    table {
      width: 100%;

      .mat-header-cell {
        padding-right: 10px;
      }

      .mat-cell {
        position: relative;
        padding-right: 10px;

        &.mat-column-id,
        &.mat-column-execute {
          width: 10%;
        }

        &.mat-column-queryName {
          width: 15%;
        }

        &.mat-column-metric {
          width: 25%;
        }

        &.mat-column-experimentName,
        &.mat-column-operation {
          width: 20%;
        }
      }

      .icon:hover {
        cursor: pointer;
      }
    }
  }
}
