.experiment-list-table-container {
  position: relative;
  overflow: auto;
  width: 100%;

  /* Subtract page header (112px), card header (96px), card content paddings (64px), and page bottom padding (32px) from vertical viewport (100vh) */
  max-height: calc(100vh - 304px);

  .spinner {
    position: sticky;
    top: 0;
    z-index: 1111;
  }

  /* Add gap between header and body when no data exists */
  ::ng-deep .no-data tbody:before {
    display: block;
    line-height: 8px;
    content: '\200C';
  }

  .experiment-list-table {
    ::ng-deep thead {
      tr.mat-mdc-header-row {
        height: 48px;
        border: 0;

        th {
          padding-left: 0;
          background-color: var(--zircon);
          color: var(--darker-grey);

          &:first-child {
            border-top-left-radius: 4px;
          }

          &:last-child {
            border-top-right-radius: 4px;
          }
        }
      }
    }

    ::ng-deep tbody {
      tr.mat-mdc-row {
        height: 56px;

        td {
          min-width: 96px;
          padding-left: 0;
          color: var(--black-2);
        }
      }

      tr.mat-mdc-no-data-row {
        td {
          height: 48px;
          text-align: center;
          border: 1.5px dashed var(--light-grey-2);
          color: var(--dark-grey);
        }
      }
    }

    .name-column {
      width: 22%;
      padding-left: 32px;

      .experiment-name {
        color: var(--black-2);
      }

      .experiment-description {
        color: var(--grey-3);
      }
    }

    .status-column {
      width: 13%;
    }

    .updated-at-column {
      width: 19%;
    }

    .app-context-column {
      width: 17%;
    }

    .tags-column {
      width: 19%;
    }

    .enrollment-column {
      width: 10%;
    }
  }
}
