<app-common-section-card>
  <!-- header-left -->
  <app-common-section-card-search-header 
    header-left
    [filterOptions]="['All', 'Name', 'Status', 'Context']"
    [initialFilterOption]="'All'"
    [initialSearchValue]=""
    (search)="onSearch($event)"
  ></app-common-section-card-search-header>

  <!-- header-right -->
  <div header-right>right</div>

  <!-- content -->
  <ng-container content>
    <ng-container *ngIf="!(isInitialLoading$ | async); else table">
      <mat-spinner></mat-spinner>
    </ng-container>
    
    <ng-template #table>
      <app-feature-flag-root-section-card-table class="full-width"
        [dataSource$]="allFeatureFlags$"
        [isLoading$]="isLoadingFeatureFlags$"
      ></app-feature-flag-root-section-card-table>
    </ng-template>
  </ng-container>
</app-common-section-card>
