<app-common-section-card>
  <!-- header-left -->
  <app-common-section-card-search-header
    header-left
    [filterOptions]="featureFlagFilterOption"
    [initialFilterOption]="selectedFeatureFlagFilterOption"
    [initialSearchValue]="searchValue"
    (search)="onSearch($event)"
  ></app-common-section-card-search-header>

  <!-- header-right -->
  <app-common-section-card-action-buttons
    header-right
    [showPrimaryButton]="true"
    [primaryButtonText]="'feature-flags.add-feature-flag.text' | translate"
    [menuButtonItems]="menuButtonItems"
    [isSectionCardExpanded]="isSectionCardExpanded"
    (primaryButtonClick)="onAddFeatureFlagButtonClick()"
    (menuButtonItemClick)="onMenuButtonItemClick($event)"
    (sectionCardExpandChange)="onSectionCardExpandChange($event)"
  ></app-common-section-card-action-buttons>

  <!-- content -->
  <ng-container content *ngIf="isSectionCardExpanded">
    <ng-container *ngIf="!(isInitialLoading$ | async); else table">
      <mat-spinner></mat-spinner>
    </ng-container>

    <ng-template #table>
      <app-feature-flag-root-section-card-table 
        class="full-width"
        [dataSource$]="allFeatureFlags"
        [isLoading$]="isLoadingFeatureFlags$"
      ></app-feature-flag-root-section-card-table>
    </ng-template>
  </ng-container>
</app-common-section-card>
