.enrollment-point-partition-table-container {
  margin-top: 30px;

  .title {
    color: var(--black-2);
    font-family: OpenSans-SemiBold;
    font-size: var(--text-size-xxx-large);
  }

  .enrollment-point-partition-table {
    margin-top: 10px;

    mat-cell,
    mat-header-cell {
      display: flex;
      justify-content: center;
      padding: 10px;
      word-break: break-word;
    }

    mat-header-cell {
      text-align: center;
    }

    mat-header-cell {
      border-color: var(--light-grey);
      color: var(--grey-2);
      font-family: OpenSans-Bold;
      font-size: var(--text-size-x-small);
    }
  }
}
