# General variables
current_directory       = "dev"
aws_region              = "us-east-1"
environment             = "development"
prefix                  = "cli-upgrade" 
app_version             = "1.0.0"
aws_profile             = "upgrade-terraform"

# RDS related details 
allocated_storage       = 100
engine_version          = "11.5"
identifier              = "dev-postgres" 
instance_class          = "db.t2.small"
storage_type            = "gp2"
multi_az                = "false"

# EBS instance details
app_instance_type       = "t2.micro"
ebs_app_name            = "upgrade-experiment-app"
autoscaling_min_size    =  1 
autoscaling_max_size    =  4 

# APP environment variables
GOOGLE_CLIENT_ID        = "google-project-id"
DOMAIN_NAME             = "playpowerlabs.com"
MONITOR_PASSWORD        = "password"
SWAGGER_PASSWORD        = "password"
TYPEORM_SYNCHRONIZE     = true
TOKEN_SECRET_KEY        = carnegielearning
AUTH_CHECK              = true
CONTEXT                 = "app@addition@subtraction@multiplication@division@addition simple@subtraction simple@multiplication simple@division simple@addition medium@subtraction medium@multiplication medium@division medium@addition hard@subtraction hard@multiplication hard@division hard@fraction"
ADMIN_USERS             = "mglover@carnegielearning.com:admin/\sritter@carnegielearning.com:admin/\sfancsali@carnegielearning.com:admin/\nirmal@playpowerlabs.com:admin/\vivek@playpowerlabs.com:admin/\mmchenry@carnegielearning.com:admin/\apople@carnegielearning.com:admin/\leslie@carnegielearning.com:admin/\sgrieco@carnegielearning.com:admin/\lseaman@carnegielearning.com:admin/\kschaefer@carnegielearning.com:admin/\abright@carnegielearning.com:admin/\amurphy@carnegielearning.com:admin/\derek@playpowerlabs.com:admin/\jaydip.hirapara@playpowerlabs.com:admin/\dhaval.prajapati@playpowerlabs.com:admin/\dev@playpowerlabs.com:admin/\dhrushit@playpowerlabs.com:admin"

# CICD variables
repository_name         = "educational-experiment-service"
branch_name             = "develop"
build_image             = "aws/codebuild/standard:1.0"
build_compute_type      =  "BUILD_GENERAL1_LARGE"
privileged_mode         =  true

# Email detail
EMAIL_FROM                      = "dev@playpowerlabs.com",
EMAIL_EXPIRE_AFTER_SECONDS      = 36000

# Real values for secrets for this environment are stored in vault at
#   internal/upgrade-experiment-service/environments/dev