<div class="title-header">
  <h5 class="title ft-18-700">
    {{ title | translate }} &nbsp;<span *ngIf="tableRowCount > 0"> ({{ tableRowCount }}) </span>
    <app-common-status-indicator-chip
      *ngIf="chipClass"
      [chipClass]="chipClass"
      [warningMessage]="warningMessage | translate"
      class="status-chip"
    ></app-common-status-indicator-chip>
    <app-common-warning-icon
      *ngIf="!chipClass && warningMessage"
      [warningMessage]="warningMessage | translate"
      class="warning-icon"
    ></app-common-warning-icon>
  </h5>
  <p class="subtitle">
    <ng-container *ngIf="subtitle">
      <span class="ft-14-400">
        {{ subtitle | translate }}
      </span>
    </ng-container>
    <ng-container *ngIf="createdAt && updatedAt">
      <span class="ft-14-400">
        {{ ('common-section-card-title-header.created-on.text' | translate) + (createdAt | date : 'MMM d, y') + ' | ' }}
      </span>
      <span class="ft-14-400">
        {{
          ('common-section-card-title-header.details-updated-at.text' | translate) +
            (updatedAt | date : 'MMM d, y, h:mm a') +
            '.'
        }}
      </span>
    </ng-container>
  </p>
</div>
