.title-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    height: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 0;

    .status-chip {
      margin-left: 8px;
    }

    .warning-icon {
      margin-top: 6px;
      margin-left: 8px;
    }
  }

  .subtitle {
    height: 24px;
    margin-bottom: 0;
    color: var(--dark-grey);

    .view-logs-link {
      margin-left: 4px;
      color: var(--blue);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
