<mat-card class="common-dialog">
  <!-- top part of the dialog -->
  <mat-card-header class="header-container">
    <mat-card-title class="header-title">{{ configData.title }}</mat-card-title>
  </mat-card-header>

  <mat-dialog-content class="child-content-container">
    <ng-content></ng-content>
  </mat-dialog-content>

  <!-- bottom part of the dialog -->
  <mat-card-footer class="footer-container">
    <mat-dialog-actions align="end">
      <button class="dialog-action-btn cancel-btn" mat-flat-button [mat-dialog-close]="'goodbye'">
        {{ configData.cancelBtnLabel }}
      </button>
      <button
        class="dialog-action-btn primary-btn"
        mat-flat-button
        [color]="configData.primaryActionBtnColor"
        (click)="onPrimaryActionBtnClicked()"
      >
        {{ configData.primaryActionBtnLabel }}
      </button>
    </mat-dialog-actions>
  </mat-card-footer>
</mat-card>
